<div class="row">
        <div class="col-md-12">

            <div class="button-row">
                <a md-raised-button routerLink="./new">NEW</a>
                <a md-raised-button (click)="download()">DOWNLOAD</a>            
            </div>
            <div class="pull-right">
                <span class="right-align">Results: {{campaigns.length}}</span>            
            </div>
        </div>
    </div>
    <hr *ngIf="campaigns.length === 0" />
     <list-stix-objects [model]="campaigns" [showLabels]="showLabels" [showExternalReferences]="showExternalReferences" (deletButtonClicked)="delete($event)"></list-stix-objects>
