<div id="indicatorSharingSortComponent">
  <label id="sortByLabel">Sort By:&nbsp;</label>
  <mat-radio-group [(ngModel)]="sortBy" (change)="sortIndicators()">
    <mat-radio-button [value]="sortTypes.NEWEST" color="primary" id="sortNewest">Newest</mat-radio-button>
    <mat-radio-button [value]="sortTypes.OLDEST" color="primary" id="sortOldest">Oldest</mat-radio-button>
    <mat-radio-button [value]="sortTypes.LIKES" color="primary" id="sortLikes">Likes</mat-radio-button>
    <mat-radio-button [value]="sortTypes.COMMENTS" color="primary" id="sortComments">Comments</mat-radio-button>
  </mat-radio-group>
</div>
