@import '../../../../styles/_variables.scss';

.side-panel {
    width: 350px;
    background-color: white;
}

.main-panel {
    min-height: calc(100vh - #{$navbar-height}px);
    background-color: #F1F1F1;
}

::ng-deep .uf-master-list-dialog .mat-dialog-container {
    mat-dialog-content {
        div.master-list-table {
            .master-list-item, .master-list-item-header {
                flex: 3 !important;
            }
            .master-list-capabilities, .master-list-capabilities-header {
                flex: 1;
                align-items: center;
                text-align: center;
            }
            .master-list-organization, .mat-column-created_by_ref {
                flex: 2;
                align-items: center;
            }
            .master-list-extra, .master-list-extra-header {
                flex: 1;
                align-items: center;
            }
        }
    }

    mat-dialog-actions {
        justify-content: flex-end;
        padding: 6px 0;
        padding-right: 6px;
    }
}
