@import '../../../../styles/_variables.scss';

.side-panel {
    width: 320px;
    background-color: white;
}

.main-panel {
    min-height: calc(100vh - #{$navbar-height}px);
    background-color: #F1F1F1;
}

::ng-deep #sideDateList .side-list-item {
    font-size: 14px;
    font-weight: lighter;
    color: $assessments-primary;
}

::ng-deep #sideDateList .mat-list-item {
    height: 32px;
}

::ng-deep #sideDateList .mat-expansion-panel-header-title {
    font-size: 16px;
}

::ng-deep #sideDateList .mat-expansion-panel-header {
    padding-left: 0px;
}

::ng-deep #sideDateList .mat-expansion-panel-content.mat-expanded {
    margin-top: -23px;
}

::ng-deep .uf-master-list-dialog .mat-dialog-container {
    mat-dialog-content {
        div.master-list-table {
            .master-list-item, .master-list-item-header {
                flex: 3 !important;
            }

            .master-list-capabilities, .master-list-capabilities-header {
                flex: 1;
                align-items: center;
                text-align: center;
            }

            .master-list-organization, .mat-column-created_by_ref {
                flex: 2;
                align-items: center;
            }

            .master-list-extra, .master-list-extra-header {
                flex: 1;
                align-items: center;
            }
        }
    }

    mat-dialog-actions {
        justify-content: flex-end;
        padding: 6px 0;
        padding-right: 6px;
    }
}
