<div class="container-fluid">
    <form autocomplete="off" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-12 mt-10 flex edit-title-row">
                <button mat-icon-button class="mat-24 edit-close-button" matTooltip="Cancel" aria-label="Cancel" (click)="onCancel($event)">
                    <mat-icon>close</mat-icon>
                </button>
                <div class="flex1 edit-title">{{title}} Report</div>
                <div class="edit-title-buttons">
                    <button mat-button class="edit-cancel-button" matTooltip="Cancel" aria-label="Cancel" (click)="onCancel($event)">CANCEL</button>
                    <button mat-button class="edit-saveAs-button" *ngIf="editing" matTooltip="Save as a new report" aria-label="Save as a new report"
                        (click)="onSaveAs($event)">SAVE AS NEW</button>
                    <button mat-raised-button class="edit-save-button" [disabled]="!isValid()" color="primary" matTooltip="Save Changes" aria-label="Save Changes"
                        (click)="onSave($event)">SAVE</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 mt-18">
                <created-by-ref [model]="report"></created-by-ref>
                <mat-form-field id="report-name">
                    <input matInput required [ngModelOptions]="{standalone: true}" [(ngModel)]="report.attributes.name" color="primary" placeholder="Report Name"
                        matTooltip="Enter the report's name" aria-label="enter report name (required)">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <markdown-editor color="primary" matTooltip="Enter the report's description" aria-label="enter report description (optional)"
                [editing]="true" [inputLabel]="'Description (Markdown Editor)'" [formCtrl]="reportDescriptionFormControl"></markdown-editor>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 mat-h2"> External References </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <mat-form-field id="reference-name">
                    <input matInput required [ngModelOptions]="{standalone: true}" [(ngModel)]="references.source_name" color="primary" placeholder="Reference Name"
                        matTooltip="Enter the reference's name" aria-label="enter reference name (required)">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <mat-form-field id="reference-source">
                    <input matInput required [ngModelOptions]="{standalone: true}" [(ngModel)]="references.url" color="primary" placeholder="Source"
                        matTooltip="Enter the reference's source" aria-label="enter reference source (required)">
                </mat-form-field>
            </div>
            <div class="col-xs-6 col-sm-6">
                <mat-form-field id="reference-external-id">
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="references.external_id" color="primary" placeholder="External ID"
                        matTooltip="Enter the reference's external ID" aria-label="enter reference external ID">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <mat-form-field id="reference-description">
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="references.description" color="primary" placeholder="Description"
                        matTooltip="Enter the reference's description" aria-label="enter reference description (optional)">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 mat-h2"> Attack Patterns </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <unf-selection-list [stix]="attackPatterns" [formCtrl]="selectedPatternsFormControl"></unf-selection-list>
            </div>
        </div>
    </form>
</div>