<div class="layout">
  <div class="titleWrapper">
    <div class="banner-wrapper">
      <div class="flex">
        <div class="banner">ASSESSMENTS 2.0 is currently a beta. Some functionality does not work.</div>
      </div>
    </div>
    <span class="title mat-title">
      <button *ngIf="showBackButton|async" mat-icon-button class="mat-24" (click)="onBack($event)">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      {{(title | async) || 'Untitled Assessment'}}
    </span>
  </div>
  <div class="fadeIn flex contentWrapper">
    <div class="center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>