
    <div class="row">
        <div class="col-md-12">
          
            <div class="button-row">
                <a md-raised-button routerLink="./new">NEW</a>
                <a md-raised-button (click)="download()">DOWNLOAD</a>            
            </div>
            <div class="pull-right">
                <span class="right-align">Results: {{attackPatterns.length}}</span>            
            </div>
            
        </div>
    </div>
   <div class="row">
        <div class="col-md-12" *ngFor="let key of phaseNameGroupKeys">
             <md-card > 
                    <md-card-header>
                         <md-card-title>                             
                        <div md-card-avatar class="example-header-image">
                            <i class="fa fa-small fa-arrow-right"></i>
                        </div>
                         <a href (click)="onSelect($event, key)">{{key}}</a>      
                    </md-card-title>  
                       
                               
                    </md-card-header>
                    <md-card-content *ngIf="key === selectedPhaseNameGroup">
                    
                        <div class="row" *ngFor="let attackPattern of phaseNameGroups[key]"  style="padding: 0px 0px 10px 0px;">
                              <md-divider></md-divider>       
                            <div class="col-md-9">
                                <a class="pull-left" href (click)="showDetails($event, attackPattern)">{{attackPattern.attributes.name}}</a>
                                <md-chip-list *ngIf="attackPattern.attributes.external_references">
                                    <md-chip *ngFor="let external_reference of attackPattern.attributes.external_references">
                                        <a target="_blank" *ngIf="external_reference.url"> {{external_reference.source_name}}</a>
                                        <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                                    </md-chip>
                                </md-chip-list>


                            </div> 
                             <div class="col-md-3">
                                   <a md-raised-button (click)="editButtonClicked(attackPattern)"><i class="fa fa-pencil"></i></a>
                                    <a md-raised-button (click)="deleteButtonClicked(attackPattern)"><i class="fa fa-trash"></i></a>   
                            </div> 
                            
                              
                        </div>
                            
                    </md-card-content>
            </md-card>
        </div>
    </div>