@import '../../../../styles/modules/mixins';

#userMentions {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 950;
  background: #fff;
  display: none;
}

.mention {
  padding: 5px 10px;
  width: 215px;
}

.mention:not(:last-child) {
  border-bottom: 1px solid #E0E0E0;
}

.selected {
  @include themePrimaryColors('background-color');
  @include themeAccentText();
}

.hovered {
  @include themePrimaryLightestColors('background-color');
}

.userAvatar {
    border-radius: 15%;
    height: 17px;
}
