<div id="related">
  <div class="container-fluid">
    <div class="row">
      <div class="flex matchHeight">
        <div class="flexColumn column">
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
              <mat-card-title>My Security Gaps</mat-card-title>
              <mat-card-content>
                FUTURE: This will be a small info card<br>
                to show where you have potential security<br>
                concerns based on assessments in Unfetter.
              </mat-card-content>
            </mat-card>
          </div>
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
              <mat-card-title>Threat Reports</mat-card-title>
              <mat-card-content>
                FUTURE: This will be a listing of Threat<br>
                Reports present in the Unftter system.
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
