<div id="related">
  <div class="container-fluid">
    <div class="row">
      <div class="flex matchHeight">
        <div class="flexColumn column">
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
              <mat-card-title>My Security Gaps</mat-card-title>
              <mat-card-content>
                <p>Privilege Escalation Chart/Card</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
              <mat-card-title>Threat Reports</mat-card-title>
              <mat-card-content>
                <p>List of Threat Reports Here</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
