<div class="row">
    <div class="col-md-12">
        <label>Source Type</label>
        <md-select required placeholder="Please Choose..." [(ngModel)]="sighting.attributes.sighting_of_ref" name="sourceTypes" class="full-width">
                <md-option *ngFor="let sourceType of sourceTypes" [value]="sourceType">
                     {{sourceType}}
                </md-option>
        </md-select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>Where Sighted Reference</label>
         <md-input-container class="full-width">
                <input mdInput placeholder="Summarry"  [(ngModel)]="sighting.attributes.summary" value="{{sighting.attributes.summary}}">
                </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
         <md-input-container class="full-width">
                <input mdInput placeholder="Count"  [(ngModel)]="sighting.attributes.count" value="{{sighting.attributes.count}}">
                </md-input-container>
    </div>
     <div class="col-md-4">
         <md-datepicker></md-datepicker>
    </div>
     <div class="col-md-4">
         <md-datepicker></md-datepicker>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <div class="button-row pull-right">
                    <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i>CANCEL</a> 
                    <a class=" " md-raised-button (click)="saveButtonClicked()" [disabled]="!sighting.attributes.sighting_of_ref"><i class="fa fa-floppy-o "></i>SAVE & CANCEL</a>            
        
            </div>
    </div>
</div>