<mat-toolbar color="primary" id="navComponent" class="mat-elevation-z4">
  <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img src="assets/icon/brand-logo.png">
  </a>
  <span>
    <span style="width: 23px;" class="inlineBlock">&nbsp;</span>
    <span style="font-size: 24px; font-weight: 300;">|</span>
    <span style="width: 20px;" class="inlineBlock">&nbsp;</span>
    <span style="font-size: 24px; font-weight: 300;">Analytic Hub</span>
  </span>
  <span class="flex1"></span>
  <button mat-icon-button class="navButton">
    <mat-icon class="mat-24">apps</mat-icon>
  </button>
  <span *ngIf="authService.loggedIn()" id="notificationContainer" class="navButton">
    <notification-window></notification-window>
  </span>
  <button mat-icon-button class="navButton">
    <mat-icon class="mat-24">account_circle</mat-icon>
  </button>
</mat-toolbar>

