<mat-toolbar color="primary" id="navComponent" class="mat-elevation-z4">
  <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img src="assets/icon/brand-logo.png">
  </a>
  <!-- TODO change this to actual nav-->
  <span>
    <span style="width: 23px;" class="inlineBlock">&nbsp;</span>
    <span style="font-size: 24px; font-weight: 300;">|</span>
    <span style="width: 20px;" class="inlineBlock">&nbsp;</span>
    <span style="font-size: 24px; font-weight: 300;">Analytic Hub</span>
  </span>

  <!-- Spacer between left and right -->
  <span class="flex1"></span>

  <a href="/api/auth/github-login/" *ngIf="!demoMode && !authService.loggedIn()">
    <button mat-raised-button>Sign In</button>
  </a>

  <span id="appMenuWrapper">
    <button mat-icon-button class="navButton" *ngIf="authService.loggedIn()" (click)="showAppMenu = !showAppMenu">
      <mat-icon class="mat-24">apps</mat-icon>
    </button>
    <div id="appMenuTriangle" *ngIf="showAppMenu" @fadeInOut>&nbsp;</div>
    <div *ngIf="showAppMenu" id="appMenuWindow" class="mat-elevation-z4" @fadeInOut>
      <div id="appList" class="flex">
        <span *ngFor="let appItem of appList" class="appLinkWrapper">
          <a routerLink="./{{ appItem.url }}" class="appLink">
            <img src="{{ appItem.icon }}" class="appItemImg">
            <div class="appItemText">{{ appItem.title }}</div>
          </a>
        </span>
      </div>      
    </div>
  </span>

  <span *ngIf="authService.loggedIn()" id="notificationContainer" class="navButton">
    <notification-window></notification-window>
  </span>

  <span dropdown class="dropdown navButton" id="accountWrapper" *ngIf="!demoMode && authService.loggedIn()">
    <a dropdownToggle class="dropdown-toggle" data-toggle="user" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="{{ (user$ | async).userProfile.github.avatar_url }}" alt="User" id="avatar" *ngIf="(user$ | async).userProfile !== null && (user$ | async).userProfile.github.avatar_url !== undefined"
        class="smallAvatar">
      <span *ngIf="(user$ | async).userProfile.github.avatar_url === undefined">{{(user$ | async).userProfile.userName}}</span>
      <i class="material-icons" id="accountCaret">arrow_drop_down</i>
    </a>
    <ul *dropdownMenu class="dropdown-menu">
      <li class="dropdown-header" *ngIf="(user$ | async).userProfile !== null">
        Signed in as
        <strong>{{ (user$ | async).userProfile.userName }}</strong>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <a routerLink="/users/settings" class="flexImportant flexItemsCenter">
          <i class="material-icons">settings</i>
          <span>&nbsp;&nbsp;Settings</span>
        </a>
      </li>
      <li>
        <a routerLink="/users/profile/{{(user$ | async).userProfile._id}}" class="flexImportant flexItemsCenter">
          <i class="material-icons">person_outline</i>
          <span>&nbsp;&nbsp;Profile</span>
        </a>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <a (click)="authService.logOut(); logoutStore()" class="flexImportant flexItemsCenter">
          <i class="material-icons">exit_to_app</i>
          <span>&nbsp;&nbsp;Sign Out</span>
        </a>
      </li>
    </ul>
  </span>

  
</mat-toolbar>

