<div class="row mb-5">
    <div class="col-md-12">
        <label>Labels</label>
        <div class="button-row">
            <button mat-raised-button id="add-label" (click)="addLabelButtonClicked()">
                <i class="material-icons">add</i>ADD
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="model">
    <div class="row mb-5" *ngFor="let l of model.attributes.labels; let i = index; trackBy: trackByFn">
        <div class="col-md-12">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <input matInput [(ngModel)]="model.attributes.labels[i]" placeholder="Label">
                            </mat-input-container>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="button-row">
                        <button mat-raised-button (click)="removeLabelButtonClicked(i)">
                            <i class="material-icons">delete</i>REMOVE
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-container>
