@import '../../../styles/variables';

.intrusion-sets-panel {
    padding-top: 27px;    
    padding-bottom: 30px;
    z-index: 700;
    background-color: $primary-color-dark;
}

@media only screen and (min-width: 992px) {
    .intrusion-sets-panel {
        height: 100vh;
        padding-top: 91px;
        padding-bottom: 100px;
        position: fixed;
        top: 0;
        overflow-y: auto;
    }
}

#search-fieldset {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

p-autocomplete {
    flex: 1;
}
:host ::ng-deep {
    .ui-autocomplete {
        width: 100%;
        background-color: $primary-color-dark;
        input {
            width: 100%;
        }
        .ui-widget-content {
            background: white;
        }
    }
}

#search-button {
    margin-left: 20px;
    line-height: 30px;
}

#results-fieldset {
    padding-left: 20px;
    padding-right: 20px;
}

#clear-button {
    float: right;
}

:host ::ng-deep {
    .intrusion-set-cell {
        margin-bottom: 4px;
    }
    .intrusion-set {
        padding: 0 6px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .intrusion-sets-panel-checkbox > .mat-checkbox-layout > .mat-checkbox-inner-container > .mat-checkbox-frame {
        border-color: $neutral-color;
    }

    [highlight] {
        background-color: rgba(255, 255, 99, .7);
        box-shadow: 3px 3px 0 0 black;
        animation-name: flash-highlight;
        animation-duration: 4s;
    }

    @keyframes flash-highlight {
         0% {background-color: transparent;}
        10% {background-color: rgba(255, 255, 99, .7);}
        20% {background-color: transparent;}
        30% {background-color: rgba(255, 255, 99, .7);}
        40% {background-color: transparent;}
        50% {background-color: rgba(255, 255, 99, .7);}
        60% {background-color: transparent;}
        70% {background-color: rgba(255, 255, 99, .7);}
    }
}
