<div class="col-md-3 intrusion-sets-panel">

    <ng-container *ngIf="intrusionSets; else loadingBlock">

        <div class="row">
            <div id="search-fieldset" class="col-sm-12">
                <form>
                    <mat-form-field class="full-width">
                        <input type="text" matInput [matAutocomplete]="autoIntrusions"
                                [formControl]="intrusionSetFilterControl">
                        <mat-autocomplete #autoIntrusions="matAutocomplete"
                                class="full-width" [displayWith]="displayFilter">
                            <mat-option *ngFor="let option of intrusionSetSuggestions" [value]="option"
                                    (onSelectionChange)="onAutoCompleteSelect($event)">{{ option.name }}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <button id="search-button" mat-raised-button (click)="triggerSearch()">Search</button>
            </div>
        </div>
    
        <div class="row">
            <div id="results-fieldset" class="col-sm-12">
                <span class="text-muted">Results ({{selectedIntrusionSets.length}}) Intrusion Sets</span>
                <a id="clear-button" *ngIf="selectedIntrusionSets.length" (click)="onClear($event)">Clear Filters</a>
                <hr />
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12">
                <div class="row" #intrusion_sets_list>
                    <div class="col-sm-6 intrusion-set-cell" *ngFor="let intrusionSet of intrusionSets">
                        <div id="{{intrusionSet.id}}" class="intrusion-set">
                            <mat-checkbox class="intrusion-sets-panel-checkbox"
                                    [(ngModel)]="intrusionSet.checked" (click)="onSelect(intrusionSet)">
                                <a>{{intrusionSet.attributes.name}}</a>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-container>

    <ng-template #loadingBlock>
        <loading-spinner></loading-spinner>
    </ng-template>

</div>
