<div class="row" style="margin-top:30px;">
    <div class="col-md-4">
        <mat-form-field class="full-width">
            <mat-select placeholder="Indicator Object Type"  (change)="onInputChange()" [(ngModel)]="selectedObjectType" name="objectTypes" class="full-width">
                <mat-option *ngFor="let objectType of objectTypes" [value]="objectType.label">
                    {{ objectType.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="full-width">
            <mat-select placeholder="Indicator Object Property" (change)="onInputChange()" [(ngModel)]="selectedObjectProperty" name="objectProperties" class="full-width">
                <mat-option *ngFor="let objectProperty of objectProperties" [value]="objectProperty.label">
                    {{ objectProperty.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3">
       <mat-input-container class="full-width">
        <input matInput placeholder="Indicator Object Value"  (change)="onInputChange()" [(ngModel)]="selectedObjectValue" value="{{selectedObjectValue}">
        </mat-input-container>
    </div>

    <div>
        <div class="col-md-1">
              <button mat-mini-fab [disabled]="disabled" (click)="add()"><mat-icon>add</mat-icon></button>
        </div>


    </div>

</div>
<div class="row">
    <div class="col-md-12">
           <mat-chip-list class="pull-left">
                <mat-chip selected="true" color="accent" *ngFor="let indicator of indicators">{{indicator.pattern}}
                    <span class="cursor-pointer" (click)="remove(indicator)"><i class="material-icons">delete</i></span>
                </mat-chip>
            </mat-chip-list>
    </div>
</div>