<div class="textHighlightComponent" (mouseup)="mouseUp($event)">

  <span 
    id="fab" 
    #fab 
    #trigger="cdkOverlayOrigin" 
    cdkOverlayOrigin
    matTooltip="{{ toolTipText }}" 
    (click)="onClick()" 
    [class.inlineBlock]="showFab"
  >
    <button mat-mini-fab color="accent">
      <i class="material-icons mat-24">add</i>
    </button>
  </span>

  <ng-template
    [cdkConnectedOverlayOrigin]="trigger" 
    [cdkConnectedOverlayOpen]="showFab"
    [cdkConnectedOverlayPositions]="positions"
    maxHeight="searchListHeight"
    width="searchListWidth"
    cdkConnectedOverlay
    *ngIf="action === 'TAG'"
  >
    <div #searchList id="searchList" class="mat-elevation-z18" [ngStyle]="{ 'max-width.px': searchListWidth, 'max-height.px': searchListHeight }">
      <div id="searchWrapper">
        <!-- <input type="text" id="searchInput"> -->
        <mat-form-field floatLabel="never" id="searchInput" class="full-width">
          <input matInput #filter placeholder="Search">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
      <div id="searchResults">
        <div *ngFor="let stix of stix$ | async" class="searchResultItem">
          <a>{{ stix.name }}</a>
        </div>
      </div>
    </div>
  </ng-template>
  
  <ng-content></ng-content>

</div>
