@import '../../../styles/_variables.scss';

.header {
  padding: 16px 16px;
  height: 64px;
  @include set-colors($threat-dashboard-primary-text, linear-gradient(60deg, $threat-dashboard-primary, $threat-dashboard-primary-light) !important);
  margin-bottom: 0px;
}

#barChart {
    padding-top: 32px;
    padding-left: 32px;
    background-color: #FFFFFF;
    overflow-y: auto;

    ::ng-deep .bar-chart-tooltip {
        opacity: 0;
        position: absolute;
        padding: 4px;
        border: 1px solid lightgray;
        background: #f0f0f0;
        overflow: hidden;

        ul {
          margin-bottom: 0;
          padding-left: 20px;
          overflow: hidden;
        }
    }
}

::ng-deep .bar {
  fill: $threat-dashboard-primary-light;

  &:hover {
    fill: $threat-dashboard-primary;
  }
}

.axis--x path {
  display: none;
}
