@import '../../../../styles/_variables.scss';

#fabWrapper {
    #wrapperInner {
        position: relative;

        .mini {
            position: absolute;
            top: 8px;
            left: 8px;
            transition: top 0.2s cubic-bezier(.55, 0, .55, .2);

            svg {
                height: 24px;
                width: 24px;

                ::ng-deep use {
                    fill: $light-text-slightly-dimmed;
                }
            }
        }
    }

    #firstIcon {
        z-index: 100;
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .speedDial {
        #firstIcon {
            transform: rotateZ(135deg);
        }

        @for $i from 1 through 10 {
            #fab#{$i} {
                z-index: #{100 - $i};
                top: #{$i * 50 * -1}px;
            }
        }
    }
}
