footer {
    background-color: #171717;
    padding-top: 56px;
    padding-bottom: 56px;
    z-index: 800;
}

#footerTextHtml {
  color: #effa1a;
}

p,
ul,
.footer a {
  color: #6A6A6A;
  font-weight: 400;
  font-size: 21px;
}

.footer-tiny p {
  font-size: x-small;
}

.largeLink {
    font-size: 21px;
}


