@import '../variables';

@mixin themePrimaryColors ($properties...) {

    @each $property in $properties {
        .analyticHubTheme & {
          #{$property}: $analytic-hub-primary;
        }

        .threatDashboardTheme & {
          #{$property}: $threat-dashboard-primary;
        }

        .assessmentsTheme & {
          #{$property}: $assessments-primary;
        }
        #{$property}: $primary-color;
    }    
}

@mixin themePrimaryLightColors ($properties...) {

  @each $property in $properties {
      .analyticHubTheme & {
        #{$property}: $analytic-hub-primary-light;
      }

      .threatDashboardTheme & {
        #{$property}: $threat-dashboard-primary-light;
      }

      .assessmentsTheme & {
        #{$property}: $assessments-primary-light;
      }
      #{$property}: $primary-color-light;
  }    
}

@mixin themePrimaryLighterColors ($properties...) {

  @each $property in $properties {
      .analyticHubTheme & {
        #{$property}: $analytic-hub-primary-lighter;
      }

      .threatDashboardTheme & {
        #{$property}: $threat-dashboard-primary-light; // When threat dash is reworked this should be fixed
      }

      .assessmentsTheme & {
        #{$property}: $assessments-primary-lighter;
      }
      #{$property}: $primary-color-lighter;
  }    
}

@mixin themePrimaryLightestColors ($properties...) {

  @each $property in $properties {
      .analyticHubTheme & {
        #{$property}: $analytic-hub-primary-lightest;
      }

      .threatDashboardTheme & {
        #{$property}: $threat-dashboard-primary-lightest;
      }

      .assessmentsTheme & {
        #{$property}: $assessments-primary-lightest;
      }
      #{$property}: $primary-color-lightest;
  }    
}

@mixin themeAccentColors ($properties...) {

    @each $property in $properties {
        .analyticHubTheme & {
          #{$property}: $analytic-hub-accent;
        }

        .threatDashboardTheme & {
          #{$property}: $threat-dashboard-accent;
        }

        .assessmentsTheme & {
          #{$property}: $assessments-accent;
        }
        #{$property}: $accent-color;
    }    
}

@mixin themePrimaryText () {
  .analyticHubTheme & {
    color: $analytic-hub-primary-text;
  }

  .threatDashboardTheme & {
    color: $threat-dashboard-primary-text;
  }

  .assessmentsTheme & {
    color: $assessments-primary-text;
  }
  color: $primary-text-default; 
}

@mixin themePrimaryTextProp ($property) {
  .analyticHubTheme & {
    #{$property}: $analytic-hub-primary-text;
  }

  .threatDashboardTheme & {
    #{$property}: $threat-dashboard-primary-text;
  }

  .assessmentsTheme & {
    #{$property}: $assessments-primary-text;
  }
  #{$property}: $primary-text-default; 
}

@mixin themeAccentText () {
  .analyticHubTheme & {
    color: $analytic-hub-accent-text;
  }

  .threatDashboardTheme & {
    color: $threat-dashboard-accent-text;
  }

  .assessmentsTheme & {
    color: $assessments-accent-text;
  }
  color: $primary-text-contrast-color;
}

@mixin lightenPrimaryColors ($property, $percent) {
    .analyticHubTheme & {
        #{$property}: rgba-to-rgb(rgba($analytic-hub-primary, $percent));
    }
    .threatDashboardTheme & {
        #{$property}: rgba-to-rgb(rgba($threat-dashboard-primary, $percent));
    }
    .assessmentsTheme & {
        #{$property}: rgba-to-rgb(rgba($assessments-primary, $percent));
    }
    #{$property}: rgba-to-rgb(rgba($primary-color, $percent)); 
}

@mixin lightenAccentColors ($property, $percent) {
  .analyticHubTheme & {
    #{$property}: rgba-to-rgb(rgba($analytic-hub-accent, $percent));
  }
  .threatDashboardTheme & {
    #{$property}: rgba-to-rgb(rgba($threat-dashboard-accent, $percent));
  }
  .assessmentsTheme & {
    #{$property}: rgba-to-rgb(rgba($assessments-accent, $percent));
  }
  #{$property}: rgba-to-rgb(rgba($accent-color, $percent));
}


@mixin darkenPrimaryColors ($property, $percent) {
  .analyticHubTheme & {
    #{$property}: darken($analytic-hub-primary, $percent);
  }
  .threatDashboardTheme & {
    #{$property}: darken($threat-dashboard-primary, $percent);
  }
  .assessmentsTheme & {
    #{$property}: darken($assessments-primary, $percent);
  }
  #{$property}: darken($primary-color, $percent);
}


@mixin themePrimaryColorsWithModifiedValue ($property, $modification) {
  .analyticHubTheme & {
    #{$property}: #{$modification} $analytic-hub-primary;
  }
  .threatDashboardTheme & {
    #{$property}: #{$modification} $threat-dashboard-primary;
  }
  .assessmentsTheme & {
    #{$property}: #{$modification} $assessments-primary;
  }
  #{$property}: #{$modification} $primary-color;
}

@mixin themeAccentColorsWithModifiedValue ($property, $modification) {
  .analyticHubTheme & {
    #{$property}: #{$modification} $analytic-hub-accent;
  }
  .threatDashboardTheme & {
    #{$property}: #{$modification} $threat-dashboard-accent;
  }
  .assessmentsTheme & {
    #{$property}: #{$modification} $assessments-accent;
  }
  #{$property}: #{$modification} $accent-color;
}


@mixin makeTriangle($color) {
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  z-index: 1;
  height: 0;
  width: 0;
  border-bottom-color: $color;
}
