@import '../variables';

@mixin themePrimaryColors ($properties...) {

    @each $property in $properties {
        .analyticHubTheme & {
          #{$property}: $analytic-exchange-primary;
        }

        .threatDashboardTheme & {
          #{$property}: $threat-dashboard-primary;
        }

        .assessmentsTheme & {
          #{$property}: $assessments-primary;
        }

        .eventsTheme & {
          #{$property}: $events-primary;
        }
        #{$property}: $primary-color;
    }    
}

@mixin themePrimaryLightColors ($properties...) {

  @each $property in $properties {
      .analyticHubTheme & {
        #{$property}: $analytic-exchange-primary-light;
      }

      .threatDashboardTheme & {
        #{$property}: $threat-dashboard-primary-light;
      }

      .assessmentsTheme & {
        #{$property}: $assessments-primary-light;
      }

      .eventsTheme & {
        #{$property}: $events-primary-light;
      }
      #{$property}: $primary-color-light;
  }    
}

@mixin themePrimaryLighterColors ($properties...) {

  @each $property in $properties {
      .analyticHubTheme & {
        #{$property}: $analytic-exchange-primary-lighter;
      }

      .threatDashboardTheme & {
        #{$property}: $threat-dashboard-primary-light; // When threat dash is reworked this should be fixed
      }

      .assessmentsTheme & {
        #{$property}: $assessments-primary-lighter;
      }

      .eventsTheme & {
        #{$property}: $events-primary-lighter;
      }
      #{$property}: $primary-color-lighter;
  }    
}

@mixin themePrimaryLightestColors ($properties...) {

  @each $property in $properties {
      .analyticHubTheme & {
        #{$property}: $analytic-exchange-primary-lightest;
      }

      .threatDashboardTheme & {
        #{$property}: $threat-dashboard-primary-lightest;
      }

      .assessmentsTheme & {
        #{$property}: $assessments-primary-lightest;
      }

      .eventsTheme & {
        #{$property}: $events-primary-lightest;
      }
      #{$property}: $primary-color-lightest;
  }    
}

@mixin themeAccentColors ($properties...) {

    @each $property in $properties {
        .analyticHubTheme & {
          #{$property}: $analytic-exchange-accent;
        }

        .threatDashboardTheme & {
          #{$property}: $threat-dashboard-accent;
        }

        .assessmentsTheme & {
          #{$property}: $assessments-accent;
        }

        .eventsTheme & {
          #{$property}: $events-accent;
        }
        #{$property}: $accent-color;
    }    
}

@mixin themePrimaryText () {
  .analyticHubTheme & {
    color: $analytic-exchange-primary-text;
  }

  .threatDashboardTheme & {
    color: $threat-dashboard-primary-text;
  }

  .assessmentsTheme & {
    color: $assessments-primary-text;
  }

  .eventsTheme & {
    color: $events-primary-text;
  }
  color: $primary-text-default; 
}

@mixin themePrimaryTextProp ($property) {
  .analyticHubTheme & {
    #{$property}: $analytic-exchange-primary-text;
  }

  .threatDashboardTheme & {
    #{$property}: $threat-dashboard-primary-text;
  }

  .assessmentsTheme & {
    #{$property}: $assessments-primary-text;
  }

  .eventsTheme & {
    #{$property}: $events-primary-text;
  }
  #{$property}: $primary-text-default; 
}

@mixin themeAccentText () {
  .analyticHubTheme & {
    color: $analytic-exchange-accent-text;
  }

  .threatDashboardTheme & {
    color: $threat-dashboard-accent-text;
  }

  .assessmentsTheme & {
    color: $assessments-accent-text;
  }

  .eventsTheme & {
    color: $events-accent-text;
  }
  color: $primary-text-contrast-color;
}

@mixin themeAccentFill () {
  .analyticHubTheme & {
    fill: $analytic-exchange-accent;
  }

  .threatDashboardTheme & {
    fill: $threat-dashboard-accent;
  }

  .assessmentsTheme & {
    fill: $assessments-accent;
  }

  .eventsTheme & {
    fill: $events-accent;
  }
  fill: $accent-color;
}

@mixin lightenPrimaryColors ($property, $percent) {
    .analyticHubTheme & {
        #{$property}: rgba-to-rgb(rgba($analytic-exchange-primary, $percent));
    }

    .threatDashboardTheme & {
        #{$property}: rgba-to-rgb(rgba($threat-dashboard-primary, $percent));
    }

    .assessmentsTheme & {
        #{$property}: rgba-to-rgb(rgba($assessments-primary, $percent));
    }

    .eventsTheme & {
      #{$property}: rgba-to-rgb(rgba($events-primary, $percent));
    }
    #{$property}: rgba-to-rgb(rgba($primary-color, $percent)); 
}

@mixin lightenAccentColors ($property, $percent) {
  .analyticHubTheme & {
    #{$property}: rgba-to-rgb(rgba($analytic-exchange-accent, $percent));
  }

  .threatDashboardTheme & {
    #{$property}: rgba-to-rgb(rgba($threat-dashboard-accent, $percent));
  }

  .assessmentsTheme & {
    #{$property}: rgba-to-rgb(rgba($assessments-accent, $percent));
  }

  .eventsTheme & {
    #{$property}: rgba-to-rgb(rgba($events-accent, $percent));
  }
  #{$property}: rgba-to-rgb(rgba($accent-color, $percent));
}


@mixin darkenPrimaryColors ($property, $percent) {
  .analyticHubTheme & {
    #{$property}: darken($analytic-exchange-primary, $percent);
  }

  .threatDashboardTheme & {
    #{$property}: darken($threat-dashboard-primary, $percent);
  }

  .assessmentsTheme & {
    #{$property}: darken($assessments-primary, $percent);
  }

  .eventsTheme & {
    #{$property}: darken($events-primary, $percent);
  }
  #{$property}: darken($primary-color, $percent);
}

@mixin darkenAccentColors ($property, $percent) {
 .analyticHubTheme & {
   #{$property}: darken($analytic-exchange-accent, $percent);
 }

 .threatDashboardTheme & {
   #{$property}: darken($threat-dashboard-accent, $percent);
 }

 .assessmentsTheme & {
   #{$property}: darken($assessments-accent, $percent);
 }

 .eventsTheme & {
  #{$property}: darken($events-accent, $percent);
}
 #{$property}: darken($accent-color, $percent);
}

@mixin themePrimaryColorsWithModifiedValue ($property, $modification) {
  .analyticHubTheme & {
    #{$property}: #{$modification} $analytic-exchange-primary;
  }

  .threatDashboardTheme & {
    #{$property}: #{$modification} $threat-dashboard-primary;
  }

  .assessmentsTheme & {
    #{$property}: #{$modification} $assessments-primary;
  }

  .eventsTheme & {
    #{$property}: #{$modification} $events-primary;
  }
  #{$property}: #{$modification} $primary-color;
}

@mixin themeAccentColorsWithModifiedValue ($property, $modification) {
  .analyticHubTheme & {
    #{$property}: #{$modification} $analytic-exchange-accent;
  }

  .threatDashboardTheme & {
    #{$property}: #{$modification} $threat-dashboard-accent;
  }

  .assessmentsTheme & {
    #{$property}: #{$modification} $assessments-accent;
  }

  .eventsTheme & {
    #{$property}: #{$modification} $events-accent;
  }
  #{$property}: #{$modification} $accent-color;
}


@mixin makeTriangle($color) {
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  position: absolute;
  z-index: 1;
  height: 0;
  width: 0;
  border-bottom-color: $color;
}
