<div [@simpleFadeIn] class="container-fluid" *ngIf="!loading; else loadingBlock">

    <div class="row flex">

        <unfetter-side-panel [item]="threatReport">

            <div class="options-list">
                <button mat-menu-item disabled>
                    <mat-icon aria-hidden="true">mode_edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon aria-hidden="true">share</mat-icon>
                    <span>Share</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon aria-hidden="true">delete</mat-icon>
                    <span>Delete</span>
                </button>
            </div>

            <div class="master-list">Nothing to see here</div>

            <div class="side-panel-items">

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onOpenExternalRef($event)">
                        <mat-icon aria-hidden="true">open_in_new</mat-icon>
                        <span>open</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon aria-hidden="true">content_copy</mat-icon>
                        <span>clone</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon aria-hidden="true">mode_edit</mat-icon>
                        <span>edit</span>
                    </button>
                    <button mat-menu-item [disabled]="threatReport.reports.length === 1" (click)="onDeleteExternalRef($event)">
                        <mat-icon aria-hidden="true">delete</mat-icon>
                        <span>delete</span>
                    </button>
                </mat-menu>

                <mat-accordion multi="true" displayMode="flat" class="accordion side-panel-items">

                    <mat-expansion-panel [disabled]="threatReport.reports.length === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <svg>
                                    <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#campaign"></use>
                                </svg>
                                <span>Threat Reports</span>
                                <span class="">({{threatReport.reports.length}})</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list dense>
                            <mat-list-item [@slideInOutAnimation]
                                    *ngFor="let report of threatReport.reports; trackBy:trackByFn" class="list-divider">
                                <h4 mat-line>
                                    <a *ngIf="(report.attributes.external_references && report.attributes.external_references.length > 0 && report.attributes?.external_references[0]?.url); else noLink"
                                            href="{{report.attributes?.external_references[0]?.url}}">
                                        {{report.attributes.name}}
                                    </a>
                                    <ng-template #noLink>{{report.attributes.name}}</ng-template>
                                </h4>
                                <div mat-line class="mat-caption"> {{report.attributes.description}} </div>
                                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onOpenMenu(report, $event)">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel [disabled]="threatReport.boundaries.targets.size === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <svg>
                                    <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#identity"></use>
                                </svg>
                                <span> Victims </span>
                                <span>({{threatReport.boundaries.targets.size}})</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list dense>
                            <mat-list-item [@slideInOutAnimation]
                                    *ngFor="let target of threatReport.boundaries.targets; trackBy:trackByFn">
                                {{target}}
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel [disabled]="threatReport.boundaries.intrusions.size === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <svg>
                                    <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#threat-actor"></use>
                                </svg>
                                <span> Intrusion Sets </span>
                                <span class="">({{threatReport.boundaries.intrusions.size}})</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list dense>
                            <mat-list-item [@slideInOutAnimation] class="clickable"
                                    *ngFor="let intrusion of threatReport.boundaries.intrusions; trackBy:trackByFn"
                                    (click)="onNavigateToIntrusion(intrusion.value, $event)"
                                    (mouseenter)="listItemMouseEnter($event)"
                                    (mouseleave)="listItemMouseLeave($event)">
                                <div mat-line class="">
                                    <a href="#/stix/intrusion-sets/{{intrusion.value}}">{{intrusion?.displayValue}}</a>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                    <mat-expansion-panel [disabled]="threatReport.boundaries.malware.size === 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <svg>
                                    <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#malware"></use>
                                </svg>
                                <span> Malware </span>
                                <span class="">({{threatReport.boundaries.malware.size}})</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list dense>
                            <mat-list-item [@slideInOutAnimation] class="clickable"
                                    *ngFor="let malware of threatReport.boundaries.malware; trackBy:trackByFn"
                                    (click)="onNavigateToMalware(malware.value, $event)"
                                    (mouseenter)="listItemMouseEnter($event)"
                                    (mouseleave)="listItemMouseLeave($event)">
                                <div mat-line class="">
                                    <a href="#/stix/malwares/{{malware.value}}">{{malware?.displayValue}}</a>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>

                </mat-accordion>

            </div>

            <div class="side-panel-minis">
                <div matTooltip="{{threatReport.name || '' }}" matTooltipPosition="right">
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#attack-pattern"></use>
                    </svg>
                </div>
                <div matTooltip="{{threatReport.boundaries.targets.size || 0 }} victim(s)" matTooltipPosition="right">
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#identity"></use>
                    </svg>
                </div>
                <div matTooltip="{{threatReport.boundaries.intrusions.size || 0 }} intrusion set(s)" matTooltipPosition="right">
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#threat-actor"></use>
                    </svg>
                </div>
                <div matTooltip="{{threatReport.boundaries.malware.size || 0 }} malware" matTooltipPosition="right">
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#malware"></use>
                    </svg>
                </div>
                <div matTooltip="{{threatReport.reports.length || 0 }} report(s)" matTooltipPosition="right">
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#campaign"></use>
                    </svg>
                </div>
            </div>

        </unfetter-side-panel>

        <div class="main-panel pb-10">
            <!-- <div class="row">
                <div class="col-md-12">
                    <span class="stix-icon-wrapper">
                        <img class='stix-icon' src='assets/icon/stix-icons/svg/attack-pattern-c.svg'>
                    </span>
                    <span class="mat-display-3 title">
                        {{threatReport.name || 'Threat Report Unamed'}}
                    </span>
                </div>
            </div> -->
            <mat-tab-group id="tabGroup">
                <mat-tab label="MATRIX">
                    <!-- <attack-pattern-count [threatReport]="threatReport" [attackPatterns]="attackPatterns" [intrusionSetsDashboard]="intrusionSetsDashboard">
                            </attack-pattern-count> -->
                    <div class="matrix mb-18 mt-18 ml-16 mr-16 mat-elevation-z3 cardHoverShadow">
                        <unf-bar-chart *ngIf="barChartData" [data]="barChartData" (renderComplete)="barChartRendered()">
                        </unf-bar-chart>
                    </div>
                    <div class="matrix mb-18 mt-18 ml-16 mr-16 mat-elevation-z3 cardHoverShadow">
                        <unf-kill-chain-table [threatReport]="threatReport" [attackPatterns]="attackPatterns" [intrusionSetsDashboard]="intrusionSetsDashboard">
                        </unf-kill-chain-table>
                    </div>
                    <div class="mt-18 mb-18 ml-16 mr-16 mat-elevation-z3 cardHoverShadow">
                        <unf-collapsible-tree *ngIf="treeData" [data]="treeData" (renderComplete)="treeRendered()"></unf-collapsible-tree>
                    </div>
                    <div class="mt-18 ml-16 mr-16 mb-5 mat-elevation-z3 cardHoverShadow">
                        <unf-radar-chart #radarChart *ngIf="radarData" [data]="radarData" (renderComplete)="radarRendered()"></unf-radar-chart>
                    </div>
                </mat-tab>
                <mat-tab label="MITIGATIONS" disabled="true">
                    <p>Mitigations goes here!</p>
                </mat-tab>
                <mat-tab label="EXPORT" disabled="false">
                    <div class="mb-18 mt-18 ml-16 mr-16 mat-card cardHoverShadow">
                        <unf-export-component [threatReport]="threatReport"></unf-export-component>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>

</div>

<ng-template #loadingBlock>
    <loading-spinner></loading-spinner>
</ng-template>
