$header_gradient_start: #0288D1;
$header_gradient_end: #03A9F4;

.stix-icon {
    background-color: #F44336;
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.title {
    vertical-align: middle;
}

md-list-item {
    border-bottom: 1px solid rgba(1,1,1, .54);
}

.side-panel {
    padding: 0px;
    padding-top: 55px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);

    .header {
        background: linear-gradient(60deg,$header_gradient_end,  $header_gradient_start);
        height: 150px;
        padding: 18px;
        color: rgba(255,255,255, .87);
    }
}

.main-panel {
    padding-top: 15px;
}

@media only screen and (min-width: 992px) {
    .side-panel {
        height: 100vh;
        position: fixed;
        top: 0;
        overflow-y: auto;
    }

    .main-panel {
        margin-left: 18%;
    }
}

#treeSpinner {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: column;
    margin-left: -15px;
    min-height: 70vh;
    z-index: 100;
}

#tabGroup {
    transition: opacity 0.3s ease-in-out;
}