# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/out-tsc
/docs
/tsdocs
/coverage
/tmp
/.awcache/*
compiled/*
stats.json

# dependencies
/node_modules/**
/dll/**

# misc
npm-debug.log
/bower_components
**/.DS_Store

# misc
/.sass-cache
/.idea
/connect.lock
/coverage/**
npm-debug.log

private-config.json

