# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/.awcache/*
/coverage/**

# dependencies
/node_modules/**
/dll/**

# misc
npm-debug.log
/bower_components

# misc
/.sass-cache
/.idea
/connect.lock
npm-debug.log


