# Use Ubuntu 'trusty' distribution
dist: trusty
sudo: required
lanugage: node_js
node_js:
  - "io.js"
  - "9"

branches:
  only:
    - develop

addons:
  chrome: stable
#before_script:
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"
#  - "sleep 3"
before_install:
  - google-chrome-stable --headless --disable-gpu http://localhost &
