# Use Ubuntu 'trusty' distribution
sudo: required
dist: trusty
lanugage: node_js
node_js:
  - "io.js"
  - "9"


  
addons:
  chrome: stable
before_install:
  - google-chrome-stable --headless --disable-gpu http://localhost &
