# Use Ubuntu 'trusty' distribution
dist: trusty
sudo: required
lanugage: node_js
node_js:
  - "10"

branches:
  only:
    - develop

addons:
  chrome: stable
#before_script:
#  - "export DISPLAY=:99.0"
#  - "sh -e /etc/init.d/xvfb start"
#  - "sleep 3"
install:
  - npm install
script:
  # TODO uncomment this out to run lint after RXJS is fixed 
  # https://github.com/ReactiveX/rxjs/issues/4077
  # - npm run lint
  - npm run headless:coverage
  # Output something every 9 minutes (540 seconds) so Travis doesn't give up
  - while sleep 540; do echo "=====[ $SECONDS seconds still running ]====="; done &
  - npm run build:prod
  # Kill background sleep loop
  - kill %1
  - npm run doc