<div id="indicatorSharingList" class="fadeIn container-fluid" *ngIf="SERVER_CALL_COMPLETE; else loadingBlock">
    <div class="row">

        <div class="col-xs-4 col-lg-3" id="filterWrapper">
            <p class="lightH3 flexImportant flexItemsCenter">
                <i class="material-icons">search</i>
                <span>Search Analytics</span>
            </p>
            <mat-form-field class="full-width mb-20">
                <mat-select placeholder="Labels" [multiple]="true" (change)="filterLabelChange($event)">
                    <mat-option value="{{label}}" *ngFor="let label of searchParameters.labels">{{ label | capitalize }}</mat-option>
                </mat-select>
            </mat-form-field>
            <p *ngIf="displayedIndicators && allIndicators" class="text-muted">Results: {{ filteredIndicators.length }} / {{ allIndicators.length }}</p> 

            <hr> 
            <p class="lightH3 flexImportant flexItemsCenter">
                <button mat-mini-fab color="primary" (click)="openDialog()">
                    <i class="material-icons mat-24">add</i>
                </button>
                <span>&nbsp;Add Analytic</span>
            </p>
        </div>

        <div class="col-xs-8 col-lg-7" id="indicatorListWrapper">

            <div *ngFor="let indicator of displayedIndicators" class="mb-15">
                <indicator-card
                    [indicator]="indicator"
                    [attackPatterns]="getAttackPatternsByIndicatorId(indicator.id)"
                    [creator]="getIdentityNameById(indicator.created_by_ref)"
                    [searchParameters]="searchParameters"></indicator-card>               
            </div>

            <div class="text-center mt-15 mb-20" *ngIf="displayShowMoreButton()">
                <button mat-button color="primary" class="full-width" (click)="showMoreIndicators()">Show More Indicators</button>
            </div>
        </div>

    </div>

    <br>
</div>

<ng-template #loadingBlock>
    <loading-spinner></loading-spinner>
</ng-template>
