.feed-item-carousel {
    margin-bottom: 20px;

    .carousel-pager {
        float: right;

        .pager-bullet {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 9px;
            color: black;

            .active-page-bullet {
                font-size: 14px;
                color: green;
            }
        }
    }

    .carousel-glass {
        position: absolute;
        width: -moz-available;
        width: 100%;
        margin-top: 11px;
        background: transparent;
    }

    .carousel-button {
        position: absolute;
        width: 48px;
        height: 48px;
        top: calc(50% - 48px);
        z-index: 100;
        margin: 0 16px;
        background: rgba(127, 127, 127, .4);
        border: 2px solid rgba(255, 255, 255, .75);
        border-radius: 50%;
        color: rgba(255, 255, 255, .4);

        mat-icon {
            font-size: 36px;
            margin-left: -12px;
        }
    }

    .carousel-button:hover {
        border-color: white;
        color: white;
    }

    .carousel-button[disabled] {
        border-color: rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .4);
        color: gray;
    }

    .carousel-button.carousel-left {
        left: 0;
    }

    .carousel-button.carousel-right {
        right: 0;
    }

    h4 {
        display: inline-block;
    }

    .item-list {
        // flex causes the items in the carousel to span evenly
        display: flex;
        flex-direction: row;

        // this margin/padding allows the badges to appear properly
        margin-top: -11px;
        padding-top: 11px;
        padding-left: 11px;

        // hides the horizontal scrollbar for the carousel
        overflow: hidden;

        // the transition allows left-right scrolling to go smoothly
        transition: margin-left 0.5s ease;
    }
}
