<ng-template #tacticTooltipTemplate>
    <div class="col-md-12 tactic-tooltip">
        <mat-card>
            <mat-card-subtitle>
                <div class="flex1"><label>{{tactic.name}}</label></div>
                <div [hidden]="isHovering">
                    <button mat-button type="button" class="mat-primary" *ngIf="isAdminUser()">
                        <a target="_blank" href="/#/stix/attack-patterns/{{tactic.id}}">Details</a>
                    </button>
                    <button mat-button type="button" (click)="hideTacticTooltip(tactic)">Close</button>
                </div>
            </mat-card-subtitle>
            <mat-card-content>
                <div class="row" *ngIf="tactic.description">
                    <div class="col-md-3"><label>Description</label></div>
                    <div class="col-md-8 tactic-description" [innerHTML]="tactic.description"></div>
                </div>
                <div class="row" *ngIf="tactic.sources && tactic.sources.length">
                    <div class="col-md-3"><label>Data Sources</label></div>
                    <div class="col-md-9 tactic-sources">{{tactic.sources.join(', ')}}</div>
                </div>
                <div class="row" *ngIf="tactic.platforms && tactic.platforms.length">
                    <div class="col-md-3"><label>Platforms</label></div>
                    <div class="col-md-9 tactic-platforms">{{tactic.platforms.join(', ')}}</div>
                </div>
                <div class="row" *ngIf="tactic.phases && tactic.phases.length">
                    <div class="col-md-3"><label>Phases</label></div>
                    <div class="col-md-9 tactic-phases">{{tactic.phases.join(', ') | capitalize}}</div>
                </div>
                <div class="row" *ngIf="tactic.analytics && tactic.analytics.length">
                    <div class="col-md-3"><label>Intrusion Sets</label></div>
                    <div class="col-md-9 tactic-analytics">{{getAnalyticNames(tactic)}}</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>
