
.tactic-tooltip {

    padding: 10px;

    .mat-card {
        padding: 12px;
        background-color: #f0f0f0;
    }

    .mat-card-subtitle {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        label {
            color: $dark-text-default;
        }
    }

    div.row {
        margin-bottom: 4px;
    }

    .tactic-description {
        max-height: 60px;
        overflow: hidden;
    }

    .tactic-description:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 40px;
        width: 70%;
        height: 20px;
        background: linear-gradient(to right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1) 80%);
    }

    .tactic-sources {
        max-height: 40px;
        overflow: hidden;
    }

    .tactic-platforms {
        max-height: 20px;
        overflow: hidden;
    }

}
