.callout {
    .uf-mat-card {
        height: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
    mat-card-content {
        height: 100%;
    }
    .calloutContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
        font-weight: 300;
        font-size: 30px;
    }
}
