<div class="row" >
        <div class="col-md-12">
            <div style="margin-top: 1%;">
                <p-dataList [value]="model">
                    <ng-template let-data pTemplate="item">
                        <div class="row list-item-row">
                            <div class="col-lg-9 col-xs-12">
                                <div>
                                    <a class="list-item-name"  routerLink="/stix/{{url}}/{{data.id}}" >{{data.attributes.name}}</a>
                                </div>
                                <div class="truncate">
                                    <small>{{data.attributes.description}}</small>
                                </div>

                                <mat-chip-list class="pull-left" *ngIf="showLabels">
                                    <mat-chip selected="true" color="accent" *ngFor="let label of data.attributes.labels">{{label}}</mat-chip>
                                </mat-chip-list>

                                <mat-chip-list class="pull-left" *ngIf="showPattern">
                                    <mat-chip selected="true" color="accent">{{data.attributes.pattern}}</mat-chip>
                                </mat-chip-list>

                                <mat-chip-list class="pull-left" *ngIf="showSectors">
                                    <mat-chip selected="true"  color="primary" *ngFor="let sector of data.attributes.sectors">{{sector}}</mat-chip>
                                </mat-chip-list>

                                    <mat-chip-list class="pull-left" *ngIf="showKillChainPhases">
                                    <mat-chip selected="true"  color="warn"  *ngFor="let kill_chain_phase of data.attributes.kill_chain_phases">{{kill_chain_phase.phase_name}}</mat-chip>
                                </mat-chip-list>

                                <mat-chip-list class="pull-left" *ngIf="showExternalReferences">
                                    <mat-chip selected="true"  color="primary" *ngFor="let external_reference of data.attributes.external_references">{{external_reference.source_name}}</mat-chip>
                                </mat-chip-list>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                    <button color="primary"  mat-button (click)="editButtonClicked(data)"><mat-icon class="mat-24">create</mat-icon></button>
                                    <button color="warn" mat-button (click)="deleteButtonClicked(data)"><mat-icon class="mat-24">delete</mat-icon></button>
                            </div>

                        </div>
                    </ng-template>
                </p-dataList>
            </div>

        </div>
    </div>