<div class="row" >
        <div class="col-md-12">
            <p-dataList [value]="model">
                <ng-template let-data pTemplate="item">
                    <div class="row list-item-row">
                        <div class="col-lg-9 col-xs-12">
                            <div>
                                <a class="list-item-name"  routerLink="/stix/{{url}}/{{data.id}}" >{{data.attributes.name}}</a>
                            </div>
                            <div class="truncate">
                                <small>{{data.attributes.description}}</small>
                            </div>

                            <md-chip-list class="pull-left" *ngIf="showLabels">
                                <md-chip selected="true" color="accent" *ngFor="let label of data.attributes.labels">{{label}}</md-chip>
                            </md-chip-list>

                            <md-chip-list class="pull-left" *ngIf="showPattern">
                                <md-chip selected="true" color="accent">{{data.attributes.pattern}}</md-chip>
                            </md-chip-list>

                            <md-chip-list class="pull-left" *ngIf="showSectors">
                                <md-chip selected="true"  color="primary" *ngFor="let sector of data.attributes.sectors">{{sector}}</md-chip>
                            </md-chip-list>

                                <md-chip-list class="pull-left" *ngIf="showKillChainPhases">
                                <md-chip selected="true"  color="warn"  *ngFor="let kill_chain_phase of data.attributes.kill_chain_phases">{{kill_chain_phase.phase_name}}</md-chip>
                            </md-chip-list>

                            <md-chip-list class="pull-left" *ngIf="showExternalReferences">
                                <md-chip selected="true"  color="primary" *ngFor="let external_reference of data.attributes.external_references">{{external_reference.source_name}}</md-chip>
                            </md-chip-list>
                        </div>
                         <div class="col-lg-3 col-xs-12">
                                <button md-raised-button (click)="editButtonClicked(data)"><i class="fa fa-pencil"></i></button>
                                <button md-raised-button (click)="deleteButtonClicked(data)"><i class="fa fa-trash"></i></button>
                        </div>

                    </div>
                </ng-template>
            </p-dataList>
           <!--<md-card>-->
                <!--<md-card-header>
                     <div class="row full-width" >
                        <div class="col-lg-9 col-xs-6">


                                 <a class="pull-left" href (click)="showDetails($event, item)">{{item.attributes.name}}</a>


                                <md-chip-list class="pull-left" *ngIf="showLabels">
                                    <md-chip selected="true" color="accent" *ngFor="let label of item.attributes.labels">{{label}}</md-chip>
                                </md-chip-list>

                                 <md-chip-list class="pull-left" *ngIf="showPattern">
                                    <md-chip selected="true" color="accent">{{item.attributes.pattern}}</md-chip>
                                </md-chip-list>

                                <md-chip-list class="pull-left" *ngIf="showSectors">
                                    <md-chip selected="true"  color="primary" *ngFor="let sector of item.attributes.sectors">{{sector}}</md-chip>
                                </md-chip-list>

                                 <md-chip-list class="pull-left" *ngIf="showKillChainPhases">
                                    <md-chip selected="true"  color="warn"  *ngFor="let kill_chain_phase of item.attributes.kill_chain_phases">{{kill_chain_phase.phase_name}}</md-chip>
                                </md-chip-list>

                                <md-chip-list class="pull-left" *ngIf="showExternalReferences">
                                    <md-chip selected="true"  color="primary" *ngFor="let external_reference of item.attributes.external_references">{{external_reference.source_name}}</md-chip>
                                </md-chip-list>





                        </div>
                         <div class="col-lg-3 col-xs-6">
                                <a md-raised-button (click)="editButtonClicked(item)"><i class="fa fa-pencil"></i></a>
                                <a md-raised-button (click)="deleteButtonClicked(item)"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>

                </md-card-header>

            </md-card>-->
        </div>
    </div>