<mat-sidenav id="unfetter-side-panel" mode="side" opened="true">

    <div class="side-panel" [@inOutAnimation] *ngIf="!minimized; else minimizedBlock" [style.width] = "getWidth()"
            (mouseover)="showMinimizeButton = isCollapsible() && !minimized"
            (mouseleave)="showMinimizeButton = false">

        <div class="minimize-control" [style.display]="showMinimizeButton ? 'block': 'none'">
            <button mat-icon-button (click)="minimized = true" matTooltip="Minimize" matTooltipPosition="right">
                <mat-icon class="mat-24" aria-hidden="true" aria-label="Minimize side panel"
                        #minimizeBtn>chevron_left</mat-icon>
            </button>
        </div>

        <div class="header" [style.background]="headerBackground">

            <mat-toolbar id="options-toolbar">
                <span class="push-right"></span>
                <span>
                    <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="Options Menu">
                        <mat-icon class="mat-24 options-toggle"
                                aria-hidden="false" aria-label="Options Menu">more_vert</mat-icon>
                    </button>
                    <mat-menu #optionsMenu="matMenu" xPosition="before">
                        <ng-content select="sidepanel-option-item"></ng-content>
                    </mat-menu>
                </span>
            </mat-toolbar>

            <mat-toolbar id="item-toolbar">
                <span class="push-right mat-display-2"> {{item.name || 'Unnamed'}} </span>
                <ng-content select="sidepanel-master-list-trigger"></ng-content>
            </mat-toolbar>

        </div>

        <mat-accordion multi="true" displayMode="flat" class="accordion">
            <ng-content select="sidepanel-list-item"></ng-content>
        </mat-accordion>

    </div>

    <ng-template #minimizedBlock>
        <div [@inOutAnimation] class="small-side-panel" (click)="minimized = false">
            <ng-content select="[sidepanel-mini-item]"></ng-content>
        </div>
    </ng-template>

</mat-sidenav>
