<div id="unfetter-side-panel">

    <div class="side-panel" [@inOutAnimation] [style.width]="getWidth()" (mouseover)="showMinimizeButton = collapsible && !minimized"
        (mouseleave)="showMinimizeButton = false">

        <!--
        <div class="theme-color-accent theme-bg-primary minimize-control" [style.display]="showMinimizeButton ? 'block': 'none'">
            <button mat-icon-button (click)="minimized = true" matTooltip="Minimize" matTooltipPosition="right">
                <mat-icon class="mat-24" aria-hidden="true" aria-label="Minimize side panel"
                        #minimizeBtn>chevron_left</mat-icon>
            </button>
        </div>
-->

        <div class="theme-color-primary theme-bg-primary-lighter side-panel-header">

            <mat-toolbar class="theme-color-accent" id="options-toolbar">
                <span class="push-right"></span>
                <span>
                    <button mat-icon-button [matMenuTriggerFor]="optionsMenu" matTooltip="Options Menu">
                        <mat-icon class="mat-24 options-toggle" aria-hidden="false" aria-label="Options Menu">more_vert</mat-icon>
                    </button>
                    <mat-menu #optionsMenu="matMenu" xPosition="before">
                        <ng-content select="sidepanel-option-item"></ng-content>
                    </mat-menu>
                </span>
            </mat-toolbar>

            <mat-toolbar class="theme-color-accent" id="item-toolbar">
                <span class="push-right mat-display-2"> {{item?.name || 'Unnamed'}} </span>
            </mat-toolbar>

            <mat-toolbar class="theme-color-accent" id="master-list-toolbar">
                <span class="push-right mat-display-2"></span>
                <ng-content select="master-list-dialog-trigger"></ng-content>
            </mat-toolbar>

        </div>

        <mat-accordion multi="true" displayMode="flat" class="accordion">
            <ng-content select="sidepanel-list-item"></ng-content>
        </mat-accordion>

    </div>

    <!--
    <ng-template #minimizedBlock>
        <div [@inOutAnimation] class="theme-color-primary theme-bg-primary-lighter small-side-panel" (click)="minimized = false">
            <ng-content select="[sidepanel-mini-item]"></ng-content>
        </div>
    </ng-template>
-->

</div>
