@import '../../../../styles/_variables.scss';

.mat-expansion-panel {
    background-color: $light-text-slightly-dimmed;

    svg {
        width: 16px;
        height: 18px;
        margin-right: 8px;

        ::ng-deep .icon {
            fill: $dark-text-dimmed !important;
        }
    }
    
    .mat-list-item {
        font-size: 13px;
        
    }
    
    .clickable {
        cursor: pointer;
    }

    .list-item-hover {
        background-color: $threat-dashboard-primary-lightest;
    }

    a {
        color: $dark-text-default !important;
    }

    .mat-expansion-panel-header.mat-expanded {
        background: $light-text-slightly-dimmed !important;

        .mat-expansion-panel-header-title {
            color: $dark-text-default !important;
        }

        ::ng-deep .mat-expansion-indicator {
            color: $dark-text-default !important;
        }

        ::ng-deep .mat-expansion-indicator::after {
            color: $dark-text-default !important;
        }
    }
}