@import '../../../../styles/_variables.scss';
@import '../../../../styles/modules/_mixins.scss';

.mat-expansion-panel {
    svg {
        width: 16px;
        height: 18px;
        margin-right: 8px;

        ::ng-deep .icon {
            @include themePrimaryTextProp('fill');
        }
    }
    
    .mat-list-item {
        font-size: 13px;
        
    }
    
    .clickable {
        cursor: pointer;
    }

    .list-item-hover {
        @include themePrimaryLightestColors('background-color');
    }

    a {
        @include themePrimaryText();
    }

    ::ng-deep .mat-expanded {
        .mat-expansion-panel-header {
            @include themePrimaryLightColors('background-color');
            
            .mat-expansion-panel-header-title, .mat-expansion-indicator::after {
                @include themePrimaryText();
            }
    
            svg {
                ::ng-deep .icon {
                    @include themePrimaryTextProp('fill');
                }
            }
        }

        .mat-expansion-panel-body {
            padding: 0px 0px 0px 16px;
        }
    }
}