@import '../../../../styles/_variables.scss';
@import '../../../../styles/modules/_mixins.scss';


div {
    padding: 16px;
    text-align: center;
}

svg {
    width: 24px;
    height: 24px;
    @include themePrimaryTextProp('fill');
}
