<mat-expansion-panel [disabled]="getCount() === 0" [expanded]="expanded" [hideToggle]="hideToggle">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <svg *ngIf="icon"><use class="icon" attr.href="{{icon}}"></use></svg>
            <span>{{label}}</span>
            <span *ngIf="showCount === true">&nbsp;({{getCount()}})</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list dense>
        <ng-content select="mat-list-item"></ng-content>
    </mat-list>
</mat-expansion-panel>
