@import '../../../../styles/_variables.scss';

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 -3px 4px -3px rgba(0,0,0,.2), 0 3px 4px -3px rgba(0,0,0,.2);
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 -3px 4px -3px rgba(0,0,0,.2), 0 3px 4px -3px rgba(0,0,0,.2);
}

.mat-expansion-panel {
    box-shadow: 0 -3px 4px -3px rgba(0,0,0,.2), 0 3px 4px -3px rgba(0,0,0,.2);

    svg {
        width: 16px;
        height: 18px;
        margin-right: 8px;
        fill: $dark-text-dimmed; // Would like theme's primary text, but Threat uses a light color
    }
    
    .mat-list-item {
        font-size: 13px;
    }
    
    .clickable {
        cursor: pointer;
    }

    .mat-expansion-panel-header {
        padding: 0 23px 0 26px;
    }

    ::ng-deep .mat-expanded {

        .mat-expansion-panel-body {
            padding: 0px 0px 0px 16px;
        }
    }
}
