@import '../../../../styles/_variables.scss';

$sidenav_max_width: 400px;

.side-panel {
    padding: 0px;
}

@media only screen and (max-width: 992px) {
    .side-panel {
        padding-top: 0px;
        flex: 0 0 auto;
    }
}
@media only screen and (min-width: 992px) {
    .side-panel {
        flex: 1 0 auto;
        max-width: $sidenav_max_width;
    }
}

.minimize-control {
    position: absolute;
    z-index: 5;
    flex: 0 0 auto;
}

.small-side-panel {
    width: 70px;
    height: 100%;
    cursor: pointer;
    transition: width 2s, height 2s, background-color 2s;
}


.side-panel-header {
    height: 180px;
    margin-bottom: 15.8px;

    .mat-toolbar {
        background: transparent;
    }

    .push-right {
        flex: 1 1 auto;
    }

    #options-toolbar {
        padding: 0;
        height: 67px;
        padding-right: 8px;
        margin-top: -12px;
    }

    #item-toolbar {
        height: 80px;
        overflow-y: hidden;
        align-items: flex-start;

        .mat-display-2 {
            margin: 0;
            font-size: 34px;
            line-height: 40px;
            white-space: normal;
            word-break: break-word;
            font-weight: lighter;
        }
    }

    #master-list-toolbar {
        margin-top: -15px;
        height: 33px;
        padding: 0;
        padding-right: 8px;
    }
}
