<div id="event" class="fadeIn" *ngIf="service.finishedLoading else loadingBlock">
  <mat-sidenav-container *ngIf="service.recentSightings; else notFound">
    <mat-sidenav #filters mode="side" opened class="side-panel mat-elevation-z16">
      <div id="filterTitle" class="flexItemsCenter">
        <div class="side-panel-header">
          <div class="height-100-percent">
            <div class="flexRow">
              <div class="flexColumn">
                <button mat-button (click)="filters.close()">
                  <h5 class="inlineBlock">FILTERS&nbsp;&nbsp;</h5>
                  <i class="material-icons mat-24">filter_list</i>
                </button>
                <div></div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <filters></filters>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-panel">
        <div id="main-header">
          <div class="height-100-percent">
            <div class="flexRow">
              <div class="flexColumn">
                <h5 class="title inlineBlock" id="event-content-title">MY NETWORK THREAT ACTIVITY</h5>
                <div></div>
              </div>
              <div></div>
            </div>
            <div class="flex flexRow">
              <div class="flex flexColumn">
                <button mat-button (click)="filters.open()" id="showFiltersButton" *ngIf="!filters.opened" @fadeInOut>
                  <h5 class="inlineBlock">FILTERS&nbsp;&nbsp;</h5>
                  <i class="material-icons mat-24">filter_list</i>
                </button>
                <div class="flex 1"></div>
              </div>
            </div>
          </div>
        </div>
        <events-content></events-content>
      </div>
    </mat-sidenav-content>
    <mat-sidenav opened mode="side" position="end" class="side-panel mat-elevation-z16">
      <div id="recentTitle" class="flexItemsCenter">
        <div class="side-panel-header">
          <div class="height-100-percent">
            <div class="flexRow">
              <div class="flexColumn">
                <h5 class="inlineBlock title">RELATED</h5>
                <div></div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <related></related>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<ng-template #loadingBlock>
  <loading-spinner></loading-spinner>
</ng-template>

<ng-template #notFound>
  <div class="container">
    <div class="row mt-15">
      <div class="col-xs-10 col-xs-offset-1">
        <error-card errorTitle="Event Data Not Found" errorBody="No event data was found in the application."></error-card>
      </div>
    </div>
  </div>
</ng-template>
