    <div class="row">
       <div class="col-md-12">
            <div class="button-row">
                <button class="mat-primary" mat-raised-button (click)="editButtonClicked()"><i class="material-icons">create</i> EDIT</button>
                <button class="mat-primary" mat-raised-button (click)="deleteButtonClicked()"><i class="material-icons">delete</i> DELETE</button>
            </div>
        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="campaign">
        <div class="col-md-12">
            <mat-card>

                <mat-card-content>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <h6>{{campaign.attributes.name}}</h6>
                            </div>
                             <div class="col-md-6">
                                <label>First Seen</label>
                                <h6>{{campaign.attributes.first_seen | date:'medium'}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Objective</label>
                                <h6>{{campaign.attributes.objective}}</h6>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <label>Indicators</label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Description</label>
                                <h6>{{campaign.attributes.description}}</h6>
                            </div>
                        </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>



<relationship-list *ngIf="campaign.id" [model]="campaign"></relationship-list>
    <div class="pull-right grey-text">{{campaign.id}}</div>