<nav class="navbar navbar-inverse navbar-fixed-top mat-elevation-z4">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="collapsed = !collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand"  [routerLink]=" ['./'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            <img src="assets/icon/brand-logo.png">
        </a>
        <!--<a class="navbar-brand" href="#">CTI-STIX-SERVICES</a>-->
      </div>
      <div id="navbar" class="collapse navbar-collapse navbar-right" [collapse]="collapsed">
        <ul class="nav navbar-nav">
           <li><a routerLink="./assessments">Assessments</a></li>
          <li><a routerLink="./intrusion-set-dashboard" >Intrusion Set Dashboard</a></li>
          <li><a routerLink="./stix/link-explorer">Link Explorer</a></li>
          <li><a target="_blank" href="/api/explorer/">View API</a></li>
          <li dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">STIX<span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu">
              <li *ngFor="let navigation of navigations">
                <a [routerLink]="[navigation.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                {{navigation.label}}
                              </a>
              
            </ul>
          </li>

          <!--<li><a target="_blank" href="/api/explorer/">View API</a></li>-->

          <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Settings<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li><a routerLink="./stix/link-explorer" >Link Explorer</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">STIX Objects</a>
                      <ul class="dropdown-menu">
                          <li *ngFor="let navigation of navigations">
                              <a [routerLink]="[navigation.url]"  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                                {{navigation.label}}
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>-->

          <!--<li><a routerLink="./partners" >Partners</a></li>-->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


