<nav class="navbar navbar-inverse navbar-fixed-top mat-elevation-z4">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" (click)="collapsed = !collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand"  [routerLink]=" ['./'] "
          routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            <img src="assets/icon/brand-logo.png">
        </a>
      </div>

      <div id="navbar" class="collapse navbar-collapse navbar-right" [collapse]="collapsed">
        <ul class="nav navbar-nav">
          <!-- Logged Out only -->
          <li *ngIf="!demoMode && !authService.loggedIn()">
            <a href="/api/auth/github-login/" class="matButtonNavItem">
              <button mat-raised-button color="primary">Sign In</button>
            </a>
          </li>

          <!-- Logged In Only -->
           <li *ngIf="authService.loggedIn()"><a routerLink="./assessments">Assessments</a></li>
          <li *ngIf="authService.loggedIn()"><a routerLink="./intrusion-set-dashboard" >Intrusion Set Dashboard</a></li>
          <li *ngIf="authService.loggedIn()"><a routerLink="./threat-dashboard" >Threat Dashboard</a></li>
          <li *ngIf="authService.loggedIn()"><a routerLink="./indicator-sharing/list">Analytic Hub</a></li>
          <li *ngIf="authService.loggedIn()"><a routerLink="./stix/link-explorer">Link Explorer</a></li>
          <li *ngIf="authService.loggedIn()"><a target="_blank" href="/api/explorer/">View API</a></li>

          <li dropdown class="dropdown" *ngIf="authService.loggedIn()">
            <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">STIX<span class="caret"></span></a>
            <ul  class="dropdown-menu">
              <li *ngFor="let navigation of navigations">
                <a [routerLink]="[navigation.url]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{navigation.label}}</a>
              </li>
            </ul>
          </li>

          <li dropdown class="dropdown" *ngIf="!demoMode && authService.loggedIn()">
            <a dropdownToggle class="dropdown-toggle" data-toggle="user" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="{{authService.getUser().github.avatar_url}}" alt="User" id="avatar" *ngIf="authService.getUser() !== null && authService.getUser().github.avatar_url !== undefined" class="smallAvatar">
              <span *ngIf="authService.getUser().github.avatar_url === undefined">{{authService.getUser().userName}}</span>
              <span class="caret"></span>
            </a>
            <ul *dropdownMenu class="dropdown-menu">
              <li class="dropdown-header" *ngIf="authService.getUser() !== null">
                Signed in as <strong>{{ authService.getUser().userName }}</strong>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a routerLink="/users/settings" class="flexImportant flexItemsCenter">
                  <i class="material-icons">settings</i>
                  <span>&nbsp;&nbsp;Settings</span>
                </a>
              </li>
              <li>
                <a routerLink="/users/profile/{{authService.getUser()._id}}" class="flexImportant flexItemsCenter">
                  <i class="material-icons">person_outline</i>
                  <span>&nbsp;&nbsp;Profile</span>
                </a>
              </li>
              <li role="separator" class="divider"></li> 
              <li>
                <a (click)="authService.logOut()" class="flexImportant flexItemsCenter">
                  <i class="material-icons">exit_to_app</i>
                  <span>&nbsp;&nbsp;Sign Out</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </nav>


