
<div class="row" *ngIf="relationshipMapping && relationshipMapping.length > 0">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header style="border-bottom: 1px solid lightgray;">
                <mat-card-title><h4>Relationships</h4></mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="row" >
                    <div class="col-md-4" *ngFor="let relationshipMap of relationshipMapping; let i = index" [ngClass]="{'altClearFix': i !== 0 && i % 3 == 0}">
                            <h5>
                                <a routerLink="/stix/{{getUrl(relationshipMap)}}/{{relationshipMap.id}}"> <img style="height: 30px;" class='stix-icon' src='{{getIcon(relationshipMap)}}'> {{getName(relationshipMap)}}</a>
                            </h5>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>