
<div class="row" >
    <div class="col-md-12">
        <md-card>
            <md-card-header style="border-bottom: 1px solid lightgray;">
                <md-card-title><h4>Relationships</h4></md-card-title>
            </md-card-header>
            <md-card-content>

                <div class="row" >
                    <div class="col-md-4" *ngFor="let relationshipMap of relationshipMapping">
                            <h5>
                                <a (click)="gotoDetail(relationshipMap)"> <img style="height: 30px;" class='stix-icon' src='{{getIcon(relationshipMap)}}'> {{getName(relationshipMap)}}</a>
                            </h5>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>