@import '../../../../styles/_variables.scss';
@import '../_assess.common.scss';

.flex-cols {
    display: flex;
    flex-direction: column;
}

.flex-rows {
    display: flex;
    flex-direction: row;
}

.mb-18 {
    margin-bottom: 18px;
}

.assess-create-card {
    width: 835px;
}

.full-width {
    width: 100%;
}

.center {
    margin: 0 auto;
}

mat-radio-button {
    display: flex;
}

$icon-size: 48px;

.empty {
    mat-icon {
        font-size: $icon-size;
        width: $icon-size;
        height: $icon-size;
    }
}

.pad-24 {
    padding: 24px;
}

.faded-text {
    color: $assessments-primary-light;
}
