<div class="center">
    <div class="mb-18 unf-mat-card assess-create-card">
        <mat-card>
            <form class="assess-form" [formGroup]="form" novalidate (ngSubmit)="submitForm()" autocomplete="off">
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Title" [value]="assessMeta.title" formControlName="title" (blur)="onTitleBlur($event)">
                        <mat-error *ngIf="form.get('title').hasError('required')">
                            Title is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Description" [value]="assessMeta.description" formControlName="description"></textarea>
                    </mat-form-field>
                    <created-by-ref (orgSelected)="orgSelected($event)"></created-by-ref>
                    <div class="flex-cols">
                        <span class="mat-title">Compile Categories to Assess*</span>
                        <mat-checkbox class="" [value]="assessMeta.includesIndicators" color="primary" formControlName="includesIndicators">Indicators</mat-checkbox>
                        <mat-checkbox class="" [value]="assessMeta.includesMitigations" color="primary" formControlName="includesMitigations">Mitigations</mat-checkbox>
                        <mat-checkbox class="" [value]="showToSelectBaselines" color="primary" (change)="showToSelectBaselines = !showToSelectBaselines">Capabilities</mat-checkbox>
                        <span *ngIf="showToSelectBaselines">
                            <mat-radio-group formControlName="baselineRef" *ngIf="(baselines | async); else createNewBaseline">
                                <mat-radio-button *ngFor="let baseline of (baselines | async); trackBy: trackByFn" [value]="baseline.id">
                                    <div class="flex-cols">
                                        <span class="mat-subheader-1">{{ baseline.name }}</span>
                                        <span class="mat-caption">
                                            {{ (baseline.assessments || []).length }} weighted capabilities
                                        </span>
                                    </div>
                                </mat-radio-button>
                            </mat-radio-group>
                            <ng-template #createNewBaseline>
                                <div class="flex-cols center">
                                    <span class="center empty">
                                        <mat-icon>domain</mat-icon>
                                    </span>
                                    <span class="center mat-body-2">
                                        No baselines created!
                                    </span>
                                    <span class="center pad-24 faded-text">
                                        Your organization does not appear to have any baselines.  Create a baseline with weightings to start assessing capabilities in your environment.
                                    </span>
                                    <span class="center pad-24">
                                        <a routerLink="/baseline/create" mat-raised-button color="primary">
                                            Create baseline
                                        </a>
                                    </span>
                                </div>
                            </ng-template>
                        </span>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="onCancel($event)">CANCEL</button>
                    <button mat-raised-button color="primary" [disabled]="form.status === 'INVALID'" type="submit">CONTINUE</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>