<div class="center">
    <div class="mb-18 unf-mat-card assess-create-card">
        <mat-card>
            <form class="assess-form" [formGroup]="form" novalidate (ngSubmit)="submitForm()">
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Title" [value]="assessMeta.title" formControlName="title" (blur)="onTitleBlur($event)">
                        <mat-error *ngIf="form.get('title').hasError('required')">
                            Title is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Description" [value]="assessMeta.description" formControlName="description"></textarea>
                    </mat-form-field>
                    <created-by-ref (orgSelected)="orgSelected($event)"></created-by-ref>
                    <div class="flex flex-cols">
                        <span class="mat-title">Compile Categories to Assess*</span>
                        <mat-checkbox class="" [value]="assessMeta.includesIndicators" color="primary" formControlName="includesIndicators">Indicators</mat-checkbox>
                        <mat-checkbox class="" [value]="assessMeta.includesMitigations" color="primary" formControlName="includesMitigations">Mitigations</mat-checkbox>
                        <!-- <mat-checkbox class="" [value]="assessMeta.includesSensors" color="primary" formControlName="includesSensors">Sensors</mat-checkbox> -->
                        <mat-form-field>
                            <mat-select placeholder="Baseline">
                                <mat-option *ngFor="let baseline of (baselines | async)" [value]="baseline.id">
                                    {{ baseline.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="onCancel($event)">CANCEL</button>
                    <button mat-raised-button color="primary" [disabled]="form.status === 'INVALID'" type="submit">CONTINUE</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>
