<div class="additionalQueriesComponent" *ngIf="localForm">
  <div class="uf-well-accent">
    <form [formGroup]="localForm" novalidate (ngSubmit)="addToParent()" *ngIf="formResetComplete">

      <mat-form-field class="full-width mb-6">
        <input matInput required placeholder="Tool/Sensor Name" formControlName="name">
        <mat-error *ngIf="localForm.get('name').hasError('required')">
          Tool/Sensor Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <h5 [class.textWarn]="localForm.get('query').dirty && localForm.get('query').hasError('required')">Query<sup>*</sup></h5>
      <code-editor formControlName="query" [syntaxCtrl]="localForm.get('syntax')" [class.cmError]="localForm.get('query').dirty && localForm.get('query').hasError('required')"></code-editor>
      <mat-error [class.showUfMatError]="localForm.get('query').dirty && localForm.get('query').hasError('required')" class="ufMatError">
        Query is <strong>required</strong>
      </mat-error>
      
      <pii-check-message [formCtrl]="localForm.get('query')"></pii-check-message>

      <h5>Details</h5>
      <simplemde formControlName="details"></simplemde>

      <button mat-button color="accent" [disabled]="localForm.status === 'INVALID'" type="submit" class="mb-3">Attach Implementation to {{ parentDocumentType | capitalize }}</button>
    </form>
  </div>
</div>
