<div class="additionalQueriesComponent" *ngIf="localForm">
  <!-- <div class="uf-collapsible-control mb-10" (click)="showForm = !showForm">
    <i class="material-icons mat-24 transition02" [ngClass]="{'rotate90': showForm}">chevron_right</i>
    <span class="h5">&nbsp;Add Implementations</span>
  </div> -->
  <div class="uf-well-accent">
    <form [formGroup]="localForm" novalidate (ngSubmit)="addToParent()" *ngIf="formResetComplete">

      <mat-form-field class="full-width mb-6">
        <input matInput required placeholder="Tool/Sensor Name" formControlName="name">
        <mat-error *ngIf="localForm.get('name').hasError('required')">
          Tool/Sensor Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field class="full-width mb-6">
        <textarea matInput required placeholder="Query" formControlName="query" (keyup)="queryChange(localForm.get('query'))"></textarea>
        <mat-error *ngIf="localForm.get('query').hasError('required')">
          Query is <strong>required</strong>
        </mat-error>
      </mat-form-field> -->

      <h5>Query</h5>
      <code-editor formControlName="query"></code-editor>
      
      <pii-check-message [formCtrl]="localForm.get('query')"></pii-check-message>

      <h5>Details</h5>
      <simplemde formControlName="details"></simplemde>

      <button mat-button color="accent" [disabled]="localForm.status === 'INVALID'" type="submit" class="mb-3">Attach Implementation to {{ parentDocumentType | capitalize }}</button>
    </form>
  </div>
</div>
