<h2 mat-dialog-title>Select Attack Patterns</h2>
<mat-dialog-content>
    <div id="indicator-analytic-heat-map">
        <div id="indicator-heat-map">
            <unf-heatmap #heatmapView [heatMapData]="heatmap" [options]="heatmapOptions"
                    (onHover)="onTooltip($event)" (onClick)="toggleAttackPattern($event)"></unf-heatmap>
            <ng-template #tooltipTemplate>
                <div class="col-md-12 attack-pattern-tooltip">
                    <mat-card>
                        <mat-card-subtitle>
                            <div class="flex1"><label>{{attackPattern.name}}</label></div>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <div class="row" *ngIf="attackPattern.description">
                                <div class="col-md-3"><label>Description</label></div>
                                <div class="col-md-8 attack-pattern-desc" [innerHTML]="attackPattern.description"></div>
                            </div>
                            <div class="row" *ngIf="attackPattern.sources">
                                <div class="col-md-3"><label>Data Sources</label></div>
                                <div class="col-md-9 attack-pattern-sources">{{attackPattern.sources.join(', ')}}</div>
                            </div>
                            <div class="row" *ngIf="attackPattern.platforms">
                                <div class="col-md-3"><label>Platforms</label></div>
                                <div class="col-md-9 attack-pattern-platforms">{{attackPattern.platforms.join(', ')}}</div>
                            </div>
                            <div class="row" *ngIf="attackPattern.phases">
                                <div class="col-md-3"><label>Phases</label></div>
                                <div class="col-md-9 attack-pattern-phases">{{attackPattern.phases.join(', ') | capitalize}}</div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </ng-template>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="close()">Accept</button>
</mat-dialog-actions>