<h2 mat-dialog-title>Select Indicated Techniques</h2>
<mat-dialog-content>
    <div id="indicator-heatmap-filter">
        <attack-patterns-heatmap #heatmapView [attackPatterns]="attackPatterns" [heatMapOptions]="heatmapOptions"
                (click)="toggleAttackPattern($event)"></attack-patterns-heatmap>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">CANCEL</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="close()">ACCEPT</button>
</mat-dialog-actions>
