@import '../../../styles/_variables.scss';

$white: #FFFFFF;

#indicator-analytic-heat-map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:host ::ng-deep {

    background-color: $white;

    unf-heatmap {
        div.heat-map {
            width: 100%;
            height: 350px;
            margin: 0;
            padding: 0;
            background: white;

            .heat-map-header rect.odd, .heat-map-batch rect.odd {
                fill: $analytic-exchange-primary-lightest;
            }
            .heat-map-cell rect.selected {
                fill: $analytic-exchange-primary;
            }
        }
    }

}

.attack-pattern-tooltip {

    padding: 10px;

    .mat-card {
        padding: 12px;
        background-color: #f0f0f0;
    }

    .mat-card-subtitle {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        label {
            color: $dark-text-default;
        }
    }

    div.row {
        margin-bottom: 4px;
    }

    .attack-pattern-desc {
        max-height: 58px;
        overflow: hidden;
    }

    .attack-pattern-desc:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 40px;
        width: 70%;
        height: 20px;
        background: linear-gradient(to right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1) 80%);
    }

    .attack-pattern-sources {
        max-height: 40px;
        overflow: hidden;
    }

    .attack-pattern-platforms {
        max-height: 20px;
        overflow: hidden;
    }

}
