
<div class="row">
    <div class="col-md-6">
        <mat-input-container class="full-width">
        <input matInput placeholder="Name"  required [(ngModel)]="campaign.attributes.name" value="{{campaign.attributes.name}}">
        </mat-input-container>
    </div>
    <div class="col-md-6">
         <!-- <p-calendar [(ngModel)]="campaign.attributes.first_seen"  dateFormat="MM-dd-yy" showIcon="true" placeholder="First Seen"></p-calendar> -->
         <!--<mat-input-container class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="First Seen" [(ngModel)]="campaign.attributes.first_seen">
            <button matSuffix [matDatepickerToggle]="picker"></button>
        </mat-input-container>
        <mat-datepicker #picker></mat-datepicker>-->
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="First Seen" [(ngModel)]="campaign.attributes.first_seen">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>



    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <select-search-field [placeholder]="'identities'" [searchUrl]="'identities'" (optionChanged)="add($event)"></select-search-field>
        <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let identity of identities">
                {{identity.attributes.name}}
                <span class="cursor-pointer" (click)="remove(identity)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
          <select-search-field [placeholder]="'Intrusion Sets'" [searchUrl]="'intrusion-sets'" (optionChanged)="add($event)"></select-search-field>
       <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let intrusionSet of intrusionSets">
                {{intrusionSet.attributes.name}}
                <span class="cursor-pointer" (click)="remove(intrusionSet)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'" (optionChanged)="add($event)"></select-search-field>
        <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let attackPattern of attackPatterns">
                {{attackPattern.attributes.name}}
               <span class="cursor-pointer" (click)="remove(attackPattern)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
<indicator-pattern-field></indicator-pattern-field>


<div class="row">
    <div class="col-md-12">

        <mat-input-container class="full-width">
            <input matInput placeholder="Description"  [(ngModel)]="campaign.attributes.description" value="{{campaign.attributes.description}}">
        </mat-input-container>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <button  class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</button>
                <button type="submit"  class=" " mat-raised-button (click)="saveCampaign()" [disabled]="!campaign.attributes.name"><i class="material-icons">save</i> SAVE & CLOSE</button>

        </div>
    </div>
</div>
