<div *ngIf="loading === false; else loadingBlock">
    <mat-list *ngIf="fName; else uploadBlock">
        <mat-list-item>
            <mat-icon class="paperclip md-24" md-list-icon>attachment</mat-icon>
            <h4 md-line>
                {{ fName }}
            </h4>
            <p md-line>
                {{this.numEventsParsed}} lines parsed.
            </p>
            <button md-icon-button class="md-24" (click)="onRemoveFile($event)">
                <mat-icon>
                    delete_forever
                </mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <ng-template #uploadBlock>
        <button md-button mat-raised-button id="uploadButton" class="" (click)="openFileUpload($event)">
            Choose File
        </button>
        <input #fileUpload id="fileInput" name="file" type="file" class="hide" ([value])="fName" (change)="fileChanged($event)">
    </ng-template>
</div>

<ng-template #loadingBlock>
    <mat-progress-bar *ngIf="loading" color="primary"  mode="indeterminate"></mat-progress-bar>
</ng-template>