.loading {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.loading mat-spinner {
    margin: auto auto;
}

.loading .loading-text {
    margin-left: auto;
    margin-right: auto;
    display: block;
}