.contributor {
    margin-left: 16px;
    margin-bottom: 12px;
}

.contributor-avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: white;
}

.contributor-userid {
    height: 40px;
    line-height: 40px;
}
