@import '../../../styles/_variables.scss';

.rotate {
    transition: 0.2s ease-in-out;
    transform: rotateZ(45deg);
    user-select: none;
}

:host ::ng-deep #addIndicator {
  max-height: initial !important;
}

.queriesContainer code {
  display: inline-block;
  min-width: 100%;
  min-height: 21px;
}

#patternWarning,
#patternSuccess {
  margin-top: -20px;
  margin-bottom: 0;
  font-size: 75%;
}

#patternWarning {
  color: $analytic-exchange-accent;
}

#additionalQueries {
  margin-bottom: 0;
}
