<div id="articleEditorComponent">
  <form [formGroup]="form">
    <mat-card class="mat-elevation-z8 fixed-tab-height card">
      <mat-card-content class="cardContent">
        <br>
        <div id="nameWrapper" class="flex">
          <button mat-icon-button class="mat-24 edit-close-button" style="margin-left: -18px;" (click)="location.back()" type="button">
            <mat-icon>close</mat-icon>
          </button>
          <mat-form-field class="full-width flex1">
            <input type="text" matInput placeholder="Article Name" required formControlName="name">
            <mat-error *ngIf="form.get('name').hasError('required')">
              Analytic name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <br>

        <div class="mb-6">          
          <h4 [class.textWarn]="form.get('content').dirty && form.get('content').hasError('required')">Content<sup>*</sup></h4>
          <simplemde-mentions formControlName="content" [class.mdeError]="form.get('content').dirty && form.get('content').hasError('required')" ngDefaultControl></simplemde-mentions>
          <mat-error [style.visibility]="form.get('content').dirty && form.get('content').hasError('required') ? 'visible' : 'hidden'">
            Content is <strong>required</strong>
          </mat-error>
        </div>

        <div *ngIf="sourceNames$ | async as sourceNames" class="mb-6">
          <h4 *ngIf="sourceNames.length">Sources</h4>
          <mat-chip-list>
            <mat-chip *ngFor="let source of sourceNames" class="cursor-pointer chipListChip">{{ source }}</mat-chip>
          </mat-chip-list>
        </div>

        <div *ngIf="!(blockAttachments$ | async)" class="mb-6">
          <h4>Attachments</h4>
          <file-list></file-list>
        </div>

      </mat-card-content>
    </mat-card>
    <div class="articleControlWrapper">
      <div class="max-card-width text-right">
        <button type="button" mat-button (click)="location.back()">CLOSE</button>
        <span>&nbsp;</span>
        <button type="button" mat-button color="primary">DELETE</button>
        <span>&nbsp;</span>
        <button type="button" mat-raised-button color="primary">SAVE</button>
      </div>
    </div>
  </form>
</div>
