@import '../../threat-beta.common';

#articleEditorComponent {
    position: relative;
}

.card {
    overflow-y: auto;
    // To account for fixed controls
    padding-bottom: 64px;
}

.articleControlWrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.2),
    0 -10px 20px -10px rgba(0, 0, 0, 0.2);
    z-index: 5;

    >.text-right {
      padding: 10px 24px;
    }
}

.cardContent {
    max-width: $card-max-content-width - 48px;    
}
