    <mat-card-content>
      <div class="row margin-bottom flex-sm flexItemsCenter">
        <div class="col-sm-9">
          <mat-card-title>
            Capability Groups
          </mat-card-title>
        </div>
        <div class="col-sm-3">
          <div *ngIf="!isAddCategory" class="button-row">
            <button mat-raised-button (click)="createNewCategory()"><i class="material-icons">add</i>ADD GROUP</button>
          </div>          
        </div>
      </div>
      <div *ngIf="isAddCategory">
        <div class="row margin-bottom flex-sm flexItemsCenter">
          <div class="col-sm-9">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input matInput class="form-control" required placeholder="Capability Group Name" value="addCategory.name" [(ngModel)]="addCategory.name">
              </mat-form-field>
            </div>
            <button type="submit"  class="mat-primary" mat-raised-button [disabled]="!addCategory.name" (click)="addNewCategory(addCategory)"><i class="material-icons">save</i> SAVE {{ addCategory.name }}</button>
            <button type="submit"  class="mat-primary" mat-raised-button (click)="cancelAddNewCategory()">CANCEL</button>
          </div>
        </div>
      </div>
      <div class="row margin-bottom" *ngFor="let selCategory of selectedCapabilityGroups; index as i; trackBy: trackByFn">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-10">
              <form>
                <mat-form-field class="full-width">
                  <mat-select #existingCategory name="existingCategory" (selectionChange)="updateCategory(existingCategory, i)" [value]="selectedCategory(existingCategory, i)">
                    <mat-option *ngFor="let category of categories" [value]="category">
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div class="col-xs-1" [hidden]="selectedCapabilityGroups.length === 0">
              <button mat-icon-button (click)="onDeleteCategory(existingCategory)">
                <mat-icon class="mat-24">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <form>
            <mat-form-field class="full-width">
              <mat-select #newCategory name="newCategory" (selectionChange)="updateCategory(newCategory, -1)">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
     </div>
    </mat-card-content>
