@import '../../../../../styles/_variables.scss';
#report {
  margin-left: 27px;
  margin-right: 27px;
}

.matchHeight {
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

$min-card-width: 292;
$padding-between-cards: 10;
$min-card-fullwidth: ($min-card-width * 3 + $padding-between-cards + $padding-between-cards);
#baselineCard {
  min-width: $min-card-fullwidth + px;
}

.external-card-title {
  font-size: 18px;
  font-weight: 300;
  padding-top: 33px;
  padding-bottom: 15px;
}

.card-width {
  width: 33%;
  min-width: $min-card-width + px;
}

.card {
  min-height: 371px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 18px;
  padding-bottom: 6px;
  .mat-card-subtitle {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
  }
}

.left-card {
  flex-grow: .5;
  margin-right: $padding-between-cards + px;
}

.right-card {
  flex-grow: .5;
  margin-left: $padding-between-cards + px;
}
