@import '../../../../../styles/_variables.scss';
#report {
  margin-left: 27px;
  margin-right: 27px;
}

.matchHeight {
  align-items: stretch;
  box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

$min-card-height: 357px;
$min-card-width: 292;
$padding-between-cards: 10;
$min-card-fullwidth: ($min-card-width * 3 + ($padding-between-cards + $padding-between-cards) * 2);
#baselineCard {
  min-width: $min-card-fullwidth + px;
}

.external-card-title {
  font-size: 18px;
  font-weight: 300;
  padding-top: 33px;
  padding-bottom: 15px;
}

.triple-card-width {
  width: 100%;
  min-width: $min-card-fullwidth + px;
}

#chart-container {
  padding: 0px;
}

.card {
  min-height: $min-card-height;
  margin-bottom: 20px;
  padding-top: 19px;
  padding-left: 23px;
  padding-right: 18px;
  padding-bottom: 6px;
  font-weight: lighter;
  .mat-card-subtitle {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
  }
}

.card-width {
  width: 33%;
  min-width: $min-card-width + px;
}

.left-card {
  flex-grow: .5;
  margin-right: $padding-between-cards + px;
}

.right-card {
  flex-grow: .5;
  margin-left: $padding-between-cards + px;
}

#stats {
  background-color: $assessments-primary;
  color: $assessments-accent-text-slightly-dimmed;
  opacity: 0.87;
}

#overall-rating {
  padding-top: 29px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 29px;
}

#overall-rating-chart {
  height: $min-card-height;
}

#ratings {
  color: $assessments-primary;
}

.card-row-description {
  font-size: 15px;
}

.card-row-data {
  font-size: 50px;
  font-weight: 300;
}

.second-row {
  padding-top: 25px;
}

.third-row {
  padding-top: 27px;
}
