
    <buttons-filter [model]="sightings" [filteredItems]="filteredItems" (filterItemsChange)="onFilterItemsChange($event)"></buttons-filter>

   <div class="row"  style="margin-top: 15px;">
        <div class="col-md-12">
            <div style="margin-top: 1%;">
                <p-dataList [value]="filteredItems">
                        <ng-template let-data pTemplate="item">
                            <div class="row list-item-row">
                                <div class="col-md-9">
                                                <div class="pull-left">
                                                    <a routerLink="/stix/sightings/{{data.id}}" >{{data.attributes.sighting_of_ref}}</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <a md-raised-button (click)="editButtonClicked(data)"><i class="fa fa-pencil"></i></a>
                                                <a md-raised-button (click)="deleteButtonClicked(data)"><i class="fa fa-trash"></i></a>
                                            </div>
                            </div>

                        </ng-template>
                </p-dataList>
            </div>
        </div>
    </div>