markings-chips {
    padding-right: 12px;
}

#addLabelWrapper {
    padding: 5px;
}

#addLabelInputWrapper {
    transition: all 0.2s ease-in-out;

    * {
        transition: all 0.2s ease-in-out;
    }
    padding: 3px 15px;
    height: 32px;
    border-radius: 24px;
    width: 0;
    opacity: 0;

    input {
        border: none;
        padding: 3px;
        outline: none;
        width: 0;
    }
    background-color: #e0e0e0;
}

#addLabelBtn {
    margin-left: -30px;
}

.showAddLabel {
    #addLabelInputWrapper {
        width: 225px;
        opacity: 1;

        i {
            margin-left: 3px;
        }
    }

    input {
        width: 152px !important;
    }

    #addLabelBtn i {
        transform: rotateZ(135deg);
    }
}

:host ::ng-deep {
    .indicatorCard.collapsed .mat-card-actions {
        margin-top: -40px;
    }

    .mat-card-header-text {
        width: 100%;

        .mat-card-title {
            display: flex;
            align-items: center;
        }
    }

    markdown-editor div.markdown-editor-panel {
        label {
            color: rgba(0, 0, 0, 0.87);
        }

        div.preview {
            height: auto;
        }
    }
}
