@import '../../../styles/_variables.scss';

$white: #FFFFFF;
:host ::ng-deep {

    background-color: $white;
    .ui-carousel {
        @include set-colors($threat-dashboard-primary-text, $white);

        .ui-carousel-header {
            @include set-colors($threat-dashboard-primary-text, linear-gradient(60deg, $threat-dashboard-primary, $threat-dashboard-primary-light) !important);
            font-weight: 500;
        }
    }
    
    .ui-widget-content {
        border: none;
    }

    .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
        margin: 0px;
    }

    .ui-carousel .ui-carousel-button {
        @include set-colors($threat-dashboard-primary-light, $threat-dashboard-primary-text);
    }

    .ui-corner-all {
        border: none;
        border-radius: 0;
    }

    .carouselSubheadingRow {
        // border-bottom: 1px solid $threat-dashboard-primary-light;
        // border-right: 1px solid $threat-dashboard-primary-light;

        .badge {
            background-color: $threat-dashboard-primary;
            color: $threat-dashboard-primary-text;

        }

        .kill-chain-div {
            font-weight: medium;
            font-size: 12px;
            color: $dark-text-dimmed;
            padding: 16px;
            background: $threat-dashboard-primary-lightest;
        }
    }

    .carousel-wrapper {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        will-change: box-shadow;
        display: block;
        position: relative;
        padding: 24px;
        border-radius: 2px;
        font-family: 'Roboto', "Helvetica Neue", sans-serif;
    }

    .carousel-content-wrapper {
        // height: 520px;
        overflow-y: auto;
        position: relative;
    }

    .ui-grid {
        .attack-pattern-div {
            font-size: 13px;
            font-weight: normal;
            margin: 0px;
            height: 48px;
            display: flex;
            
            .flexCenter {
                margin: auto 16px;
            }
        }
    }

    .positionWrapper {
        position: relative;
    }

    .toolbox-btn {
        position: absolute;
        z-index: 90;
        right: 152px;
        top: 12px;
        margin: 0px;
        padding: 0px;
        width: 40px;
        height: 40px;
        color: $threat-dashboard-primary;
        border-radius: 50%;
        background-color: $threat-dashboard-primary-lightest;
    }

    .mat-24 {
        font-size: 24px;
    }

    .toolbox {
        position: absolute;
        z-index: 99;
        right: 152px;
        top: 20px;
        color: $threat-dashboard-primary;
        background-color: $white;
        height: 64px;
        width: 200px;

        button {
            margin: auto auto;
        }
    }

    h3.tree-map-header {
        height: 64px;
        margin: 0;
        padding: 16px 16px 0 16px;
        color: #ffffffde;
        background: linear-gradient(60deg, #1e88e5, #2196f3) !important;
    }
    unf-treemap div.tree-map {
        height: 500px;
        background: $white;
    }
    
    h3.heat-map-header {
        height: 64px;
        margin: 0;
        padding: 16px 16px 0 16px;
        color: #ffffffde;
        background: linear-gradient(60deg, #1e88e5, #2196f3) !important;
    }
    unf-heatmap div.heat-map {
        width: calc(100% - 250px);
        background: $white;
    }
    unf-heatmap div.mini-map svg {
        background: $white;
    }

}

.attack-pattern-clicker:hover {
    cursor: pointer;
    text-decoration: underline;
}
