<div class="positionWrapper">

    <div #toolboxBtn class="toolbox-btn">
        <button mat-icon-button (click)="onToggleShowToolbox($event)">
            <mat-icon class="mat-24" aria-hidden="true" aria-label="apply filters">zoom_out_map</mat-icon>
        </button>
    </div>

    <!--  numVisible="5" -->
    <p-carousel *ngIf="intrusionSetsDashboard && intrusionSetsDashboard.killChainPhases"
            [value]="intrusionSetsDashboard.killChainPhases" headerText="Kill Chain Phases Used">
        <ng-template let-killChainPhase pTemplate="killChainPhase">
            <div class="ui-grid ui-grid-responsive">
                <div class="ui-grid-row carouselSubheadingRow">
                    <div class="ui-grid-col-12 kill-chain-div flex">
                        <span class="flex1 flexNowrap">{{killChainPhase.name | capitalize}}</span>
                        <small class="badge">{{count(killChainPhase.attack_patterns)}}/{{killChainPhase.attack_patterns.length}}</small>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="carousel-content-wrapper">
                            <div class="ui-grid ui-grid-responsive">
                                <div class="ui-grid-row" *ngFor="let attack_pattern of killChainPhase.attack_patterns">
                                    <div class="ui-grid-col-12 attack-pattern-div"
                                            [style.color]="attack_pattern.foregroundColor"
                                            [style.background-color]="attack_pattern.backgroundColor">
                                        <div class="flexCenter attack-pattern-clicker"
                                                (click)="showAttackPatternTooltip(attack_pattern, $event)">
                                            {{attack_pattern.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>


    <div #toolbox class="toolbox mat-elevation-z5" [style.display]="showToolbox === true ? 'flex': 'none'" [@topRightSlide]>
        <button mat-icon-button matTooltip="Compress rows" (click)="onCompressRows($event)">
            <mat-icon class="mat-24" aria-hidden="true" aria-label="view compact rows">format_line_spacing</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Compress columns" (click)="onCompressColumns($event)">
            <mat-icon class="mat-24" aria-hidden="true" aria-label="view compact columns">view_compact</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Rest to full table" (click)="onResetFilters($event)">
            <mat-icon class="mat-24" aria-hidden="true" aria-label="view full table">view_comfy</mat-icon>
        </button>
    </div>

    <ng-template #apTooltipTemplate>
        <div class="col-md-12 attack-pattern-tooltip">
            <mat-card>
                <mat-card-subtitle>
                    <div class="flex1"><label>{{attackPattern.attributes.name}}</label></div>
                    <div>
                        <button mat-button type="button" class="mat-primary">
                            <a target="_blank" href="/#/stix/attack-patterns/{{attackPattern.id}}">Details</a>
                        </button>
                        <button mat-button type="button" (click)="hideAttackPatternTooltip(attackPattern)">Close</button>
                    </div>
                </mat-card-subtitle>
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-3"><label>Description</label></div>
                        <div class="col-md-8 attack-pattern-desc" [innerHTML]="attackPattern.attributes.description"></div>
                    </div>
                    <div class="row" *ngIf="attackPattern.attributes.x_mitre_data_sources">
                        <div class="col-md-3"><label>Data Sources</label></div>
                        <div class="col-md-9 attack-pattern-sources">{{attackPattern.attributes.x_mitre_data_sources.join(', ')}}</div>
                    </div>
                    <div class="row" *ngIf="attackPattern.attributes.x_mitre_platforms">
                        <div class="col-md-3"><label>Platforms</label></div>
                        <div class="col-md-9 attack-pattern-platforms">{{attackPattern.attributes.x_mitre_platforms.join(', ')}}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>

</div>
