@import '../../../styles/variables';

#carouselCard {
    padding: 0;
}

// Intrustion Set Dashboard specific overrides
:host ::ng-deep {

    .ui-carousel {
        .ui-carousel-header-title {
            font-size: 20px;
            font-weight: 300;
        }
    }

    .ui-carousel.ui-widget.ui-widget-content.ui-corner-all {
        border: none !important;
        border-radius: 0 !important;
    }

    .carouselSubheadingRow {
        .badge {
            background-color: $neutral-color !important;
        }
        .kill-chain-div {
            font-weight: bold;
            padding: 5px;
            background: $accent-alt-color;
            border-bottom: 2px solid $accent-alt-color-dark;
        }
    }

    .carousel-wrapper {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        will-change: box-shadow;
        display: block;
        position: relative;
        padding: 24px;
        border-radius: 2px;
    }

    .carousel-content-wrapper {
        height: 430px;
        overflow-y: auto;
        position: relative;
    }

}
