// WARNING do *NOT* override Angular material classes globally

@import 'variables';
@import '~@angular/material/theming';

// Angular Material theming

@include mat-core();

$default-theme-primary: mat-palette($mat-indigo, 700);
$default-theme-accent: mat-palette($mat-cyan, A400, A200, A700);
$default-theme-warn: mat-palette($mat-deep-orange);
$default-theme: mat-light-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);
@include angular-material-theme($default-theme);

// See themes.enum.ts for the css selectors of themes

$analytic-exchange-theme-primary: mat-palette($mat-cyan, 600);
$analytic-exchange-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$analytic-exchange-theme-warn: mat-palette($mat-deep-orange);
$analytic-exchange-theme: mat-light-theme($analytic-exchange-theme-primary, $analytic-exchange-theme-accent, $analytic-exchange-theme-warn);

.analyticHubTheme {
  @include angular-material-theme($analytic-exchange-theme);
}

$threat-dashboard-theme-primary: mat-palette($mat-blue, 600);
$threat-dashboard-theme-accent: mat-palette($mat-red, A200, A100, A400);
$threat-dashboard-theme-warn: mat-palette($mat-deep-orange);
$threat-dashboard-theme: mat-light-theme($threat-dashboard-theme-primary, $threat-dashboard-theme-accent, $threat-dashboard-theme-warn);

.threatDashboardTheme {
  @include angular-material-theme($threat-dashboard-theme);
}

$assessments-theme-primary: mat-palette($mat-blue-grey, 400);
$assessments-theme-accent: mat-palette($mat-indigo, A200, A100, A400);
$assessments-theme-warn: mat-palette($mat-deep-orange);
$assessments-theme: mat-light-theme($assessments-theme-primary, $assessments-theme-accent, $assessments-theme-warn);

.assessmentsTheme {
  @include angular-material-theme($assessments-theme);
}

$events-theme-primary: mat-palette($mat-green, 600);
$events-theme-accent: mat-palette($mat-yellow, A200, A100, A400);
$events-theme-warn: mat-palette($mat-deep-orange);
$events-theme: mat-light-theme($events-theme-primary, $events-theme-accent, $events-theme-warn);

.eventsTheme {
  @include angular-material-theme($events-theme);
}

$utility-theme-primary: mat-palette($mat-blue, 600);
$utility-theme-accent: mat-palette($mat-red, A200, A100, A400);
$utility-theme-warn: mat-palette($mat-deep-orange);
$utility-theme: mat-light-theme($utility-theme-primary, $utility-theme-accent, $utility-theme-warn);

.utilityTheme {
  @include angular-material-theme($utility-theme);
}

// Angular Material Themes: *ALWAYS* nest in a class or id, *NOT* overrides

.uf-mat-card {
  transition: box-shadow 0.2s ease-in-out;
  .mat-card-header-text {
    margin: 0 !important;
  }
  .mat-card-title {
    font-size: 22px;
    font-weight: 300;
  }
  .mat-card-actions {
    text-align: right;
  }
  .mat-tab-body-content {
    padding: 10px 3px 5px;
  }
  &.mat-card:hover {
    @include mat-elevation(5);
  }
}

.addLabelComponentWrapper {
  .mat-input-infix.mat-form-field-infix {
    padding-bottom: 3px;
    width: 0 !important;
    transition: width 0.2s ease-in-out;
  }
}

.unfetterAngularMaterialAccordion {
  .mat-expansion-panel {
    transition: box-shadow 0.3s ease-in-out;
  }
  .mat-expansion-panel-header-title {
    align-items: center;
  }
  .mat-expanded {
    &.mat-expansion-panel {
      @include mat-elevation(11);
    }
    .mat-expansion-panel-header {
      background: $primary-color !important;
      transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
      .mat-expansion-panel-header-title,
      .mat-expansion-indicator::after {
        color: white !important;
      }
    }
  }
}

.unfetterAngularMaterialTable {
  &.hideHeader {
    .mat-header-row {
      display: none !important;
    }
  }
}

#threatReportCreationComponent {
  .mat-select-trigger {
    height: 23px !important;
  }
}

.buttonGrp .mat-button {
  font-size: 2.5rem;
}

.chipListChip {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.chipListChip+.chipListChip {
  margin-left: 5px !important;
}

.chipListPadding .mat-chip-list-wrapper {
  padding: 0 5px;
}

.showAddLabel {
  .mat-input-infix.mat-form-field-infix {
    width: 170px !important;
  }
}

.snack-bar-background-success {
  background: $accent-alt-color !important;
}

.snack-bar-background-error {
  background: $warn-color !important;
}

.bottomRightFab {
  position: fixed !important;
  bottom: 24px !important;
  right: 24px !important;
  z-index: 900 !important;
}

.mat-toolbar {
  transition: background 0.1s ease-in-out;
}

.uf-tabs-borderless {
  &.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: none !important;
  }
  .mat-tab-header .mat-tab-label {
    height: 49px;
  }
}
