.uf-codeMirror {
  @import 'codemirror/theme/material.css';
  @import 'codemirror/theme/idea.css';
  @import 'codemirror/addon/fold/foldgutter.css';

  .toolbar {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    background-color: $mde-background;

    .toolbar-inner {
      transition: opacity 0.1s ease-in-out;
      opacity: alpha($dark-text-dimmed) / alpha($dark-text-default);
    }

    &:hover .toolbar-inner {
      opacity: 1;
    }
  }

  // To match simplemde
  .separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
  }

  // To Match simplemde
  .control-icon {
    outline: none !important;
    font-size: 24px;
    transform: translateY(4px);
    display: inline-block;
    text-align: center;
    color: $dark-text-default;
    text-decoration: none !important;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;

    .material-icons {
      transform: translateY(2px);
    }

    &.active, &:hover {
      background: #fcfcfc;
      border-color: #95a5a6;
    }
  }

  .CodeMirror {
    padding: 0;
    border-radius: 0;
    border-top: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;

    * {
      @include monospace;
    }

    .CodeMirror-code .cm-comment {
      background: inherit;
      border-radius: inherit;
    }

    .CodeMirror-hscrollbar {
      outline: none !important;
    }
  }

  // ~~~ Material (dark) ~~~

  .cm-s-material {
    background-color: #303030;
  }

  .cm-s-material .CodeMirror-gutters {
    border-right: 1px solid rgba(83, 127, 126, 0.3);
    background-color: #303030;
  }

  .cm-s-material .CodeMirror-code .cm-string {
    color: #C3E88D;
  }

  .cm-s-material .CodeMirror-code .cm-tag {
    color: rgba(255, 83, 112, 1);
  }

  .cm-s-material .CodeMirror-code .cm-attribute {
    color: #FFCB6B;
  }

  .cm-s-material .CodeMirror-matchingbracket {
    color: inherit !important;
    text-decoration: none !important;
    outline: 1px solid #757575;
  }

  // ~~~ Idea (light) ~~~

  .cm-s-idea .CodeMirror-gutters {
    border-right: 1px solid #e7e7e7;
    background-color: $mde-background;
  }

  .cm-s-idea .CodeMirror-code span.cm-tag {
    color: #000080;
  }

  .cm-s-idea .CodeMirror-code span.cm-property {
    color: black;
  }

  .cm-s-idea .CodeMirror-code span.cm-string {
    color: #008000;
  }  

  .cm-s-idea .CodeMirror-code span.cm-attribute {
    color: #0000FF;
  }

  .cm-s-idea.CodeMirror {
    background-color: $mde-background;
  }
}

.readOnly {
  .CodeMirror,
  .CodeMirror-scroll {
    min-height: 40px;
  }
}
