@import 'variables';

.ui-widget {
    font-family: inherit;
}

.ui-widget-content {
    background: inherit;
}

.ui-accordion {
    .ui-accordion-header.ui-state-active {
        background-color: inherit !important;
    }
}

.ui-carousel {
    .attack-pattern-div {
        padding: 0 5px;
    }
    .ui-carousel-header {
        display: flex;
        align-items: center;
        border: none;
        margin-right: -1px;
        margin-left: -1px;
        margin-top: -1px;
        color: white;
        border-radius: 2px 2px 0 0;
        background: $primary-color;
        padding: 16px 32px;
    }
    .ui-carousel-header-title {
        flex: 1;
        font-size: 20px;
    }
    .ui-carousel-button {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 30px;
        color: $primary-color;
        &.ui-carousel-prev-button {
            order: 2;
            &:before {
                content: "keyboard_arrow_left";
                top: 18px;
                right: 66px;
                position: absolute;
                @include material-icons;
            }
        }
        &.ui-carousel-next-button {
            order: 3;
            &:before {
                content: "keyboard_arrow_right";
                top: 18px;
                right: 33px;
                position: absolute;
                @include material-icons;
            }
        }
    }
}

.list-collection-item {
  line-height: 32px !important;
}

.collection-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.collection-item a {
  color: #039be5;
}

li div.list-item-row {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #D5D5D5;
}

li:last-child div.list-item-row {
  border-bottom: none;
}

.list-item-name {
  color: #039be5 !important;
}

