@import 'variables';

.editor-toolbar {
    &.fullscreen {
        top: 64px;
    }
    .fa::before {
        @include material-icons;
        position: relative;
        font-size: 24px;
        top: 3px;
    }
    .fa-bold::before {
        content: "format_bold";        
    }
    .fa-italic::before {
        content: "format_italic";
    }
    .fa-header::before {
        content: "title";
    }
    .fa-quote-left::before {
        content: "format_quote";
    }
    .fa-list-ul::before {
        content: "format_list_bulleted";
    }
    .fa-list-ol::before {
        content: "format_list_numbered";
    }
    .fa-link::before {
        content: "insert_link";
    }
    .fa-picture-o::before {
        content: "insert_photo";
    }
    .fa-eye::before {
        content: "pageview";
    }
    .fa-columns::before {
        content: "view_column";
    }
    .fa-arrows-alt::before {
        content: "fullscreen";
    }
    .fa-question-circle::before {
        content: "help";
    }
}

.CodeMirror-fullscreen, .editor-preview-side {
    top: 114px;
}
