@import 'variables';

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body {
    background: #fafafa !important;
}

label {
    color: #9e9e9e;
}

.height-100-percent {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer !important;
}

.displayNone {
    display: none !important;
}

.hideFooter .footer {
    display: none;
}

.red {
    background-color: #F44336 !important
}

.plainLink {
    &:focus {
        outline: none !important;
    }
    text-decoration: none !important;
}

.theme-bg-primary,
.bgPrimary {
    @include themePrimaryColors('background-color');
    @include themePrimaryText();
}

.theme-bg-primary-light,
.bgPrimaryLight {
    @include themePrimaryLightColors('background-color');
}

.theme-bg-primary-lighter, 
.bgPrimaryLighter {
    @include themePrimaryLighterColors('background-color');
}

.theme-bg-primary-lightest, 
.bgPrimaryLightest {
    @include themePrimaryLightestColors('background-color');
}

.theme-color-primary {
    @include themePrimaryText();
}

.theme-color-primary-light {
    @include themePrimaryLightColors('color');
}

.theme-color-primary-lighter {
    @include themePrimaryLighterColors('color');
}

.theme-color-primary-lightest {
    @include themePrimaryLightestColors('color');
}

.theme-fill-primary {
    @include themePrimaryTextProp('fill');
}

.theme-fill-primary-light {
    @include themePrimaryLightColors('fill');
}

.theme-fill-primary-lighter {
    @include themePrimaryLighterColors('fill');
}

.theme-fill-primary-lightest {
    @include themePrimaryLightestColors('fill');
}

.theme-color-accent {
    @include themeAccentText();
}

.theme-fill-accent {
    @include themeAccentFill();
}

.theme-bg-accent,
.bg-accent {
    @include themeAccentText();
    @include themeAccentColors('background-color');
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.inlineBlock {
    display: inline-block;
}

.whiteSpaceNormal {
    white-space: normal;
}

.margin-top {
    margin-top: 10px;
}

.smallAvatar {
    width: 26px;
    border-radius: 15%;
}

.margin-bottom {
    margin-bottom: 15px;
}

.overFlowHidden  {
    overflow: hidden;
}

// Margin top & bottom helpers in increments of 3 or 5
@for $i from 0 to 8 {
    .mt-#{$i * 5} {
        margin-top: $i * 5px;
    }

    .mb-#{$i * 5} {
        margin-bottom: $i * 5px;
    }

    .mt-#{$i * 3} {
        margin-top: $i * 3px;
    }

    .mb-#{$i * 3} {
        margin-bottom: $i * 3px;
    }

    .pt-#{$i * 5} {
        padding-top: $i * 5px !important;
    }

    .pb-#{$i * 5} {
        padding-bottom: $i * 5px !important;
    }

    .pt-#{$i * 3} {
        padding-top: $i * 3px !important;
    }

    .pb-#{$i * 3} {
        padding-bottom: $i * 3px !important;
    }
}

.p-24 {
    padding: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.fw400 {
    font-weight: 400;
}

.fw300 {
    font-weight: 300;
}

// Used to match the padding of mat-card elements
.mat-card-padding {
    padding-left: 8px;
    padding-right: 8px;
}

.ui-progressbar {
    height: 1.2em;
    text-align: left;
    position: relative;
    width: 50%;
    float: left
}

.headingMarginMatch {
    margin-top: 20px;
}

.greyTextShadow {
    text-shadow: 0 0 4px rgba(204, 204, 204, 0.5), 0 2px 2px rgba(204, 204, 204, 0.7);
}

a {
    cursor: pointer;
}

.altClearFix {
    clear: both;
}

.whiteText {
    color: #fff;
}

.lightTextShadow {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);
}

.paddingBottom {
    padding-bottom: 10px;
}

.matSelectBotMargin {
    margin-bottom: 0.43em;
}

.mat-24 {
    font-size: 24px;
}

.lh-24 {
    line-height: 24px;
}

.cardHoverShadow {
    transition: box-shadow 0.2s ease-in-out;
}

.cardHoverShadow:hover {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;    
}

// ~~~ Icons ~~~
.stix-icon {
    height: 30px;
    width: 30px;
}

.stix-icon-header {
    height: 30px;
    width: 30px;
}

.stix-icon-mini {
    height: 20px;
    width: 20px;
}

.lightH3 {
    font-size: 22px;
    font-weight: 300;
}

// Color helpers
.textPrimary {
    @include themePrimaryColors('color');
}

.textAccent {
    @include themeAccentColors('color');
}

.textAccentAlt{
    color: $accent-alt-color;
}

.textWarn {
    color: $warn-color;
}

.textNeutral {
    color: $neutral-color;
}

.labelColor {
    color: $label-color;
}

/**
 * STIX Icons
 *
 */

.stix-object-icon {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.stix-object-icon-sm {
  height: 20px;
  width: 20px;
}

.stix-object-icon-switch {
  cursor: pointer;
}

.stix-object-icon-switch.unchecked {
  opacity: 0.2;
}

.label-unchecked {
  opacity: 0.2;
}

span.stix-object-item-label {
  margin-left: 5px;
  font-weight: normal;
  vertical-align: middle;
}

code.codeBlock {
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre;
    overflow-x: auto;
}

.mentionHighlight {
    color: #337ab7;

    .threatDashboardTheme & {
        color: $threat-dashboard-primary;
    }
}
