
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
        <input matInput placeholder="Name" required [(ngModel)]="identity.attributes.name" value="">
        </mat-input-container>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <mat-input-container class="full-width">
        <textarea matInput placeholder="Description"  [(ngModel)]="identity.attributes.description" value=""></textarea>
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label>Identity Class</label>
        <div class="row">
            <div class="col-md-12">
                <mat-radio-group class="identity-radio-group" [(ngModel)]="identity.attributes.identity_class">
                    <mat-radio-button class="identity-radio-button" *ngFor="let identityClass of identityClasses" [value]="identityClass.label">
                        {{identityClass.label}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <label>Sectors</label>
        <div class="row">
            <div class="col-md-4" *ngFor="let sector of sectorOptions">
                    <mat-checkbox class="identity-margin" (change)="addRemoveSector(sector.label)">{{sector.label}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>

<external-reference [(model)]="identity"></external-reference>

<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</a>
                <a class=" " mat-raised-button (click)="saveIdentity()" [disabled]="!identity.attributes.name"><i class="material-icons">save</i> SAVE & CLOSE</a>
        </div>
    </div>
</div>