<div id="fabWrapper">
    <div id="wrapperInner" [ngClass]="{'speedDial': speedDial}">

        <button mat-fab color="accent" id="add" (click)="speedDial = !speedDial">
            <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>

        <div class="mini" id="i" matTooltip="Access Indicators" matTooltipPosition="left">
            <button mat-mini-fab color="primary">
                <img class="stix-icon" style="height: 23px;" src="assets/icon/stix-icons/svg/indicator-b.svg">
            </button>
        </div>

        <div class="mini" id="m" matTooltip="Access Mitigations" matTooltipPosition="left">
            <button mat-mini-fab color="primary">
                <img class="stix-icon" style="height: 23px;" src="assets/icon/stix-icons/svg/course-of-action-b.svg">
            </button>
        </div>

        <div class="mini" id="s" matTooltip="Access Sensors" matTooltipPosition="left">
            <button mat-mini-fab color="primary">
                <img class="stix-icon" style="height: 23px;" src="assets/icon/stix-icons/svg/tool-b.svg">
            </button>
        </div>

    </div>
</div>

<div class="full-width titleWrapper">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <p>Assessments</p>
        </div>
</div>
    </div>
</div>


<div class="container" id="assessmentList">
    <!-- <page-header [pageTitle]="pageTitle" [pageIcon]="pageIcon" [description]="description"></page-header>
    <div class="row">
        <div class="col-xs-12">
            <h5>Create Assessment</h5>
        </div>
        <div class="col-xs-12">
            <button mat-raised-button routerLink="wizard/new/indicator" class="mat-primary">Assess Indicators</button>
            <button mat-raised-button routerLink="wizard/new/mitigation" class="mat-primary">Assess Mitigations</button>
            <button mat-raised-button routerLink="wizard/new/sensor" class="mat-primary">Assess Sensors</button>
        </div>

    </div>
    <br>
    <hr>
    <br> -->
    

    <div class="row">
        <!-- <div class="col-xs-12">
            <div class="pull-right">
                <span class="right-align">Results: {{assessments.length}}</span>
            </div>
            <h5>View Assessment</h5>
        </div> -->
        <div class="col-xs-12" style="margin-top: -64px;">
            <mat-card class="mt-12 slideIn" *ngFor="let assessment of assessments; let i = index" [style.animationDelay]="(i * 0.03) + 's'">
                <div class="row">
                    <div class="col-xs-12 flex flexItemsCenter">
                        <span>
                            <a routerLink="dashboard/{{assessment.id}}">{{assessment.attributes.name}}</a><br>
                            <small class="text-muted">{{ assessment.attributes.created  | date:'medium'}}</small>
                        </span>
                        <span class="flex1"></span>
                        <span class="text-right buttonGrp">
                            <button mat-button routerLink="summary/{{assessment.id}}" class="mat-accent">
                                <i class="material-icons">assessment</i>
                            </button>
                                <button mat-button (click)="edit(assessment)" class="mat-primary">
                                <i class="material-icons">create</i>
                            </button>
                                <button mat-button (click)="delete(assessment)" class="mat-warn">
                                <i class="material-icons">delete</i>
                            </button>
                        </span>
                    </div>

                </div>
            </mat-card>
        </div>
    </div>

    <div class="row">  <div class="col-xs-12 text-right">
        <br>
                <span class="right-align">Results: {{assessments.length}}</span>
            </div></div>
    
    
</div>
