<div class="markings-chips" class="flex flexItemsCenter">
    <mat-chip-list class="inlineFlex" *ngIf="!disableTooltips">
        <mat-chip *ngFor="let marking of markings" selected="true" class="cursor-pointer marking-chip"
                color="{{ marking.color || '' }}" matTooltip="{{ marking.text }}">
            {{ marking.portion || marking.text }}
        </mat-chip>
    </mat-chip-list>
    <mat-chip-list class="inlineFlex" *ngIf="disableTooltips">
        <mat-chip *ngFor="let marking of markings" selected="true" class="cursor-pointer marking-chip"
                color="{{ marking.color || '' }}">
            {{ marking.portion || marking.text }}
        </mat-chip>
    </mat-chip-list>
</div>
