<div id="search-bar" class="">
    <mat-form-field class="search-input">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Search this board">
    </mat-form-field>
</div>

<mat-sidenav-container class="flex">
        
    <mat-sidenav-content class="min-tab-height">

        <div id="feed-content" class="flex1">

            <div id="reports-carousel">

                <div id="reports-label">
                    <h4>Reports</h4>
                    <div class="carousel-pager" *ngIf="reportsPages > 1">
                        <button mat-icon-button class="pager-bullet" *ngFor="let rpg of reportsPages | times">
                            <mat-icon [style.font-size]="(reportsPage === rpg) ? '14px' : '9px'"
                                [style.color]="(reportsPage === rpg) ? 'green' : 'black'"
                                (click)="scrollToReportsPage(rpg)">lens</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="reportsLoaded; else loadingBlock"
                        (mouseenter)="reportsHover = true" (mouseleave)="reportsHover = false">

                    <div class="carousel-glass" *ngIf="reportsHover && (reportsPages > 1)">
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-left"
                                [disabled]="isFirstReport()" (click)="scrollReportsLeft()">
                            <mat-icon aria-label="scroll reports left">keyboard_arrow_left</mat-icon>
                        </button>
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-right"
                                [disabled]="isLastReport()" (click)="scrollReportsRight()">
                            <mat-icon aria-label="scroll reports right">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>

                    <div #reportsView id="reports-list" [style.margin-left]="reportsOffset + 'px'">
                        <div *ngFor="let report of reports; index as repidx" id="{{ report.id }}"
                                class="board-report" [style.background-image]="getReportBackground(report)"
                                matBadge="!" matBadgeDescription="new" matBadgeColor="accent"
                                matBadgePosition="before" matBadgeHidden="{{ report.vetted }}"
                                matBadgeSize="small"
                                (mouseenter)="reportHoverIndex = repidx" (mouseleave)="reportHoverIndex = -1">
                            <div class='report-image' [style.background-image]="getReportBackgroundImage(report)">
                                <div class='report-fabs' *ngIf="reportHoverIndex === repidx">
                                    <div class="fab-row">
                                        <button mat-mini-fab [disabled]="report.vetted" title="Approve Report"
                                                (click)="approveReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="approve report">done</mat-icon>
                                        </button>
                                    </div>
                                    <div class="fab-row">
                                        <button mat-mini-fab [style.margin-right]="'24px'" title="Report Quick View"
                                                (click)="viewReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="report quick view">launch</mat-icon>
                                        </button>
                                        <button mat-mini-fab [style.margin-left]="'24px'" disabled title="Share Report"
                                                (click)="shareReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="share report">share</mat-icon>
                                        </button>
                                    </div>
                                    <div class="fab-row">
                                        <button mat-mini-fab title="Reject Report"
                                                (click)="rejectReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="reject report">delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="report-info">
                                <div class='report-title'>{{ report.name }}</div>
                            </div>
                        </div>
                    </div>

                </div><!-- ends reports list -->

            </div><!-- ends reports carousel -->

            <div id="related-boards-carousel">

                <div id="related-boards-label">
                    <h4>Related Boards</h4>
                    <div class="carousel-pager" *ngIf="boardsPages > 1">
                        <button mat-icon-button class="pager-bullet" *ngFor="let bpg of boardsPages | times">
                            <mat-icon [style.font-size]="(boardsPage === bpg) ? '14px' : '9px'"
                                [style.color]="(boardsPage === bpg) ? 'green' : 'black'"
                                (click)="scrollToBoardsPage(bpg)">lens</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="boardsLoaded; else loadingBlock"
                        (mouseenter)="boardsHover = true" (mouseleave)="boardsHover = false">

                    <div class="carousel-glass" *ngIf="boardsHover && (boardsPages > 1)">
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-left"
                                [disabled]="isFirstBoard()" (click)="scrollBoardsLeft()">
                            <mat-icon aria-label="scroll boards left">keyboard_arrow_left</mat-icon>
                        </button>
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-right"
                                [disabled]="isLastBoard()" (click)="scrollBoardsRight()">
                            <mat-icon aria-label="scroll boards right">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>

                    <div #boardsView id="related-boards-list" [style.margin-left]="boardsOffset + 'px'">
                        <div *ngFor="let board of boards; index as bidx" id="{{ board.id }}"
                                class="related-board" [style.background]="getBoardBackground(board)"
                                (mouseenter)="boardHoverIndex = bidx" (mouseleave)="boardHoverIndex = -1">
                            <div class='board-title'>{{ board.name }}</div>
                            <div class='board-owner'>Owner Name</div>
                            <div class='board-options'>
                                <button mat-button disabled (click)="followBoard(board.id)">FOLLOW</button>
                            </div>
                        </div>
                    </div>
    
                </div>

            </div><!-- ends related boards carousel -->

            <div id="activities-list">
                <div id="activities-nav-bar" class="flex">
                    <h4>Activity</h4>
                    <div class="flex1 activity-sort-options">
                        Sort by:
                        <mat-radio-group>
                            <mat-radio-button *ngFor="let opt of sorts; index as optidx" value="{{ optidx }}"
                                    (disabled)="true" checked="{{ optidx === 0 }}">{{ opt.name }}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div id="activity-feed" *ngIf="boardLoaded; else loadingBlock">
                    Latests comments / article go here.
                </div>
            </div>

        </div>

    </mat-sidenav-content>

    <mat-sidenav id="trends-trench" opened mode="side" position="end">

        <div id="contributors">
            <div id="contributors-label"><h4>Contributors</h4></div>
            <div id="contributors-list" *ngIf="boardLoaded; else loadingBlock">
                <div class="flex contributor">
                    <div class="contributor-avatar" [style.background-color]="'darkorange'">JD</div>
                    <div class="contributor-userid flex1">Jane Doe</div>
                </div>
                <div class="flex contributor">
                    <div class="contributor-avatar" [style.background-color]="'teal'">JS</div>
                    <div class="contributor-userid flex1">John Smith</div>
                </div>
            </div>
        </div>

        <div id="last-polled" *ngIf="boardLoaded">
            <i>Board was updated on {{ boardUpdateTime }}</i>
        </div>

    </mat-sidenav>

</mat-sidenav-container>

<ng-template #loadingBlock>
    <loading-spinner height="250px"></loading-spinner>
</ng-template>
