<div id="search-bar" class="">
    <mat-form-field class="search-input">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Search this board">
    </mat-form-field>
</div>

<mat-sidenav-container class="flex" (resize)="recalculateWindows()">
        
    <mat-sidenav-content class="min-tab-height">

        <div id="feed-content" class="flex1">

            <div id="reports-carousel">

                <div id="reports-label">
                    <h4>Reports</h4>
                    <div class="carousel-pager" *ngIf="reportsPages > 1">
                        <button mat-icon-button class="pager-bullet" *ngFor="let rpg of reportsPages | times">
                            <mat-icon [style.font-size]="(reportsPage === rpg) ? '14px' : '9px'"
                                [style.color]="(reportsPage === rpg) ? 'green' : 'black'"
                                (click)="scrollToReportsPage(rpg)">lens</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="reportsLoaded; else loadingBlock"
                        (mouseenter)="reportsHover = true" (mouseleave)="reportsHover = false">

                    <div class="carousel-glass" *ngIf="reportsHover && (reportsPages > 1)">
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-left"
                                [disabled]="isFirstReport()" (click)="scrollReportsLeft()">
                            <mat-icon aria-label="scroll reports left">keyboard_arrow_left</mat-icon>
                        </button>
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-right"
                                [disabled]="isLastReport()" (click)="scrollReportsRight()">
                            <mat-icon aria-label="scroll reports right">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>

                    <div #reportsView id="reports-list" [style.margin-left]="reportsOffset + 'px'">
                        <div *ngFor="let report of reports; index as repidx" id="{{ report.id }}"
                                class="board-report" [style.background-image]="getReportBackground(report)"
                                matBadge="!" matBadgeDescription="new" matBadgeColor="accent"
                                matBadgePosition="before" matBadgeHidden="{{ report.vetted }}"
                                matBadgeSize="small"
                                (mouseenter)="reportHoverIndex = repidx" (mouseleave)="reportHoverIndex = -1">
                            <div class='report-image' [style.background-image]="getReportBackgroundImage(report)">
                                <div class='report-fabs' *ngIf="reportHoverIndex === repidx">
                                    <div class="fab-row">
                                        <button mat-mini-fab [disabled]="report.vetted" title="Approve Report"
                                                (click)="approveReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="approve report">done</mat-icon>
                                        </button>
                                    </div>
                                    <div class="fab-row">
                                        <button mat-mini-fab [style.margin-right]="'24px'" title="Report Quick View"
                                                (click)="viewReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="report quick view">launch</mat-icon>
                                        </button>
                                        <button mat-mini-fab [style.margin-left]="'24px'" disabled title="Share Report"
                                                (click)="shareReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="share report">share</mat-icon>
                                        </button>
                                    </div>
                                    <div class="fab-row">
                                        <button mat-mini-fab title="Reject Report"
                                                (click)="rejectReport(report.id)">
                                            <mat-icon class="mat-24" aria-label="reject report">delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="report-info">
                                <div class='report-title'>{{ report.name }}</div>
                            </div>
                        </div>
                    </div>

                </div><!-- ends reports list -->

            </div><!-- ends reports carousel -->

            <div id="related-boards-carousel">

                <div id="related-boards-label">
                    <h4>Related Boards</h4>
                    <div class="carousel-pager" *ngIf="boardsPages > 1">
                        <button mat-icon-button class="pager-bullet" *ngFor="let bpg of boardsPages | times">
                            <mat-icon [style.font-size]="(boardsPage === bpg) ? '14px' : '9px'"
                                [style.color]="(boardsPage === bpg) ? 'green' : 'black'"
                                (click)="scrollToBoardsPage(bpg)">lens</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="boardsLoaded; else loadingBlock"
                        (mouseenter)="boardsHover = true" (mouseleave)="boardsHover = false">

                    <div class="carousel-glass" *ngIf="boardsHover && (boardsPages > 1)">
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-left"
                                [disabled]="isFirstBoard()" (click)="scrollBoardsLeft()">
                            <mat-icon aria-label="scroll boards left">keyboard_arrow_left</mat-icon>
                        </button>
                        <button mat-icon-button mat-mini-fab class="carousel-button carousel-right"
                                [disabled]="isLastBoard()" (click)="scrollBoardsRight()">
                            <mat-icon aria-label="scroll boards right">keyboard_arrow_right</mat-icon>
                        </button>
                    </div>

                    <div #boardsView id="related-boards-list" [style.margin-left]="boardsOffset + 'px'">
                        <div *ngFor="let board of boards; index as bidx" id="{{ board.id }}"
                                class="related-board" [style.background]="getBoardBackground(board)"
                                (mouseenter)="boardHoverIndex = bidx" (mouseleave)="boardHoverIndex = -1">
                            <div class='board-title'>{{ board.name }}</div>
                            <div class='board-owner'>{{ getUserName(board) }}</div>
                            <div class='board-options'>
                                <button mat-button disabled (click)="followBoard(board.id)">FOLLOW</button>
                            </div>
                        </div>
                    </div>
    
                </div>

            </div><!-- ends related boards carousel -->

            <div id="activities-list">

                <div id="activities-nav-bar" class="flex">
                    <h4>Activity</h4>
                    <div class="flex1 activity-sort-options">
                        Sort by:
                        <mat-radio-group [(ngModel)]="activitySort">
                            <mat-radio-button *ngFor="let sort of activitySorts" value="{{ sort }}"
                                    [disabled]="!sorts[sort].enabled">{{ sort }}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div id="activity-feed" *ngIf="activityLoaded; else loadingBlock">

                    <mat-card>
                        <mat-card-content>
                            <button mat-button *ngIf="addNewComment !== true" (click)="startActivityComment()">
                                <i class="material-icons comment-button">chat_bubble</i> Add a comment
                            </button>
                            <ng-container *ngIf="addNewComment === true">
                                <ng-container *ngTemplateOutlet="commentInput"></ng-container>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>

                    <ng-container *ngFor="let item of activity">
                        <ng-container *ngIf="item.type === 'x-unfetter-article'">
                            <ng-container *ngTemplateOutlet="articleTemplate;context:wrap(item)"></ng-container>
                        </ng-container>
                        <ng-container *ngIf="item.type === 'x-unfetter-comment'">
                            <ng-container *ngTemplateOutlet="commentTemplate;context:wrap(item)"></ng-container>
                        </ng-container>
                    </ng-container>

                </div>

            </div>

        </div>

    </mat-sidenav-content>

    <mat-sidenav id="trends-trench" opened mode="side" position="end">

        <div id="contributors">
            <div id="contributors-label"><h4>Contributors</h4></div>
            <div id="contributors-list" *ngIf="threatboardLoaded; else loadingBlock">
                <div class="flex contributor">
                    <div class="contributor-avatar" [style.background-color]="'darkorange'">JD</div>
                    <div class="contributor-userid flex1">Jane Doe</div>
                </div>
                <div class="flex contributor">
                    <div class="contributor-avatar" [style.background-color]="'teal'">JS</div>
                    <div class="contributor-userid flex1">John Smith</div>
                </div>
            </div>
        </div>

        <div id="last-polled" *ngIf="threatboardLoaded">
            <i>Board was updated on {{ boardUpdateTime }}</i>
        </div>

    </mat-sidenav>

</mat-sidenav-container>

<ng-template #loadingBlock>
    <loading-spinner height="250px"></loading-spinner>
</ng-template>

<ng-template #commentInput>
    <div class="mt-20 overFlowHidden">
        <div class="mb-6">
            <simplemde [(ngModel)]="commentData.text"></simplemde>
        </div>
        <div class="text-right">
            <button mat-button
                    (click)="addNewComment = false; commentData.text = ''">CANCEL</button>
            <button mat-raised-button color="primary" [disabled]="commentData.text === ''"
                    (click)="submitActivityComment(commentData.text, commentData.source)">SAVE</button>
        </div>
    </div>
</ng-template>

<ng-template #commentTemplate let-item="item">

    <mat-card class="uf-mat-card">

        <div class="flex">
            <div mat-card-avatar class="activity-avatar" [style.background-image]="getActivityAvatar(item)"></div>
            <div class="flex1 activity-content">
                <mat-card-header>
                    <mat-card-title>{{ getUserName(item) }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <markdown [data]="item.content"></markdown>
                </mat-card-content>
            </div>
        </div>

        <mat-card-actions [style.padding]="0" [style.text-align]="'left'">
            <button mat-button class="like-button" [style.color]="hasLikedActivity(item) ? 'blue' : 'inherit'"
                    (click)="clickActivityLike(item)">
                <i class="material-icons">thumb_up</i>
                <span [style.margin]="'0 6px'">Like</span>
                <span *ngIf="hasActivityLikes(item)">({{ item.likes.length }})</span>
            </button>
            <button mat-button *ngIf="addNewComment !== item.id" class="comment-button"
                    (click)="startActivityComment(null, item)">
                <i class="material-icons">chat_bubble</i> Reply
            </button>
        </mat-card-actions>

        <mat-card-footer [style.padding]="'0 24px 24px 24px'">
            <ng-container *ngIf="addNewComment === item.id">
                <ng-container *ngTemplateOutlet="commentInput"></ng-container>
            </ng-container>
            <div *ngIf="hasActivityComments(item)">
                <div *ngFor="let reply of item.replies | sortByField: 'submitted'" class="flex">
                    <div mat-card-avatar class="subactivity-avatar"
                            [style.background-image]="getActivityAvatar(reply)"></div>
                    <div class="flex1 activity-content">
                        <mat-card-header>
                            <mat-card-title>{{ getUserName(reply) }}</mat-card-title>
                            <mat-card-subtitle> &bull; {{ reply.submitted | timeAgo }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <markdown [data]="reply.content"></markdown>
                        </mat-card-content>
                    </div>
                </div>
            </div>
        </mat-card-footer>

    </mat-card>

</ng-template>

<ng-template #articleTemplate let-item="item">

    <mat-card class="uf-mat-card">

        <div class="flex">
            <div mat-card-avatar class="activity-avatar" [style.background-image]="getActivityAvatar(item)"></div>
            <div class="flex1 activity-content">
                <mat-card-header>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    <mat-card-subtitle>{{ getUserName(item) }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <markdown [data]="item.content"></markdown>
                    <img *ngIf="item.image" mat-card-image src="{{ getActivityImage(item.image) }}">
                </mat-card-content>
            </div>
        </div>

        <mat-card-actions [style.padding]="0" [style.text-align]="'left'">
            <button mat-button class="like-button" [style.color]="hasLikedActivity(item) ? 'blue' : 'inherit'"
                    (click)="clickActivityLike(item)">
                <i class="material-icons">thumb_up</i>
                <span [style.margin]="'0 6px'">Like</span>
                <span *ngIf="hasActivityLikes(item)">({{ item.metaProperties.likes.length }})</span>
            </button>
            <button mat-button *ngIf="addNewComment !== item.id" class="comment-button"
                    (click)="startActivityComment(null, item)">
                <i class="material-icons">chat_bubble</i> Add a comment
            </button>
        </mat-card-actions>

        <mat-card-footer [style.padding]="'0 24px 24px 24px'">
            <ng-container *ngIf="addNewComment === item.id">
                <ng-container *ngTemplateOutlet="commentInput"></ng-container>
            </ng-container>
            <div label="Comments" *ngIf="hasActivityComments(item)">
                <div *ngFor="let comment of item.metaProperties.comments | sortByField: 'submitted'" class="flex">
                    <div mat-card-avatar class="subactivity-avatar"
                            [style.background-image]="getActivityAvatar(comment)"></div>
                    <div class="flex1 activity-content">
                        <mat-card-header>
                            <mat-card-title>{{ getUserName(comment) }}</mat-card-title>
                            <mat-card-subtitle> &bull; {{ comment.submitted | timeAgo }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <markdown [data]="comment.content"></markdown>
                        </mat-card-content>
                        <mat-card-actions [style.padding]="0" [style.text-align]="'left'">
                            <button mat-button class="like-button"
                                    [style.color]="hasLikedActivity(comment) ? 'blue' : 'inherit'"
                                    (click)="clickActivityLike(comment)">
                                <i class="material-icons">thumb_up</i>
                                <span [style.margin]="'0 6px'">Like</span>
                                <span *ngIf="hasActivityLikes(comment)">({{ comment.likes.length }})</span>
                            </button>
                            <button mat-button *ngIf="addNewComment !== comment.id" class="comment-button"
                                    (click)="startActivityComment(null, comment)">
                                <i class="material-icons">chat_bubble</i> Reply
                            </button>
                        </mat-card-actions>
                        <mat-card-footer [style.padding]="'0 24px 24px 24px'">
                            <ng-container *ngIf="addNewComment === comment.id">
                                <ng-container *ngTemplateOutlet="commentInput"></ng-container>
                            </ng-container>
                            <div *ngIf="hasActivityComments(comment)">
                                <div *ngFor="let reply of comment.replies | sortByField: 'submitted'" class="flex">
                                    <div mat-card-avatar class="subactivity-avatar"
                                            [style.background-image]="getActivityAvatar(reply)"></div>
                                    <div class="flex1 activity-content">
                                        <mat-card-header>
                                            <mat-card-title>{{ getUserName(reply) }}</mat-card-title>
                                            <mat-card-subtitle> &bull; {{ reply.submitted | timeAgo }}</mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <markdown [data]="reply.content"></markdown>
                                        </mat-card-content>
                                    </div>
                                </div>
                            </div>
                        </mat-card-footer>
                    </div>
                </div>
            </div>
        </mat-card-footer>

    </mat-card>

</ng-template>
