@import '../../../styles/_variables.scss';
@import '../threat-beta.common';

#search-bar {
    .search-input {
        width: 100%;
        margin-bottom: 5px;
        background: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);

        mat-icon {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

}

.mat-badge-content {
    left: 8px !important;
}

:host ::ng-deep #search-bar .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
        display: none;
    }
}

mat-sidenav-content {
    width: 100%;
}

#feed-content {

    padding: 15px;

    #reports-carousel, #related-boards-carousel {
        margin-bottom: 20px;

        .carousel-pager {
            float: right;

            .pager-bullet {
                width: 20px;
                height: 20px;
                line-height: 20px;
            }
        }

        .carousel-glass {
            position: absolute;
            width: -moz-available;
            width: calc(100% - 30px);
            height: 250px;
            margin-top: 11px;
            background: transparent;
        }

        .carousel-button {
            position: absolute;
            width: 48px;
            height: 48px;
            top: calc(50% - 48px);
            z-index: 100;
            margin: 0 16px;
            background: rgba(127, 127, 127, .4);
            border: 2px solid rgba(255, 255, 255, .75);
            border-radius: 50%;
            color: rgba(255, 255, 255, .4);

            mat-icon {
                font-size: 36px;
                margin-left: -12px;
            }
        }

        .carousel-button:hover {
            border-color: white;
            color: white;
        }

        .carousel-button[disabled] {
            border-color: rgba(0, 0, 0, .1);
            background: rgba(0, 0, 0, .4);
            color: gray;
        }

        .carousel-button.carousel-left {
            left: 0;
        }

        .carousel-button.carousel-right {
            right: 0;
        }

        h4 {
            display: inline-block;
        }
    }

    #reports-list, #related-boards-list {
        // flex causes the items in the carousel to span evenly
        display: flex;
        flex-direction: row;

        // this margin/padding allows the badges to appear properly
        margin-top: -11px;
        padding-top: 11px;
        padding-left: 11px;

        // hides the horizontal scrollbar for the carousel
        overflow: hidden;

        // the transition allows left-right scrolling to go smoothly
        transition: margin-left 0.5s ease;
    }

    .board-report, .related-board {
        width: 210px;
        min-width: 210px;
        margin-right: 7px;
        border-radius: 4px;
    }

    .board-report {
        height: 210px;

        .report-image {
            height: 105px;
            background-size: 210px 105px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;

            .report-fabs {
                text-align: center;

                .fab-row {
                    padding-top: 10px;

                    button[mat-mini-fab] {
                        color: black;
                        background: white;
                    }

                    button[mat-mini-fab][disabled] {
                        color: white;
                        background: gray;
                    }
                }
            }
        }
    
        .report-info {
            width: 210px;
            height: 150px;
            padding: 16px;
        }
    
        .report-title {
            font-size: 16px;
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .report-badge {
            position: absolute;
            top: 44px;
            height: 26px;
            background: transparent;
            font-size: 20px;
            color:  blue;
        }
    }

    .related-board {
        padding: 16px;

        height: 254px;

        .board-title {
            width: 168px;
            height: 150px;
            font-size: 16px;
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .board-owner {
            width: 168px;
            height: 30px;
            font-size: 14px;
            color: lightgray;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .board-options {
            width: 168px;
            height: 30px;
            font-size: 16px;
            color: white;

            button {
                padding-left: 0px;
                text-align: left;
            }

            button[disabled] {
                color: lightgray;
            }
        }
    }

    #activities-list {
        .activity-sort-options {
            margin: 10px;
            text-align: right;

            mat-radio-button {
                padding: 0 12px;
            }
        }

        mat-card {
            margin-bottom: 16px;
        }

        .activity-avatar {
            background-size: cover;
        }
    }

}
:host ::ng-deep #activities-list {
    mat-card-header {
        margin-bottom: 8px;
    }

    mat-card-title, mat-card-subtitle {
        margin-bottom: 8px;
    }

    .CodeMirror, .CodeMirror-scroll {
        min-height: 100px;
    }
}

#trends-trench {

    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 10px;
    padding: 15px;
    background: white;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, .8);

    #contributors {
        flex: 1;

        .contributor {
            margin-left: 16px;
            margin-bottom: 12px;
        }

        .contributor-avatar {
            width: 40px;
            height: 40px;
            margin-right: 8px;
            border-radius: 50%;
            line-height: 40px;
            text-align: center;
            color: white;
        }

        .contributor-userid {
            height: 40px;
            line-height: 40px;
        }
    }

}
