<div class="container">
    <div class="row">
        <div class="col-md-12 mat-title">
            NEW PRODUCT
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-form-field>
                <input mdInput #filter placeholder="ENTER WORKPRODUCT NAME" color="primary">
            </md-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            BOUNDRIES
            <md-slide-toggle color="primary" (change)="boundriesToggled($event)" [checked]="showCheckBoxes"></md-slide-toggle>
        </div>
        <div *ngIf="showCheckBoxes === true" class="col-md-10">
            checkboxes
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12">
            <md-select placeholder="Intrusion Set" color="primary" floatPlaceholder="always" (change)="addSelectedIntrusionSet($event)">
                <md-option *ngFor="let intrusion of intrusions" [value]="intrusion.value">
                    {{ intrusion.displayValue }}
                </md-option>
            </md-select>
            <md-chip-list class="mat-chip-list-stacked" selectable="true">
                <md-chip *ngFor="let selectedIntrusion of selectedInstrusions" removable="true" selectable="true">
                    {{ selectedIntrusion }}
                </md-chip>
            </md-chip-list>
        </div>
        <div class="col-md-2 col-xs-12">
            <md-form-field floatPlaceholder="always">
                <input mdInput [mdDatepicker]="startDatePicker" placeholder="Start Date" color="primary" floatPlaceholder="always">
                <md-datepicker-toggle mdSuffix [for]="startDatePicker"></md-datepicker-toggle>
                <md-datepicker #startDatePicker></md-datepicker>
            </md-form-field>
        </div>
        <div class="col-md-2 col-xs-12">
            <md-form-field floatPlaceholder="always">
                <input mdInput [mdDatepicker]="endDatePicker" placeholder="End Date" color="primary" floatPlaceholder="always">
                <md-datepicker-toggle mdSuffix [for]="endDatePicker"></md-datepicker-toggle>
                <md-datepicker #endDatePicker></md-datepicker>
            </md-form-field>
        </div>
        <div class="col-md-2 col-xs-12">
            <md-form-field floatPlaceholder="always">
                <input mdInput placeholder="Target" color="primary" floatPlaceholder="always" (keyup.enter)="addTarget($event)">
            </md-form-field>
            <md-chip-list class="mat-chip-list-stacked" selectable="true">
                <md-chip *ngFor="let target of selectedTargets" removable="true">
                    {{ target }}
                </md-chip>
            </md-chip-list>
        </div>
        <div class="col-md-2 col-xs-12">
            <md-select placeholder="Malware" color="primary" floatPlaceholder="always" (change)="addSelectedMalware($event)">
                <md-option *ngFor="let curMalware of malware" [value]="curMalware.value">
                    {{ curMalware.displayValue }}
                </md-option>
            </md-select>
            <md-chip-list class="mat-chip-list-stacked" selectable="true">
                <md-chip *ngFor="let malware of selectedMalware" removable="true">
                    {{ malware }}
                </md-chip>
            </md-chip-list>
        </div>
    </div>
    <div class="row pull-right">
        <div class="col-md-12 col-xs-12 pull-right">
                <button color="primary" md-button>CANCEL</button>
                <button color="primary" md-raised-button routerLink="#">SAVE</button>
        </div>
    </div>

</div>