#threatReportCreationComponent {
    .container {
        padding-top: 24px;
        max-width: 960px;
    }

    mat-form-field {
        width: 100%;
    }

    mat-select {
        width: 100%;
    }

    mat-chip {
        max-width: 200px;
    }

    .mat-chip-list-stacked {
        margin-top: 24px;
    }

    #formWrapper {
        @media screen and (min-width: 768px) {
            .col-xs-12 {
                width: 20%;
            }
        }
    }

    .slideWrapper {
        margin-bottom: -8px;
    }

    h2 {
        color: rgba(1,1,1, .54);
    }

}
