#threatReportCreationComponent {
    .container {
        padding-top: 24px;
    }

    md-form-field {
        width: 100%;
    }

    md-select {
        width: 100%;
    }

    md-chip {
        max-width: 200px;
    }

    .mat-chip-list-stacked {
        margin-top: 24px;
    }
    #formWrapper {
        .col-xs-12 {
            width: 20%;
        }
    }    
    .slideWrapper {
        margin-bottom: -8px;
    }
}
