
    <div class="row">

         <div class="col-md-11">
          
                    <small *ngIf="showDescription" class="help-description"><i class="material-icons">keyboard_arrow_down</i>  {{ description}}</small>
                
        </div>
        <div class="col-md-1">
            <a href (click)="toggleDescription($event)" >
                <i class="material-icons" *ngIf="showDescription">close</i>
                <i class="material-icons" *ngIf="!showDescription">help_outline</i>
            </a>
        </div>
    </div>
    <div class="row">
       <div class="col-md-12">
            
                <h4>
                    <img class='stix-icon' src='{{pageIcon}}'>
                    {{pageTitle}}
                </h4>
        </div>
    </div>
    <router-outlet></router-outlet>
