
    <div class="row mt-3">
        <div class="col-xs-12 flex">
            <span class="flex1">
            
                        <small *ngIf="showDescription" class="help-description fadeIn"><i class="material-icons">keyboard_arrow_down</i>  {{ description}}</small>
                    
            </span>
            <span>
                <a href (click)="toggleDescription($event)" >
                    <i class="material-icons" *ngIf="showDescription">close</i>
                    <i class="material-icons" *ngIf="!showDescription">help_outline</i>
                </a>
            </span>
        </div>         
    </div>
    <div class="row">
       <div class="col-md-12">
            
                <h4>
                    <img class='stix-icon' src='{{pageIcon}}'>
                    {{pageTitle}}
                </h4>
        </div>
    </div>
    <router-outlet></router-outlet>
