  <div class="row" *ngIf="threatActor">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <md-input-container class="full-width">
                <input mdInput placeholder="Name"  required [(ngModel)]="threatActor.attributes.name" value="{{threatActor.attributes.name}}">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <md-input-container class="full-width">
                <input mdInput placeholder="Decsription" [(ngModel)]="threatActor.attributes.description" value="{{threatActor.attributes.description}}">
                </md-input-container>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label>Sectors</label>
                <div class="row">
                    <div class="col-md-4"  *ngFor="let item of labels">
                            <md-checkbox class="example-margin" [checked]="isChecked(item.label)"  (click)="addLabel(item.label)">{{item.label}}</md-checkbox>
                    </div>
                </div>
            </div>

        </div>

        <aliases [(model)]="threatActor"></aliases>

        <external-reference [(model)]="threatActor"></external-reference>

        <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                        <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a>
                        <a class=" " md-raised-button (click)="saveThreatActor()" [disabled]="!threatActor.attributes.name"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>

                </div>
            </div>
        </div>
    </div>
  </div>