    <mat-card-content>
      <div *ngIf="currentCapabilityGroup !== undefined" class="row margin-bottom flex-sm flexItemsCenter">
        <div class="col-sm-9">
          <mat-card-title>
            {{ currentCapabilityGroup.name }} Capabilities
          </mat-card-title>
        </div>
        <div class="col-sm-3">
          <div *ngIf="!isAddCapability" class="button-row">
            <button mat-raised-button (click)="createNewCapability()"><i class="material-icons">add</i>ADD CAPABILITY</button>
          </div>          
        </div>
      </div>
      <div *ngIf="isAddCapability">
        <div class="row margin-bottom flex-sm flexItemsCenter">
          <div class="col-sm-9">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input matInput class="form-control" required placeholder="Capability Name" value="addCapability.name" [(ngModel)]="addCapability.name">
              </mat-form-field>
            </div>
            <mat-card-actions class="text-right">
              <button type="submit" mat-raised-button color="primary" [disabled]="!addCapability.name" (click)="addNewCapability(addCapability)"><i class="bmargin material-icons">save</i> SAVE {{ addCapability.name }}</button>
              <button type="submit" mat-raised-button color="primary" (click)="cancelAddNewCapability()">CANCEL</button>
            </mat-card-actions>
          </div>
        </div>
      </div>
      <div class="row margin-bottom" *ngFor="let selCapability of selectedCapabilities; index as i; trackBy: trackByFn">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-10">
              <form>
                <mat-form-field class="full-width">
                  <mat-select #existingCapability name="existingCapability" (selectionChange)="updateCapability(existingCapability, i)" [value]="selectedCapability(existingCapability, i)">
                    <mat-option *ngFor="let capability of getCapabilities(currentCapabilityGroup) | sortByField:'name':'ascending'"
                                [disabled]="getCapabilityDisabled(capability)" [value]="capability">
                      {{ capability.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>
            <div class="col-xs-1" [hidden]="selectedCapabilities.length === 0">
              <button mat-icon-button (click)="onDeleteCapability(existingCapability)">
                <mat-icon class="mat-24">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <form>
            <mat-form-field class="full-width">
              <mat-select #newCapability name="newCapability" (selectionChange)="updateCapability(newCapability, -1)">
                <mat-option *ngFor="let capability of getCapabilities(currentCapabilityGroup) | sortByField:'name':'ascending'"
                            [disabled]="getCapabilityDisabled(capability)" [value]="capability">
                  {{ capability.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>
    </mat-card-content>
