<div id="boardLayoutComponent">
  <mat-sidenav-container class="fixed-page-height">
    <mat-sidenav class="side-panel fixed-page-height zIndex1" mode="side" opened="true">
      <side-board [boardId]="boardId$ | async"></side-board>
    </mat-sidenav>
    <mat-sidenav-content class="sidenavContentPolyfill320 fixed-page-height">
      <threat-header [boardId]="boardId$ | async"></threat-header>
        <ng-container *ngIf="(finishedLoadingAll$|async)===true; else loadingBlock">
          <router-outlet></router-outlet>
        </ng-container>
        <ng-template #loadingBlock>
          <loading-spinner height="calc(100vh - 64px - 128px)"></loading-spinner>
        </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
