<div class="row">
    <div class="col-md-12">
              <div *ngIf="addNewMessage" class="alert alert-info">{{addNewMessage}}</div>
                    <div *ngIf="!addConfig" class="button-row">
                          <a class=" " mat-raised-button (click)="createConfigObject()"><i class="material-icons">add</i> ADD NEW CONFIGURATION</a>
                    </div>
               <div class="row">
                  <div class="col-md-12">
                    <div *ngIf="addConfig">
                          <div class="form-group">
                             <mat-input-container class="full-width">
                                 <input matInput class="form-control" required placeholder="Config Name" value="newConfig.configKey"
                                     [(ngModel)]="newConfig.configKey">
                             </mat-input-container>
                          </div>
                            <mat-input-container class="full-width">
                                <textarea matInput required matTextareaAutosize value="newConfig.configValue" [(ngModel)]="newConfig.configValue" placeholder="Config JSON Object">{{newConfig.configValue}}</textarea>
                            </mat-input-container>
                            <button type="submit"  class="mat-primary" mat-raised-button [disabled]="!newConfig.configKey || !newConfig.configValue" (click)="addNewObject()"><i class="material-icons">save</i> SAVE {{ newConfig.configKey }}</button>
                            <button type="submit"  class="mat-primary" mat-raised-button (click)="cancelObjectAdd()">CANCEL</button>
                    </div>
                  </div>
      </div>
        <div *ngIf="configData && configData.length">
              <div *ngFor="let data of configData; let i = index">
                    <br>
                    <div>
                        <div *ngIf="message[i]" class="alert alert-info">{{message[i]}}</div>
                        <h3>EDIT {{configData[i].attributes.configKey}}</h3>
                            <mat-input-container class="full-width">
                                <textarea matInput matTextareaAutosize value="configData[i].attributes.configValue" [(ngModel)]="configData[i].attributes.configValue">{{configData[i].configValue}}</textarea>
                            </mat-input-container>
                            <button type="submit"  class="mat-primary" mat-raised-button (click)="changeData(configData[i], i)"><i class="material-icons">save</i> SAVE {{ configData[i].attributes.configKey }}</button>
                            <button type="submit"  class="mat-primary" mat-raised-button (click)="deleteSingleConfig(configData[i].attributes.id, i)"><i class="material-icons">delete</i> DELETE {{ configData[i].attributes.configKey }}</button>
                            <button type="submit"  class="mat-primary" mat-raised-button (click)="fetchSingleConfig(configData[i].attributes.id, i)"> UNDO EDITS</button>
                    </div>
              </div>
              <br>
        </div>
        <div *ngIf="!(configData && configData.length)" class="alert-alert-info">
            There is no configuration data stored.
        </div>
      </div>
    </div>
