@import '../../../../../styles/_variables.scss';

.side-panel {
    width: 320px;
    background-color: white;

    markings-chips {
        ::ng-deep div.flex {
            margin-bottom: 4px;

            mat-chip-list {
                margin: 0 auto;
            }

            mat-chip {
                margin: 0 auto 4px;
            }

            mat-chip:first-of-type {
                margin-top: -8px;
            }
        }
    }
}

.main-panel {
    min-height: calc(100vh - #{$navbar-height}px);
    background-color: #F1F1F1;
}
