<div class="tactics-pane">

    <h3 class="mat-title tactics-header" [ngClass]="theme">

        <div *ngIf="subtitle === null" class="flex1 tactics-title">{{title}}</div>
        <div *ngIf="subtitle !== null" class="flex1 tactics-title tactics-title-with-subtitle">
            <div class="tactics-title-row">{{title}}</div>
            <div class="tactics-subtitle-row">{{subtitle}}</div>
        </div>

        <div class="carousel-view-controls" *ngIf="isCarouselView" [hidden]="collapsed">
            <tactics-carousel-control [options]="carouselOptions"></tactics-carousel-control>
        </div>

        <mat-button-toggle-group #viewOption="matButtonToggleGroup" class="toolbox"
                [value]="view" (change)="onViewChange($event)" [ngClass]="{'hidden': collapsed}">
            <mat-button-toggle value="carousel" matTooltip="Carousel View">
                <mat-icon class="mat-24" aria-hidden="true" aria-label="view wide table">view_carousel</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="treemap" matTooltip="TreeMap View">
                <mat-icon class="mat-24" aria-hidden="true" aria-label="view tree map">view_quilt</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="heatmap" matTooltip="HeatMap View">
                <mat-icon class="mat-24" aria-hidden="true" aria-label="view heat map">view_comfy</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <button *ngIf="collapsible && collapsed" mat-icon-button class="mat-24"
                (click)="collapsed = false" matTooltip="Expand Card">
            <mat-icon>fullscreen</mat-icon>
        </button>
        <button *ngIf="collapsible && !collapsed" mat-icon-button class="mat-24"
                (click)="collapsed = true" matTooltip="Collapse Card">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>

    </h3>

    <tactics-carousel #carousel [hidden]="collapsed || !isCarouselView" [frameworks]="frameworks" [chains]="chains"
            [targets]="targets" [options]="carouselOptions"></tactics-carousel>

    <tactics-treemap #treemap [hidden]="collapsed || !isTreemapView" [frameworks]="frameworks" [chains]="chains"
            [targets]="targets" [options]="treemapOptions"></tactics-treemap>

    <tactics-heatmap #heatmap [hidden]="collapsed || !isHeatmapView" [frameworks]="frameworks" [chains]="chains"
            [targets]="targets" [options]="heatmapOptions"></tactics-heatmap>

</div>

<tactics-tooltip #tooltips (hover)="onHover($event)" (click)="onClick($event)"></tactics-tooltip>
