<div class="addAttackPatternComponent">
  <div class="mb-6">
    <button mat-mini-fab color="primary" (click)="showAddAp = !showAddAp">
      <i class="material-icons mat-24" [ngClass]="{'showAddAp': showAddAp}">add</i>
    </button>
  </div>
  <div *ngIf="showAddAp" class="uf-well-accent" @heightCollapse>
    <mat-form-field class="full-width">
      <mat-select placeholder="Indicated Attack Patterns" [multiple]="true" [(ngModel)]="selectedAttackPatterns">
        <mat-option [value]="ap.id" *ngFor="let ap of (displayedAttackPatterns$ | async) | sortByField:'name':'ascending'">{{ ap.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="accent" [disabled]="!selectedAttackPatterns.length" (click)="saveRelationsips()">Save Relationships</button>
  </div>  
</div>
