$header_gradient_lighter: #009688;
$header_gradient_darker: #00796B;
$red_500: #F44336;
$teal_200: #80CBC4;
$teal_100: #B2DFDB;
$teal_50: #E0F2F1;
$white_87: rgba(255,255,255, .87);
$black_87: rgba(0, 0, 0, .87);

.header {
    background: linear-gradient(60deg, $header_gradient_darker, $header_gradient_lighter);
    height: 250px;
    padding: 24px;
    color: $white_87;

    .mat-display-2 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .mat-subheader-1, .header-details {
        color: $teal_200;
    }

    svg {
        height: 45px;
        width: 45px;
        margin-left: -8px;
    }

    /deep/ .icon {
        fill: $white_87;
    }
}

.list-divider {
    border-bottom: 1px solid rgba(1,1,1, .12);
}

.boundries-fab {
    margin-top: -28px;
    position: absolute;
    right: 48px;
    z-index: 99;
}

.mat-expansion-panel {
    background-color: $white_87;    

    .stix-icon {
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }
    
    .mat-list-item {
        font-size: 13px;
        
    }
    
    .clickable {
        cursor: pointer;
    }

    .list-item-hover {
        background-color: $teal_50;
    }

    /deep/ .mat-expansion-panel-body {
        margin: 0px !important;
    }
    
    /deep/ .mat-expanded {
        margin-bottom: 2px;
    }

    a {
        color: $black_87;
    }
}


