@import '../../../styles/_variables.scss';

.header {
    background: linear-gradient(60deg, $threat-dashboard-primary, $threat-dashboard-primary-light);
    height: 250px;
    padding: 24px;
    color: $white_87;

    .mat-display-2 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .mat-subheader-1, .header-details {
        color: $threat-dashboard-primary-lighter;
    }

    svg {
        height: 45px;
        width: 45px;
        margin-left: -8px;
    }

    /deep/ .icon {
        fill: $white_87;
    }
}

.list-divider {
    border-bottom: 1px solid rgba(1,1,1, .12);
}

.boundries-fab {
    margin-top: -28px;
    position: absolute;
    right: 48px;
    z-index: 99;
}

.mat-expansion-panel {
    background-color: $white_87;    

    .stix-icon {
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }
    
    .mat-list-item {
        font-size: 13px;
        
    }
    
    .clickable {
        cursor: pointer;
    }

    .list-item-hover {
        background-color: $threat-dashboard-primary-lightest;
    }

    /deep/ .mat-expansion-panel-body {
        margin: 0px !important;
    }
    
    /deep/ .mat-expanded {
        margin-bottom: 2px;
    }

    a {
        color: $black_87;
    }
}


