<div class="header">
    <div class="mat-display-2">
        <span>
            <button mat-icon-button class="mat-45" (click)="toggleLock($event)" matTooltip="{{threatReport.published === true ? 'Unlock': 'Lock'}}"
                matTooltipPosition="right">
                <mat-icon aria-hidden="true" aria-label="Report Lock">{{threatReport.published === true ? 'lock': 'lock_open'}}</mat-icon>
            </button>
            {{threatReport.name || 'Threat Report Unamed'}}
        </span>
    </div>
    <p class="mat-subheader-1">
        {{threatReport.reports.length || 0}} REPORTS(S)
    </p>
    <div *ngIf="threatReport.boundaries.startDate || threatReport.boundaries.endDate; else dateUnspecified" class="header-details">
        <span *ngIf="threatReport.boundaries.startDate; else openEnded">
            {{threatReport.boundaries.startDate | date: 'dd/MM/yyyy'}}
        </span>
        <span> - </span>
        <span *ngIf="threatReport.boundaries.endDate; else openEnded">
            {{threatReport.boundaries.endDate | date: 'dd/MM/yyyy'}}
        </span>
        <ng-template #openEnded>
            <span>*</span>
        </ng-template>
    </div>
    <ng-template #dateUnspecified>
        <div class="header-details">
            No Date Specified
        </div>
    </ng-template>
    <div class="boundaries-fab">
        <button mat-fab color="accent" (click)="openAddReportDialog($event)" matTooltip="Modify Threat Report">
            <mat-icon class="mat-24" aria-label="Add associated reports icon">add</mat-icon>
        </button>
    </div>
</div>
<div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onOpenExternalRef($event)">
            <mat-icon aria-hidden="true">open_in_new</mat-icon>
            <span>open</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon aria-hidden="true">content_copy</mat-icon>
            <span>clone</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon aria-hidden="true">mode_edit</mat-icon>
            <span>edit</span>
        </button>
        <button mat-menu-item [disabled]="threatReport.reports.length === 1" (click)="onDeleteExternalRef($event)">
            <mat-icon aria-hidden="true">delete</mat-icon>
            <span>delete</span>
        </button>
    </mat-menu>
    <mat-accordion multi="true" displayMode="flat" class="accordion">
        <mat-expansion-panel [disabled]="threatReport.reports.length === 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#campaign"></use>
                    </svg>
                    <span>Threat Reports</span>
                    <span class="">({{threatReport.reports.length}})</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list dense>
                <mat-list-item [@slideInOutAnimation] *ngFor="let report of threatReport.reports; trackBy:trackByFn" class="list-divider">
                    <h4 mat-line>
                        <a *ngIf="(report.attributes.external_references && report.attributes.external_references.length > 0 && report.attributes?.external_references[0]?.url); else noLink"
                            href="{{report.attributes?.external_references[0]?.url}}">{{report.attributes.name}}</a>
                        <ng-template #noLink>{{report.attributes.name}}</ng-template>
                    </h4>
                    <div mat-line class="mat-caption">
                        {{report.attributes.description}}
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onOpenMenu(report, $event)">
                        <mat-icon>
                            more_vert
                        </mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel [disabled]="threatReport.boundaries.targets.size === 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#identity"></use>
                    </svg>
                    <span>
                        Victims
                    </span>
                    <span>({{threatReport.boundaries.targets.size}})</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list dense>
                <mat-list-item [@slideInOutAnimation] *ngFor="let target of threatReport.boundaries.targets; trackBy:trackByFn">
                    {{target}}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel [disabled]="threatReport.boundaries.intrusions.size === 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#threat-actor"></use>
                    </svg>
                    <span>
                        Intrusion Sets
                    </span>
                    <span class="">({{threatReport.boundaries.intrusions.size}})</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list dense>
                <mat-list-item [@slideInOutAnimation] class="clickable" *ngFor="let intrusion of threatReport.boundaries.intrusions; trackBy:trackByFn"
                    (click)="onNavigateToIntrusion(intrusion.value, $event)" (mouseenter)="listItemMouseEnter($event)" (mouseleave)="listItemMouseLeave($event)">
                    <div mat-line class="">
                        <a href="#/stix/intrusion-sets/{{intrusion.value}}">{{intrusion?.displayValue}}</a>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel [disabled]="threatReport.boundaries.malware.size === 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <svg>
                        <use class="icon" xlink:href="assets/icon/stix-icons/svg/all-defs.svg#malware"></use>
                    </svg>
                    <span>
                        Malware
                    </span>
                    <span class="">({{threatReport.boundaries.malware.size}})</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list dense>
                <mat-list-item [@slideInOutAnimation] class="clickable" *ngFor="let malware of threatReport.boundaries.malware; trackBy:trackByFn"
                    (click)="onNavigateToMalware(malware.value, $event)" (mouseenter)="listItemMouseEnter($event)" (mouseleave)="listItemMouseLeave($event)">
                    <div mat-line class="">
                        <a href="#/stix/malwares/{{malware.value}}">{{malware?.displayValue}}</a>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>