@import '../../../styles/_variables.scss';

.header {
    background: linear-gradient(60deg, $threat-dashboard-primary, $threat-dashboard-primary-light);
    height: 250px;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 8px;
    padding-bottom: 0px;
    color: $white_87;

    .mat-display-2 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .mat-subheader-1, .header-details {
        color: $threat-dashboard-primary-lighter;
    }

}

.list-divider {
    border-bottom: 1px solid rgba(1,1,1, .12);
}

.boundries-fab {
    position: relative;
    left: 270px;
    width: 56px;
    bottom: -52px;
    height: 56px;
    z-index: 99;
    margin: 0px;
    padding: 0px;
}

.mat-expansion-panel {
    background-color: $white_87;

    svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        /deep/ .icon {
            fill: $black_87;
        }
    }
    
    
    .mat-list-item {
        font-size: 13px;
        
    }
    
    .clickable {
        cursor: pointer;
    }

    .list-item-hover {
        background-color: $threat-dashboard-primary-lightest;
    }

    /deep/ .mat-expansion-panel-body {
        margin: 0px !important;
    }
    
    /deep/ .mat-expanded {
        margin-bottom: 2px;
    }

    a {
        color: $black_87;
    }
}

.mat-45 {
    width: 45px;
    height: 45px;
    font-size: 45px;
}


