@import '../../styles/variables';

$page-height: calc(100vh - #{$navbar-height}px);
$main-panel-color: #F1F1F1;
$tab-wrapper-height: 128px;
$tab-content-height: calc(100vh - #{$navbar-height}px - 128px);

@mixin with-margin-centered() {
    margin-left: 24px;
    margin-right: 24px; 
}

.side-panel {
  width: 320px;
  background-color: white;

  markings-chips {
    ::ng-deep div.flex {
      margin-bottom: 4px;

      mat-chip-list {
        margin: 0 auto;
      }

      mat-chip {
        margin: 0 auto 4px;
      }

      mat-chip:first-of-type {
        margin-top: -8px;
      }
    }
  }
}

.flex {
    display: flex;

    .flex-grow {
        flex: 1 1 auto;
    }
}

.flex-cols {
    flex-direction: column;
}

.main-panel {
    background: $main-panel-color;
}

.fixed-page-height {
    height: $page-height;
}

.min-page-height {
    min-height: $page-height;
}

.fixed-tab-height {
    height: $tab-content-height;
}

.min-tab-height {
    min-height: $tab-content-height;
}
