<unf-heatmap #heatmap [data]="heatMapData" [options]="options"
        (hover)="onHover($event, true)" (click)="onClick($event)"></unf-heatmap>

<ng-template #apTooltipTemplate>
    <div class="col-md-12 attack-pattern-tooltip">
        <mat-card>
            <mat-card-subtitle>
                <div class="flex1"><label>{{tooltipTarget.name}}</label></div>
                <div [hidden]="hoverTooltip">
                    <button mat-button type="button" class="mat-primary" *ngIf="isAdminUser()">
                        <a target="_blank" href="/#/stix/attack-patterns/{{tooltipTarget.id}}">Details</a>
                    </button>
                    <button mat-button type="button" (click)="hideAttackPatternTooltip(tooltipTarget)">Close</button>
                </div>
            </mat-card-subtitle>
            <mat-card-content>
                <div class="row" *ngIf="tooltipTarget.description">
                    <div class="col-md-3"><label>Description</label></div>
                    <div class="col-md-8 attack-pattern-desc" [innerHTML]="tooltipTarget.description"></div>
                </div>
                <div class="row" *ngIf="tooltipTarget.sources && tooltipTarget.sources.length">
                    <div class="col-md-3"><label>Data Sources</label></div>
                    <div class="col-md-9 attack-pattern-sources">{{tooltipTarget.sources.join(', ')}}</div>
                </div>
                <div class="row" *ngIf="tooltipTarget.platforms && tooltipTarget.platforms.length">
                    <div class="col-md-3"><label>Platforms</label></div>
                    <div class="col-md-9 attack-pattern-platforms">{{tooltipTarget.platforms.join(', ')}}</div>
                </div>
                <div class="row" *ngIf="tooltipTarget.phases && tooltipTarget.phases.length">
                    <div class="col-md-3"><label>Phases</label></div>
                    <div class="col-md-9 attack-pattern-phases">{{tooltipTarget.phases.join(', ') | capitalize}}</div>
                </div>
                <div class="row" *ngIf="tooltipTarget.analytics && tooltipTarget.analytics.length">
                    <div class="col-md-3"><label>Intrusion Sets</label></div>
                    <div class="col-md-9 attack-pattern-analytics">{{getAnalyticNames(tooltipTarget)}}</div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>
