@import '../../../../styles/_variables.scss';

div.heat-map {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    background: $app-background-color;
}

:host ::ng-deep {
    .heat-map-canvas {
        cursor: move; /* fallback: no `url()` support or images disabled */
        cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
        cursor:    -moz-grab; /* Firefox 1.5-26 */
        cursor:         grab; /* W3C standards syntax, should come least */
    }
}