@import '../../../../styles/_variables.scss';

div.heatmap-with-minimap {
    display: flex;
    flex-direction: row;
}
div.heat-map {
    flex: 1;
    height: 400px;
    margin: 0;
    padding: 0;
    background-color: $app-background-color;
}
div.mini-map {
    width: 200px;
    height: 200px;
    margin: 36px 5px 0 10px;
    padding: 0;
    background-color: transparent;
    svg {
        background-color: $app-background-color;
    }
}

:host ::ng-deep {
    .heat-map-canvas {
        cursor: move; /* fallback: no `url()` support or images disabled */
        cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
        cursor:    -moz-grab; /* Firefox 1.5-26 */
        cursor:         grab; /* W3C standards syntax, should come least */
    }
}