@import '../../../../styles/variables';

#searchList {
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#searchWrapper,
#searchResults {
  padding: 4px;
}

#searchResults {
  z-index: 1;
  overflow-y: auto;
  // This is needed if the search bar is being used
  // margin-top: -35px;
}

.searchResultItem {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  a {
    color: $dark-text-default;
  }
}

#searchInput ::ng-deep {
  transform: translateY(-14px);

  .mat-icon {
    transform: translateY(5px);
  }
}
