<div class="container mt-10" *ngIf="!inProgress; else loadingBlock">
    <div class="row flex" *ngIf="threatReport">
        <div class="col-xs-5 col-md-5 mat-display-3 title">
            {{ threatReport.name || 'Threat Report Unamed' }}
        </div>
        <div class="col-xs-5 col-md-5">
            <h4 *ngIf="threatReport.boundaries.intrusions.size > 0 || threatReport.boundaries.malware.size > 0 || threatReport.boundaries.targets.size > 0">
                boundaries
            </h4>
            <div class="flex" *ngIf="threatReport">
                <mat-chip-list *ngIf="threatReport.boundaries.intrusions.size > 0" class="mat-chip-list-stacked margin-chips" selectable="true">
                    <mat-chip *ngFor="let intrusion of threatReport.boundaries.intrusions">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ intrusion.displayValue }}</span>
                        </div>
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="threatReport.boundaries.targets.size > 0" class="mat-chip-list-stacked margin-chips" selectable="true">
                    <mat-chip *ngFor="let target of threatReport.boundaries.targets">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ target }}</span>
                        </div>
                    </mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="threatReport.boundaries.malware.size > 0" class="mat-chip-list-stacked margin-chips" selectable="true">
                    <mat-chip *ngFor="let malware of threatReport.boundaries.malware">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ malware.displayValue }}</span>
                        </div>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <div class="col-xs-2 col-md-2 flex middle">
            <button mat-button mat-raised-button routerLink="/{{threatDashboard}}/create">
                <mat-icon class="mat-24">keyboard_backspace</mat-icon>
                EDIT BOUNDARIES
            </button>
        </div>
    </div>
    <hr class="title-hr">
    <div class="row" *ngIf="threatReport">
        <div class="col-xs-6 col-md-6">
            <h4>
                Included Reports ({{threatReport.reports.length}})
            </h4>
            <mat-form-field floatPlaceholder="never">
                <input matInput #filter placeholder="Reference reports in this work product" color="primary">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-xs-2 col-md-2" *ngIf="threatReport?.boundaries?.startDate">
            <h4>
                Start Date
            </h4>
            <span *ngIf="threatReport?.boundaries?.startDate; else nonDefined">
                {{ threatReport?.boundaries?.startDate | date:'medium' }}
            </span>
        </div>
        <div class="col-xs-2 col-md-2" *ngIf="threatReport?.boundaries?.endDate">
            <h4>
                End Date
            </h4>
            <span *ngIf="threatReport?.boundaries?.endDate; else nonDefined">
                {{ threatReport?.boundaries?.endDate | date:'medium' }}
            </span>
        </div>
        <div class="col-xs-2 col-md-2 pull-right actions">
            <button mat-icon-button class="mat-24" matTooltip="Manually add reports" (click)="openAddReportDialog($event)">
                <mat-icon aria-label="manually add reports">
                    add
                </mat-icon>
            </button>
            <unf-file-upload #fileUpload (fileParsedEvent)="onFileParsed($event)" (fileUploadFailed)="onFileUploadFail($event)"></unf-file-upload>
        </div>
    </div>
    <div class="row mb-24" *ngIf="threatReport && dataSource">
        <div class="col-xs-12 col-md-12">
            <div class="mat-elevation-z3 cardHoverShadow">
                <mat-table #table [dataSource]="dataSource">
                    <ng-container matColumnDef='actions'>
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="!!isIncludedReport(row.id); else includeReportBlock">
                                <button mat-icon-button class="mat-24" matTooltip="Exclude Report" (click)="onExcludeReport(row, $event)">
                                    <mat-icon aria-label="exclude report in workproduct">
                                        remove_circle
                                    </mat-icon>
                                </button>
                            </span>
                            <ng-template #includeReportBlock>
                                <span>
                                    <button mat-icon-button class="mat-24" matTooltip="Include Report" (click)="onIncludeReport(row, $event)">
                                        <mat-icon aria-label="include report in workproduct">
                                            add_circle_outline
                                        </mat-icon>
                                    </button>
                                </span>
                            </ng-template>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <p>
                                <a href="{{row.attributes.external_references[0].url}}" target="_blank">
                                    {{row.attributes.title || row.attributes.name}}
                                    <mat-icon aria-hidden="true" class="mat-14">launch</mat-icon>
                                </a>
                            </p>
                            <span class="mat-caption text-muted">
                                {{row.attributes.description}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span class="mat-caption">
                                {{row.attributes.created_by_ref}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef> Modified Date </mat-header-cell>
                        <mat-cell *matCellDef="let row" [style.color]="row.color">
                            <span class="mat-caption">
                                {{row.attributes.modified | date:'medium' }}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayCols"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayCols;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [length]="curDisplayLen$ | async" (page)="onPage($event)" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
    </div>
    <div class="row pull-right mb-10 mt-10">
        <div class="col-md-12 col-xs-12">
            <button mat-button (click)="cancel($event)">CANCEL</button>
            <button mat-raised-button color="primary" [disabled]="threatReport && threatReport.reports.length === 0" (click)="save($event)">
                SAVE
            </button>
        </div>
    </div>
</div>

<ng-template #nonDefined>
    <span class="mat-caption">
        Not defined
    </span>
</ng-template>

<!-- <ng-template #noBoundries>
    <div class="emptyState">
        Please provide at least one associated report
        <img align="middle"
        style="width: 375px; height: 400px; margin: auto; display:block; opacity: .54"
        src="{{iconUrl}}">
    </div>
</ng-template> -->

<ng-template #loadingBlock>
    <loading-spinner></loading-spinner>
</ng-template>