<div class="container mt-10">
    <div class="row">
        <div class="col-xs-2 mat-headline">
            {{threatReport.name}}
        </div>
        <div class="col-xs-8 mat-headline">
            Boundries
        </div>
        <div class="col-xs-2 mat-headline">
            <button md-button routeLink="/">
                EDIT
            </button>
        </div>
    </div>
    <hr class="title-hr">
    <div class="row">
        <div class="col-xs-8">
            <span class="mat-title">
                Include Objects
            </span>
            <br/>
            <md-form-field floatPlaceholder="never">
                <input mdInput #filter placeholder="Include objects in work product" color="primary">
                <md-icon mdSuffix color="primary">search</md-icon>
            </md-form-field>
        </div>
        <div class="col-xs-4">
            Dates
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            Chips go here
        </div>
    </div>
</div>