
@import '../../../styles/_variables.scss';

.title-hr {
    border: 2px solid rgba(1,1,1,.2);
}

mat-form-field {
    width: 100%;
}

.flex {
    display: flex;
}

.middle {
    // margin: 0 auto;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    margin-bottom: 8px;
    word-break: break-word;
}

.mb-24 {
    margin-bottom: 24px;
}

.mat-chip-list-wrapper {
    width: 30%;
}

.margin-chips {
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.mat-column-author {
    max-width: 115px;
}

.mat-column-actions {
    max-width: 115px;
}


.mat-column-date {
    max-width: 200px;
}

mat-cell p {
    margin-bottom: 0px;
    margin-top: 8px;
}

mat-cell a mat-icon {
    display: none;
}

h4 {
    color: $black_54;
}

.title {
    color: $black_54;
}

.emptyState {
    opacity: .54;
    text-align: center;
    font-size: 24px;
    color: $black_54;
}