<div class="container mt-10" *ngIf="!inProgress; else loadingBlock">
    <div class="row flex" *ngIf="threatReport">
        <div class="col-xs-12 col-md-5 mat-display-3 title">
            {{ threatReport.name || 'Threat Report Unamed' }}
        </div>
        <div class="col-xs-12 col-md-5">
            <h4 *ngIf="threatReport.boundries.intrusions.size > 0 || threatReport.boundries.malware.size > 0 || threatReport.boundries.targets.size > 0">
                Boundries
            </h4>
            <div class="flex" *ngIf="threatReport">
                <md-chip-list *ngIf="threatReport.boundries.intrusions.size > 0" class="mat-chip-list-stacked margin-chips" selectable="true">
                    <md-chip *ngFor="let intrusion of threatReport.boundries.intrusions">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ intrusion }}</span>
                        </div>
                    </md-chip>
                </md-chip-list>
                <md-chip-list *ngIf="threatReport.boundries.targets.size > 0" class="mat-chip-list-stacked margin-chips" selectable="true">
                    <md-chip *ngFor="let target of threatReport.boundries.targets">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ target }}</span>
                        </div>
                    </md-chip>
                </md-chip-list>
                <md-chip-list *ngIf="threatReport.boundries.malware.size > 0" class="mat-chip-list-stacked margin-chips" selectable="true">
                    <md-chip *ngFor="let malware of threatReport.boundries.malware">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ malware }}</span>
                        </div>
                    </md-chip>
                </md-chip-list>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 flex middle">
            <button md-button md-raised-button routerLink="/{{threatDashboard}}/create">
                <md-icon class="md-24">keyboard_backspace</md-icon>
                EDIT BOUNDRIES
            </button>
        </div>
    </div>
    <hr class="title-hr">
    <div class="row" *ngIf="threatReport && !threatReport.isEmpty(); else noBoundries">
        <div class="col-xs-6 col-md-6">
            <h4>
                Include Objects
            </h4>
            <md-form-field floatPlaceholder="never">
                <input mdInput #filter placeholder="Include objects in work product" color="primary">
                <md-icon mdSuffix color="primary">search</md-icon>
            </md-form-field>
        </div>
        <div class="col-xs-3 col-md-3" *ngIf="threatReport?.boundries?.startDate">
            <h4>
                Start Date
            </h4>
            <span *ngIf="threatReport?.boundries?.startDate; else nonDefined">
                {{ threatReport?.boundries?.startDate | date:'medium' }}
            </span>
        </div>
        <div class="col-xs-3 col-md-3" *ngIf="threatReport?.boundries?.endDate">
            <h4>
                End Date
            </h4>
            <span *ngIf="threatReport?.boundries?.endDate; else nonDefined">
                {{ threatReport?.boundries?.endDate | date:'medium' }}
            </span>
        </div>
    </div>
    <div class="row mb-24" *ngIf="threatReport && dataSource && threatReport.reports.length > 0">
        <div class="col-xs-12 col-md-12">
            <div class="mat-elevation-z3">
                <md-table #table [dataSource]="dataSource">
                    <ng-container mdColumnDef="title">
                        <md-header-cell *mdHeaderCellDef> Title </md-header-cell>
                        <md-cell *mdCellDef="let row">
                            <p>
                                <a href="{{row.data.attributes.external_references[0].external_url}}" target="_blank">
                                    {{row.data.attributes.title || row.data.attributes.name}}
                                    <md-icon aria-hidden="true" class="md-14">launch</md-icon>
                                </a>
                            </p>
                            <span class="mat-caption text-muted">
                                {{row.data.attributes.description}}
                            </span>
                        </md-cell>
                    </ng-container>
                    <ng-container mdColumnDef="author">
                        <md-header-cell *mdHeaderCellDef> Author </md-header-cell>
                        <md-cell *mdCellDef="let row">
                            <span class="mat-caption">
                                {{row.data.attributes.created_by_ref}}
                            </span>
                        </md-cell>
                    </ng-container>
                    <ng-container mdColumnDef="date">
                        <md-header-cell *mdHeaderCellDef> Modified Date </md-header-cell>
                        <md-cell *mdCellDef="let row" [style.color]="row.color">
                            <span class="mat-caption">
                                {{row.data.attributes.modified | date:'medium' }}
                            </span>
                        </md-cell>
                    </ng-container>
                    <ng-container mdColumnDef='actions'>
                        <md-header-cell *mdHeaderCellDef> </md-header-cell>
                        <md-cell *mdCellDef="let row">
                            <span class="buttonGrp text-right">
                                <button class="mat-warn" md-button (click)="deletButtonClicked(row)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </span>
                        </md-cell>
                    </ng-container>
                    <md-header-row *mdHeaderRowDef="displayCols"></md-header-row>
                    <md-row *mdRowDef="let row; columns: displayCols;"></md-row>
                </md-table>
                <md-paginator #paginator [length]="threatReport.reports.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
                </md-paginator>
            </div>
        </div>
    </div>
    <div class="row pull-right mb-10 mt-10">
        <div class="col-md-12 col-xs-12">
            <button color="primary" md-button (click)="cancel($event)">CANCEL</button>
            <button md-raised-button color="primary" [disabled]="threatReport && threatReport.isEmpty()" (click)="save($event)">
                <md-icon class="md-24">save</md-icon>
                SAVE
            </button>
        </div>
    </div>
</div>

<ng-template #nonDefined>
    <span class="mat-caption">
        Not defined
    </span>
</ng-template>

<ng-template #noBoundries>
    <div class="emptyState">
        You have no boundries defined or associated reports
        <img align="middle"
        style="width: 375px; height: 400px; margin: auto; display:block; opacity: .54"
        src="{{iconUrl}}">
    </div>
</ng-template>

<ng-template #loadingBlock>
    <loading-spinner></loading-spinner>
</ng-template>