
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name"  [(ngModel)]="intrusionSet.attributes.name" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
         <md-datepicker></md-datepicker>
       
    </div>
    <div class="col-md-6">
          <md-datepicker></md-datepicker>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Primary Motivation"  [(ngModel)]="intrusionSet.attributes.primary_motivation" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Goals"  [(ngModel)]="intrusionSet.attributes.goals" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Resource Level"  [(ngModel)]="intrusionSet.attributes.resource_level" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/identity-b.svg"> Identities</p>
       <select-search-field [placeholder]="'identities'" [searchUrl]="'identities'"></select-search-field>
    </div>

    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/threat-actor-b.svg"> Threat Actors</p>
       <select-search-field [placeholder]="'Threat Actors'" [searchUrl]="'threat-actors'"></select-search-field>
    </div>

    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/attack-pattern-b.svg"> Attack Patterns</p>
       <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'"></select-search-field>
    </div>
</div>




<!--<external-reference [(model)]="intrusionSet"></external-reference>-->
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
            <input mdInput placeholder="Decsription" [(ngModel)]="intrusionSet.attributes.description" value="">
        </md-input-container>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a> 
                <a class=" " md-raised-button (click)="saveIdentity()"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>              
        </div>
    </div>
</div>