
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name"  [(ngModel)]="intursionSet.attributes.name" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
         <md-datepicker></md-datepicker>
       
    </div>
    <div class="col-md-6">
          <md-datepicker></md-datepicker>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Primary Motivation"  [(ngModel)]="intursionSet.attributes.primary_motivation" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Goals"  [(ngModel)]="intursionSet.attributes.goals" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Resource Level"  [(ngModel)]="intursionSet.attributes.resource_level" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <select-search-field></select-search-field>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <select-search-field></select-search-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/attack-pattern-b.svg"> Attack Patterns</p>
       <select-search-field></select-search-field>
    </div>
</div>




<!--<external-reference [(model)]="intursionSet"></external-reference>-->
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
            <input mdInput placeholder="Decsription" [(ngModel)]="intursionSet.attributes.description" value="">
        </md-input-container>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i>CANCEL</a> 
                <a class=" " md-raised-button (click)="saveButtonClicked()"><i class="fa fa-floppy-o "></i>SAVE</a>              
        </div>
    </div>
</div>