.filterWrapper {
    padding-left: 16px;
    padding-right: 16px;
}

.stixList {
    max-height: 392px;
    overflow-y: auto;    
    padding-bottom: 0px;
    padding-top: 0px;
}

.uf-well {
    margin-bottom: 0px;
}

.unfSelectionListComponent {
    margin-bottom: 10px;
}
