<div id="registerComponent" class="container">
    <div class="row mt-20 mb-20">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <h3>Finalize Registration</h3>
            <p class="lead">You are almost ready to use Unfetter.  Please verify and fill out the following information.</p>
        </div>
    </div>

    <div class="row mb-20" *ngIf="submitError">
        <div class="col-xs-12">
            <p class="flex flexItemsCenter">
                <span class="md-24"><i class="material-icons textWarn">warning</i></span>
                <span>&nbsp;&nbsp;An error occured processing your registration. <a routerLink="/">Return</a></span>
            </p>
        </div>
    </div>

    <div class="row" *ngIf="!submitError">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <md-card *ngIf="form !== undefined">

                <md-card-header>
                    <div md-card-avatar [style.background]="'url(' + userReturn.github.avatar_url + ')'" class="avatar" *ngIf="userReturn.github.avatar_url !== undefined"></div>
                    <md-card-title class="mt-5">{{form.get('userName').value}}</md-card-title>
                    <md-card-subtitle>{{form.get('firstName').value}}&nbsp;{{form.get('lastName').value}}</md-card-subtitle>
                </md-card-header>

                <md-card-content>
                    <br class="mt-10">
                    <form [formGroup]="form" novalidate (ngSubmit)="registerSubmit()">

                        <md-form-field class="full-width mb-10">
                            <input mdInput required placeholder="First Name" formControlName="firstName">
                            <md-error *ngIf="form.get('firstName').hasError('required')">
                                First name is <strong>required</strong>
                            </md-error>
                        </md-form-field>

                        <md-form-field class="full-width mb-10">
                            <input mdInput required placeholder="Last Name" formControlName="lastName">
                            <md-error *ngIf="form.get('lastName').hasError('required')">
                                Last name is <strong>required</strong>
                            </md-error>
                        </md-form-field>
                        
                        <md-form-field class="full-width mb-10">
                            <input mdInput required placeholder="Username" formControlName="userName">
                            <md-error *ngIf="form.get('userName').hasError('required')">
                                Username is <strong>required</strong>
                            </md-error>
                        </md-form-field>

                        <md-form-field class="full-width mb-10">
                            <input mdInput required placeholder="Email" formControlName="email">
                            <md-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
                                Please enter a valid email address
                            </md-error>
                            <md-error *ngIf="form.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </md-error>
                        </md-form-field>

                        <md-select placeholder="Organizations" [multiple]="true" class="full-width mb-20" formControlName="organizations">
                            <md-option value="1">Foo</md-option>
                            <md-option value="2">Bar</md-option>
                        </md-select>

                        <div>
                            <md-radio-group>
                                <md-radio-button value="1" selected>Create STIX Identity</md-radio-button>&emsp;
                                <md-radio-button value="2">Import STIX Identity</md-radio-button>
                            </md-radio-group>
                        </div>

                        <p class="text-right mt-10">
                            <button md-button routerLink="/">Cancel</button>
                            <button md-raised-button color="accent" [disabled]="form.status === 'INVALID' || registrationSubmitted" type="submit">Register</button>
                        </p>              
                    
                    </form>

                </md-card-content>
            </md-card>

        </div>
    </div>
</div>
