$nav-background-color: #17375e;
$primary-color: #0177bc;
$accent-color: #FFD740;
$accent-alt-color: #81C784;
$warn-color: #FF5722;
$neutral-color: #607D8B;

$navbar-height: 64;
$footer-height: 30;

@function headerFooterOffset() {
    @return ($navbar-height + $footer-height) + px;
}

$default-navbar-height: 50;
$default-navbar-nav-a-padding: 15;
