@import 'mat-colors';

// ~~~ Global Theming Colors ~~~

$nav-background-color: #17375e;
$primary-color: get-color($light-blue, 800);
$primary-text-contrast-color: #ffffff;
$primary-color-light: get-color($light-blue);
$accent-color: get-color($amber, 'A400');
$accent-alt-color: get-color($green, 300);
$warn-color: get-color($deep-orange);
$neutral-color: get-color($blue-grey);

// ~~~ Dashboard Specific Theming Template ~~~

// $dashboard-name-primary: get-color($purple, 300);
// $dashboard-name-accent: get-color($pink, 700);

// Threat Dashboard
$threat-dashboard-primary: get-color($teal, 700);
$threat-dashboard-primary-light: get-color($teal);
$threat-dashboard-primary-lightest: get-color($teal, 50);
$threat-dashboard-accent: get-color($red, 500);

// ~~~ Navbar sizing ~~~

$navbar-height: 64;
$footer-height: 30;
$default-navbar-height: 50;
$default-navbar-nav-a-padding: 15;
$default-navbar-mat-button-padding: 7;

// ~~~ Functions & Mixins ~~~

@function headerFooterOffset() {
    @return ($navbar-height + $footer-height) + px;
}

@mixin material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
