@import 'modules/mat-colors';

// ~~~ Global Theming Colors ~~~

$dark-text-default: rgba(0, 0, 0, 0.87);
$dark-text-dimmed: rgba(1, 1, 1, .54);
$label-color: #9e9e9e;
$light-text-default: #ffffff;
$light-text-slightly-dimmed: rgba(255, 255, 255, .87);
$light-text-dimmed: rgba(255, 255, 255, .54);

$app-background-color: #fafafa;
$primary-color: get-color($indigo, 700);
$primary-text-default: $dark-text-default;
$primary-text-contrast-color: $light-text-default;
$primary-color-light: get-color($indigo, 400);
$primary-color-lighter: get-color($indigo, 200);
$primary-color-lightest: get-color($indigo, 50);
$primary-color-dark: get-color($indigo, 900);
$accent-color: get-color($cyan, 'A400');
$accent-text: $dark-text-default;
$accent-alt-color: get-color($teal, 300);
$accent-alt-color-dark: get-color($teal, 600);
$warn-color: get-color($deep-orange);
$neutral-color: get-color($blue-grey);

// ~~~ Dashboard Specific Theming Template ~~~

// Threat Dashboard
$threat-dashboard-primary: get-color($blue, 600);
$threat-dashboard-primary-light: get-color($blue, 400);
$threat-dashboard-primary-lighter: get-color($blue, 200);
$threat-dashboard-primary-lightest: get-color($blue, 100);
$threat-dashboard-accent: get-color($red, 'A200');
$threat-dashboard-accent-text: $light-text-default;
$threat-dashboard-primary-text: $light-text-default;
$threat-dashboard-primary-contrast-text: $light-text-default;

// Analytic exchange
$analytic-exchange-primary: get-color($cyan, 600);
$analytic-exchange-primary-light: get-color($cyan, 300);
$analytic-exchange-primary-lighter: get-color($cyan, 200);
$analytic-exchange-primary-lightest: get-color($cyan, 100);
$analytic-exchange-accent: get-color($orange, A200);
$analytic-exchange-accent-text: $dark-text-default;
$analytic-exchange-primary-text: $light-text-default;
$analytic-exchange-primary-contrast-text: $light-text-default;

// Assessments
$assessments-primary: get-color($blue-grey, 400);
$assessments-primary-light: get-color($blue-grey, 300);
$assessments-primary-lighter: get-color($blue-grey, 200);
$assessments-primary-lightest: get-color($blue-grey, 100);
$assessments-primary-subtle: get-color($blue-grey, 50);
$assessments-nav-background: #E2F1F8;
$assessments-accent: get-color($indigo, A400);
$assessments-accent-text: $light-text-default;
$assessments-accent-text-slightly-dimmed: $light-text-slightly-dimmed;
$assessments-primary-contrast-text: $light-text-default;
$assessments-primary-text: $dark-text-default;

// Events Dashboard
$events-primary: get-color($green, 600);
$events-primary-light: get-color($green, 300);
$events-primary-lighter: get-color($green, 200);
$events-primary-lightest: get-color($green, 100);
$events-primary-subtle: get-color($green, 50);
$events-accent: get-color($yellow, A200);
$events-accent-text: $light-text-default;
$events-primary-text: $dark-text-default;
$events-primary-contrast-text: $light-text-default;

// ~~~ Navbar sizing ~~~

$navbar-height: 64;
$navbar-mobile-height: 56;
$nav-popup-radius: 2;
$navbar-triangle-offset: 37;
$navbar-window-offset: 45;

// ~~~ Other vars ~~~

$table-padding: 10px;
$elastic-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$mde-background: #f2f2f2;

// ~~~ Functions & Mixins ~~~

@mixin material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

@mixin monospace {
    font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace;
}

@function rgba-to-rgb($rgba, $background: #fff) {
        @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
}

@mixin set-colors ($text-color, $background) {
    color: $text-color;
    background: $background;
}
