// Fix for Roboto font path
$roboto-font-path: '../assets/';
// Set Primary and Secondary colors
$primary-color: rgb(23, 55, 94);
$secondary-color: lighten($primary-color, 10%);
$tertiary-color: rgb(12, 30, 48);
$tertiary-color-selected: rgb(17, 43, 68);
$indicator-color: rgb(0, 171, 204);
$muted-color: rgb(150, 150, 150);
$dark-muted-color: darken($muted-color, 10%);
$light-muted-color: light($muted-color, 10%);


.column-input-field {
    margin-top: 0px;
}

.column-input-field label {
    top: 0.55rem;
}

$attack-pattern-color: rgb(35, 159, 221);
// Application colors
$high-color: rgb(29, 145, 133);
$medium-color: rgb(244, 109, 67);
$low-color: rgb(231, 197, 105);
$none-color: rgb(158, 1, 66);
$unknown-color: rgb(195, 195, 195);
$mitigated-color: $high-color;
$unmitigated-color: $none-color;
// Override valid styling
input[type=text].valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
}
.box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,.2);
}
.horizontal-center {
    margin: 0px auto;
}

.icon-unselected {
    opacity: 0.1;
}

.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

.strong {
    font-weight: bold;
}

.paragraph-block {
    margin-bottom: 10px;
}

.paragraph-inline-block {
    margin-right: 30px;
}

.menu-column-icon {
    font-size: 30px;
}

.drag-reorder {
    cursor: move;
    color: darkgrey;
}

.button-group {
    margin-bottom: 20px;
}

.text-primary {
    color: $primary-color;
}

.text-mitigated {
    color: $mitigated-color;
}

.text-unmitigated {
    color: $unmitigated-color;
}

.text-muted {
    color: $muted-color;
}

.background-indicator {
    background-color: $indicator-color !important;
}

.icon-label {
    margin-right: 30px;
}

.secondary-content {
    color: $muted-color;
}

.vertical-center {
    vertical-align: middle;
}

// Layout Components
.application-header {
    background-color: darken($primary-color, 5%);
    color: #ffffff;
}

.application-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.security-marking-label {
    text-align: center;
    font-size: 0.8em;
}

.undefined {
    font-style: italic;
}

.strong {
    font-weight: bold;
}

.brand-logo img {
    margin-top: 12px;
}

.modal .modal-footer .btn-flat {
    margin-left: 1px;
    margin-right: 1px;
}

// Help
.help-description {
    margin-top: 10px;
    color: $muted-color;
}

.help-icon {
    margin-top: 10px;
    color: $muted-color;
}

.help-description .tiny {
    vertical-align: text-top;
}

// Modal
.lf-dialog {
    border: none;
    padding: 0;
    position: absolute;
    top: 10%;
}

.lf-dialog .modal {
    display: block;
}

// Dashboard
.flex-container {
    display: flex;
    margin-bottom: 0px;
}

.flex-container .col.side-column {
    max-width: 400px;
    background-color: $tertiary-color;
    padding: 0px;
    margin-left: 0px;
    color: #ffffff;
    min-height: 100vh;
}

.flex-container .col.main-column {
    margin-left: 20px;
}

.side-column-header {
    text-transform: uppercase;
    font-weight: bold;
    color: $muted-color;
    margin-left: 20px;
    margin-bottom: 15px;
}

.icon-header {
    font-size: 0.75em;
}

.dashboard-table {
    width: auto;
}

.dashboard-table th {
    max-width: 120px;
}

.dashboard-header-counts {
    font-weight: normal;
}

.dashboard-title-counts {
    font-weight: normal;
    font-size: 0.4em;
}

.dashboard-column {
    vertical-align: top;
    padding: 0px 1px 0px 0px;
}

.dashboard-column-item {
    font-size: 0.7em;
    padding: 10px;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    border: 1px solid #cccccc;
}

.coa-dashboard-div-item {
    font-size: 0.9em;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    background-color: #fff !important;
}

.mitigation-groups-collection {
    margin-left: 50px;
}

.kill-chain-phase-card {
    float: left;
    min-width: 290px;
    width: 100%;
    margin-right: 25px;
    background-color: lighten(rgb(237, 241, 244), 4%);
}

.kill-chain-phase-card .phase-label {
    font-size: 1.35em;
}

// mitigation-groups
table.mitigation-groups {
    width: auto;
}

table.mitigation-groups td {
    padding: 0px 10px 0px 0px;
}

.mitigation-groups .mitigation-label a {
    color: $muted-color;
}

.mitigation-groups .mitigation-label a:hover {
    color: $primary-color;
}

.mitigation-group-labels {
    margin-top: 10px;
}

// kill-chain-phase-card
.kill-chain-phase-card .card-action {
    margin-bottom: 0px;
}


/**
 * STIX Icons
 *
 */

.stix-object-icon {
    height: 30px;
    width: 30px;
    pointer-events: none;
}

.stix-object-icon-sm {
    height: 20px;
    width: 20px;
}

.stix-object-icon-switch {
    cursor: pointer;
}

.stix-object-icon-switch.unchecked {
    opacity: 0.2;
}

.label-unchecked {
    opacity: 0.2;
}

span.stix-object-item-label {
    margin-left: 5px;
    font-weight: normal;
    vertical-align: middle;
}

.stix-icon {
    height: 30px;
    width: 30px;
}

.stix-icon-header {
    height: 30px;
    width: 30px;
}

.stix-icon-mini {
    height: 20px;
    width: 20px;
}

.course-of-action-label {
    color: $muted-color;
    padding: 5px 5px 5px 10px;
    margin-left: 10px;
    margin-bottom: 1px;
}

.selected-indicator .course-of-action-label {
    color: #ffffff;
    background-color: $tertiary-color-selected;
}

.course-of-action-rating {
    margin: 0px auto;
    width: 50%;
}

.course-of-action-rating td {
    min-width: 150px;
}

.course-of-action-rating-label {
    text-transform: uppercase;
    color: $muted-color;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    margin: 10px -20px 20px -20px;
}

.course-of-action-rating [type="radio"]+label {
    font-size: 0.8em;
    text-transform: uppercase;
    color: $primary-color;
}

.selected-indicator {
    background-color: $indicator-color;
}

.course-of-action-references {
    font-size: 0.8em;
}

.course-of-action-references .rating-label {
    color: $indicator-color;
}

.column-label-mitigated {
    color: $secondary-color;
    font-style: italic;
}

.item-mitigated {
    background-color: $mitigated-color;
    border-radius: 5px;
    color: #ffffff;
}

.item-unmitigated {
    background-color: $unmitigated-color;
    color: #ffffff;
}

.item-selected {
    background-color: $muted-color;
    border-radius: 5px;
}

.action-switch-label {
    font-size: 0.8em;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

// Charts
.published-column {
    margin-top: 15px;
    font-size: 0.85em;
}

.published {
    color: $muted-color;
}

h6.phase-label {
    padding-top: 15px;
}

.phase-label {
    text-transform: uppercase;
    font-weight: bold;
}

.phase-label a {
    color: $primary-color;
}


.phase-labels a {
    font-size: 0.8em;
    color: $muted-color;
}

.phase-labels .selected a {
    color: $primary-color;
}
.phase-label .selected {
    color: $primary-color;
    
    background-color: $muted-color;
       
}
.collection-item .plot {
    float: left;
    margin-left: -20px;
    margin-right: 10px;
}

.collection-item .mitigation-percent-label {
    margin-right: 20px;
}

.collection-item .chart-label {
    font-size: 0.75em;
}

.collection-item .secondary-label {
    color: $muted-color;
    text-transform: uppercase;
    font-size: 0.8em;
    float: right;
}

.mitigation-percent-label {
    font-size: 1.35em;
}

.card .mitigation-percent-label {
    font-size: 2em;
}

.text-unmitigated {
    color: $unmitigated-color;
}

th.rotate {
    height: 140px;
    white-space: nowrap;
}

th.rotate>div {
    transform: translate(25px, 51px) rotate(315deg);
    width: 30px;
}

th.rotate>div>span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.card-title {
    color: $primary-color;
}

.card-description {
    margin-top: 40px;
    font-size: 2.05em;
    min-height: 100px;
    color: $primary-color;
}

.chart-label {
    color: $muted-color;
    text-transform: uppercase;
    margin-right: 20px;
}

.card-footer-label {
    color: $muted-color;
    text-transform: uppercase;
    font-size: 0.8em;
}


/**
 * Campaigns
 *
 */

.card .card-content .campaign-description {
    margin-bottom: 10px;
}

.card .card-content .horizontal-center {
    text-align: center;
}

.campaign-card {
    float: left;
    min-height: 290px;
    min-width: 300px;
    max-width: 300px;
    margin-right: 25px;
}

.campaign-card h5 {
    min-height: 80px;
}

.object-references-section {
    padding-bottom: 20px;
}

.campaign-created {
    font-size: 0.9em;
}

.object-type-references {
    margin-right: 50px;
}

.object-type-references-number {
    font-size: 24px;
}

.object-type-references .stix-object-icon {
    width: 20px;
    height: 20px;
}


/**
 * Reports
 *
 */

.mitigation-summary {
    min-height: 170px;
}

.attack-pattern-header {
    margin-top: 0px;
}

.attack-pattern-ratings li {
    clear: left;
}

.attack-pattern-rating {
    width: 35px;
    height: 35px;
    background-color: $unknown-color;
    float: left;
    margin-bottom: 2px;
    text-align: center;
    padding-top: 7px;
    color: #ffffff;
}

.attack-pattern-name {
    vertical-align: top;
    color: $dark-muted-color;
    margin-left: 5px;
    float: left;
    margin-top: 8px;
    font-size: 0.9em;
    max-width: 80%;
}

.attack-pattern-name a {
    color: $dark-muted-color;
}

.attack-pattern-name.selected a {
    font-weight: bold;
    color: $primary-color;
}

.mitigation-unknown {
    background-color: $unknown-color;
}

.mitigation-none {
    background-color: $none-color;
}

.mitigation-low {
    background-color: $low-color;
}

.mitigation-medium {
    background-color: $medium-color;
}

.mitigation-high {
    background-color: $high-color;
}

.text-mitigation-unknown {
    color: $unknown-color;
}

.text-mitigation-none {
    color: $none-color;
}

.text-mitigation-low {
    color: $low-color;
}

.text-mitigation-medium {
    color: $medium-color;
}

.text-mitigation-high {
    color: $high-color;
}

.mitigation-progress-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mitigation-progress-container .row {
    margin-bottom: 0px;
}

.progress.mitigation-progress {
    height: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.mitigation-progress .determinate {
    border-radius: 3px;
}

.attack-pattern-number {
    font-size: 0.9em;
}

.progress .mitigation-unknown {
    background-color: $unknown-color;
}

.progress .mitigation-none {
    background-color: $none-color;
}

.progress .mitigation-low {
    background-color: $low-color;
}

.progress .mitigation-medium {
    background-color: $medium-color;
}

.progress .mitigation-high {
    background-color: $high-color;
}


/** Relationship Axis Graph */

.relationship-axis-graph {
    width: 100%;
    height: 100vh;
}

.axis {
    stroke: darkgrey;
}

.axis-header-label {
    font-size: 12px;
    text-anchor: middle;
}

.link.selected {
    stroke: darkgrey;
}

.link.unselected {
    opacity: 0.1;
}


/**
 * Threat Actor Dashboard
 *
 */

h5.threat-actor-label {
    margin-bottom: 20px;
}

.progress.attack-pattern-progress {
    height: 15px;
    margin-top: 3px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid $attack-pattern-color;
    border-radius: 3px;
}

.progress.attack-pattern-progress-header {
    height: 24px;
    margin-top: 13px;
}

.attack-pattern-progress .determinate {
    background-color: $attack-pattern-color;
}

.attack-pattern-used-item {
    background-color: $attack-pattern-color;
}

.phase-name-used-card {
    background-color: $attack-pattern-color;
    width: 120px;
    height: 40px;
    font-size: 0.75em;
    border: 1px solid $muted-color;
    text-align: center;
    margin-bottom: 1px;
    margin-right: 1px;
    padding: 0px 10px 0px 10px;
}

.phase-name-used-card .label {
    margin-top: 4px;
}

.threat-actor-selected {
    color: #fff;
    font-weight: bold;
}


/** Graphs */

.link-node-graph {
    width: 100%;
    height: 100vh;
}

.link-node-graph-md {
    width: 50%;
    height: 200px;
}

.node {
    fill: lightgrey;
    stroke: darkgrey;
    cursor: pointer;
}

.node.malware {
    fill: rgb(146, 11, 11);
}

.node.threat-actor {
    fill: rgb(193, 39, 44);
}

.node.course-of-action {
    fill: rgb(57, 181, 73);
}

.node.indicator {
    fill: rgb(190, 177, 19);
}

.node.attack-pattern {
    fill: $attack-pattern-color;
}

.node.tool {
    fill: rgb(104, 5, 6);
}

.node.observable-path {
    fill: #00897b;
}

.node.campaign {
    fill: #006699;
}

.node.unselected {
    fill: #eeeeee;
}

.link {
    stroke: #cccccc;
    fill: transparent;
}

.text-malware {
    color: rgb(146, 11, 11);
    font-weight: bold;
}

.text-threat-actor {
    color: rgb(193, 39, 44);
    font-weight: bold;
}

.text-course-of-action {
    color: rgb(57, 181, 73);
    font-weight: bold;
}

.text-indicator {
    color: rgb(190, 177, 19);
    font-weight: bold;
}

.text-attack-pattern {
    color: $attack-pattern-color;
    font-weight: bold;
}

.text-tool {
    color: rgb(104, 5, 6);
    font-weight: bold;
}

.text-observable-path {
    color: #00897b;
    font-weight: bold;
}

.text-campaign {
    color: #006699;
}

.malware-label {
    color: rgb(146, 11, 11);
}

.threat-actor-label {
    color: rgb(193, 39, 44);
}

.course-of-action-label {
    color: rgb(57, 181, 73);
}

.indicator-label {
    color: rgb(190, 177, 19);
}

.attack-pattern-label {
    color: $attack-pattern-color;
}

.tool-label {
    color: rgb(104, 5, 6);
}

.observable-path-label {
    color: #00897b;
}

.campaign-label {
    color: #006699;
}


/*tabs*/

.intrusion-sets-tab {
    background-color: rgba(35, 159, 221, 0.2);
    border: solid 1px $attack-pattern-color;
}

.intrusion-sets-tab-content {
    border: solid 1px $attack-pattern-color;
}