@import 'variables';

.ui-widget-content {
    background: inherit;
}

.ui-accordion {
    .ui-accordion-header.ui-state-active {
        background-color: inherit !important;
    }
}
.intrusionClass {
    .ui-widget-content {
        background: white;
    }
}

.ui-carousel {
    .ui-carousel-header {
        display: flex;
        align-items: center;
        border: none;
        margin-right: -1px;
        margin-left: -1px;
        margin-top: -1px;
        color: white;
        border-radius: 2px 2px 0 0;
        background: $primary-color;
        padding: 16px 32px;
    }
    .ui-carousel-header-title {
        flex: 1;
    }
    .ui-carousel-button {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border: none;
        border-radius: 50%;
        font-size: 30px;
        color: $primary-color;
        &.ui-carousel-prev-button {
            order: 2;
            &:before {
                content: "keyboard_arrow_left";
                top: 18px;
                right: 66px;
                position: absolute;
                @include material-icons;
            }
        }
        &.ui-carousel-next-button {
            order: 3;
            &:before {
                content: "keyboard_arrow_right";
                top: 18px;
                right: 33px;
                position: absolute;
                @include material-icons;
            }
        }
    }
}

// Intrustion Set Dashboard specific overrides
// #intrusionSetDashboard {
//     .ui-carousel.ui-widget.ui-widget-content.ui-corner-all {
//         border: none !important;
//         border-radius: 0 !important;
//     }
//     .carouselSubheadingRow {
//         .badge {
//             background-color: $neutral-color !important;
//         }
//         .kill-chain-div {
//             font-weight: bold;
//             padding: 5px;
//             background: $accent-alt-color;
//             border-bottom: 2px solid #2E7D32;
//         }
//     }
//     .carousel-wrapper {
//         box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
//         transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
//         will-change: box-shadow;
//         display: block;
//         position: relative;
//         padding: 24px;
//         border-radius: 2px;
//         font-family: 'Roboto', "Helvetica Neue", sans-serif;
//     }
//     .carousel-content-wrapper {
//         height: 430px;
//         overflow-y: auto;
//         position: relative;
//     }
// }