.ui-widget-content {
    background: inherit;
}

.ui-accordion {
    .ui-accordion-header.ui-state-active {
        background-color: inherit !important;
    }
}
.intrusionClass
    {.ui-widget-content {
        background: white;

    }
}