/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

// // Import a pre-built theme 
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
@import '~@angular/material/core/theming/prebuilt/indigo-pink';
// // Import your custom input theme file so you can call the custom-input-theme function 
//@import '~angular-material-datepicker/src/datepicker/calendar.component.scss';
 
// // Using the $theme variable from the pre-built theme you can call the theming function 
//@include calendar-theme($theme);

label {
    color: #9e9e9e;
}

.navbar-inverse {
    background-color: $nav-background-color;
    border-color: $nav-background-color;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: $nav-background-color;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

// body > .container {
//   padding: 60px 15px 0;
// }
// .container .text-muted {
//   margin: 20px 0;
// }

.footer > .container {
  color: #FFFFFF;
}

// code {
//   font-size: 80%;
// }

.text-muted {
    color: #FFFFFF;
}

.jumbotron {
   background-color: #FFFFFF;
   padding-right: 0px !important;
    padding-left: 0px !important;
}

.mat-card { 
    width: 100%;
    height: 100%;
}

.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
 
    height: auto !important;
    
}
.cursor-pointer {
    cursor: pointer;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #214f87;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.red {
    background-color: #F44336 !important
}
.full-width {
  width: 100%;
}

.row {
    margin-bottom: 10px; 
}
.snack-bar-background-success {
    background :#008000 !important;
}
.snack-bar-background-error {
    background :#ff0000 !important;
}


