<div class="col-md-12 flex">
    <div *ngIf="editing" class="flex1 pr-24">
        <label>{{inputLabel}}</label>
        <mat-input-container class="full-width">
            <textarea matInput [(ngModel)]="data"></textarea>
        </mat-input-container>
    </div>
    <div *ngIf="viewing" class="flex1">
        <label *ngIf="!truncate">{{previewLabel}}</label>
        <div class="preview" [ngClass]="{'preview-only': !editing, 'preview-truncate': truncate}">
            <markdown [data]="data"></markdown>
        </div>
    </div>
</div>
