<div class="externalReferencesComponent">
    <div class="uf-well-accent">
        <form [formGroup]="localForm" novalidate (ngSubmit)="addToParent()" *ngIf="formResetComplete">

            <mat-form-field class="full-width mb-6">
                <input matInput required placeholder="Source Name" formControlName="source_name">
                <mat-error *ngIf="localForm.get('source_name').hasError('required')">
                    Source Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width mb-6">
                <input matInput required placeholder="URL" formControlName="url">
                <mat-error *ngIf="localForm.get('url').hasError('required')">
                    URL is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <button mat-button color="accent" [disabled]="localForm.status === 'INVALID'" type="submit" class="mb-3">Attach Reference Link to {{ parentDocumentType | capitalize }}</button>
        </form>
    </div>
</div>
