@import '../../../../../styles/_variables.scss';
@import '../_assess.common.scss';

@media screen and (min-width: 1800px) {
    .ap-section>div {
      display: flex;
    }
    #ap-details {
        flex-basis: 55%;
        margin-right: 24px;
    }
    #assessmentObjects {
        flex-basis: 45%;
    }
}

.ap-section {
    min-height: calc(100vh - #{$navbar-height}px);
}


.ap-list-item {
    line-height: 1.9em;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    transition: background-color 0.1s ease-in-out;
    &:hover {
        background-color: $assessments-primary;
    }
}

.centered {
    padding-left: 24px;
    padding-right: 24px;
}

@mixin space-top() {
    padding-top: 24px;
}

@mixin section-header() {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 24px;
}

.flex {
    .flex-fixed {
        flex: 0 0 auto;
        width: 320px;

        .phase-header {
            @include section-header();
        }
    }

    .ap-header {
        @include section-header();
    }
}

.main {
    font-size: 14px;
    
    .fs-12 {
        font-size: 12px;
        line-height: 1.9em;
    }
    
    .divider {
        border-bottom: 1px solid #9B9B9B;
        margin-top: 2px;
        margin-bottom: 18px;
    }
    
    .phase-section {
        @include space-top();
        background-color: $assessments-primary-lighter;
    }

    .ap-section {
        @include space-top();
        background-color: $assessments-primary-subtle;  
    }
}

.highlightAp {
    background-color: $assessments-primary-subtle !important;
}
