@import '../../../../styles/_variables.scss';

#headerLogoComponent {
  margin-left: 9px;
  margin-top: 7px;
}

.cls-1 {
  fill: #fff;
}

.defaultThemeAccent #accentPath {
  fill: $accent-color;
}

.assessmentsThemeAccent #accentPath {
  fill: $assessments-accent;
}

.threatDashboardThemeAccent #accentPath {
  fill: $threat-dashboard-accent;
}

.analyticHubThemeAccent #accentPath {
  fill: $analytic-exchange-accent;
}

.eventsThemeAccent #accentPath {
  fill: $events-accent;
}
