<div id="adminLayout" class="container">

    <div class="row">
        <div class="col-xs-12">
            <br>
            <nav mat-tab-nav-bar>
                <span mat-tab-link *ngFor="let navigation of navigations" [routerLink]="[navigation.url]" routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive">
                    {{navigation.label}}
                </span>
            </nav>
        </div>
    </div>
    
    <br>
    <router-outlet></router-outlet>
</div>