@import '../threat-beta.common';

#fab {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 499;
  display: none;

  &.inlineBlock {
    display: inline-block !important;
  }
}

mat-sidenav-container,
#reportFormComponent {
  min-height: $page-height;
  background: #fff !important;
}

.container {
  max-width: 100%;
}

#formHeader {
  align-items: baseline;
  padding-right: 22px;
}

.right-side-panel {
  width: $rightSidenavWidth;
  background: #fafafa;
}
