<div class="row">
            <div class="col-md-12">
                <label>Kill Chain Phases</label>
                <div class="button-row">
                    <a id="add-kill-chain" mat-raised-button (click)="addkillChainPhase()"><i class="material-icons">add</i> ADD</a>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">

                     <mat-card *ngFor="let killChainPhase of model.attributes.kill_chain_phases" style="margin: 10px 0px;">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-md-6">
                                            <mat-input-container class="full-width">
                                                <input id="kill-chain-name" matInput placeholder="Kill Chain Name" [(ngModel)]="killChainPhase.kill_chain_name" value="{{killChainPhase.kill_chain_name}}">
                                            </mat-input-container>
                                    </div>
                                    <div class="col-md-6">
                                            <mat-input-container class="full-width">
                                                <input id="phase-name" matInput placeholder="Phase name" [(ngModel)]="killChainPhase.phase_name" value="{{killChainPhase.phase_name}}">
                                            </mat-input-container>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="button-row">
                                    <a class="" mat-raised-button (click)="removekillChainPhase(killChainPhase)"><i class="material-icons">delete</i> REMOVE</a>
                                </div>
                            </mat-card-actions>
                    </mat-card>

            </div>
        </div>