
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name" required [(ngModel)]="intrusionSet.attributes.name" value="">
        </md-input-container>
    </div>
</div>
<div class="row">
     <div class="col-md-6">
                 <!-- <p-calendar [(ngModel)]="intrusionSet.attributes.first_seen"  dateFormat="M-dd-yy"  showIcon="true"></p-calendar> -->

  <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="picker" placeholder="First Seen" [(ngModel)]="intrusionSet.attributes.first_seen">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
    </div>
    <div class="col-md-6">
                 <!-- <p-calendar [(ngModel)]="intrusionSet.attributes.last_seen"  dateFormat="M-dd-yy" showIcon="true"></p-calendar> -->
  <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="picker_last_seen" placeholder="Last Seen" [(ngModel)]="intrusionSet.attributes.last_seen">
                    <button mdSuffix [mdDatepickerToggle]="picker_last_seen"></button>
                </md-input-container>
                <md-datepicker #picker_last_seen></md-datepicker>
    </div>
</div>

<div class="row selectRow">
    <div class="col-md-12">
        <md-select class="full-width" placeholder="Primary Motivation" [(ngModel)]="intrusionSet.attributes.primary_motivation">
            <md-option *ngFor="let motivation of motivations" [value]="motivation">
                {{motivation}}
            </md-option>
        </md-select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Goals"  [(ngModel)]="intrusionSet.attributes.goals" value="">
        </md-input-container>
    </div>
</div>
<div class="row selectRow">
    <div class="col-md-12">
        <md-select class="full-width" placeholder="Resource Level" [(ngModel)]="intrusionSet.attributes.resource_level">
            <md-option *ngFor="let resourceLevel of resourceLevels" [value]="resourceLevel">
                {{resourceLevel}}
            </md-option>
        </md-select>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/identity-b.svg"> Identities</p>
       <select-search-field [placeholder]="'identities'" [searchUrl]="'identities'"></select-search-field>
    </div>

    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/threat-actor-b.svg"> Threat Actors</p>
       <select-search-field [placeholder]="'Threat Actors'" [searchUrl]="'threat-actors'"></select-search-field>
    </div>

    <!-- <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/attack-pattern-b.svg"> Attack Patterns</p>
       <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'"></select-search-field>
    </div> -->
</div>
<div class="row">
    <div class="col-md-12">
        <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'" (optionChanged)="add($event)"></select-search-field>
        <md-chip-list class="pull-left">
            <md-chip selected="true" color="accent" *ngFor="let attackPattern of attackPatterns">
                {{attackPattern.attributes.name}}
               <span class="cursor-pointer" (click)="remove(attackPattern)"><i class="fa fa-trash"></i></span>
            </md-chip>
        </md-chip-list>
    </div>
</div>




<!--<external-reference [(model)]="intrusionSet"></external-reference>-->
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
            <input mdInput placeholder="Description" [(ngModel)]="intrusionSet.attributes.description" value="">
        </md-input-container>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a>
                <a class=" " md-raised-button (click)="saveButtonClicked()" [disabled]="!intrusionSet.attributes.name"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>
        </div>
    </div>
</div>