
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
        <input matInput placeholder="Name" required [(ngModel)]="intrusionSet.attributes.name" value="">
        </mat-input-container>
    </div>
</div>
<div class="row">
     <div class="col-md-6">
                 <!-- <p-calendar [(ngModel)]="intrusionSet.attributes.first_seen"  dateFormat="M-dd-yy"  showIcon="true"></p-calendar> -->

            <!--<mat-input-container class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="First Seen" [(ngModel)]="intrusionSet.attributes.first_seen">
                    <button matSuffix [matDatepickerToggle]="picker"></button>
                </mat-input-container>
                <mat-datepicker #picker></mat-datepicker>-->

                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="First Seen" [(ngModel)]="intrusionSet.attributes.first_seen">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    </div>
    <div class="col-md-6">
                 <!-- <p-calendar [(ngModel)]="intrusionSet.attributes.last_seen"  dateFormat="M-dd-yy" showIcon="true"></p-calendar> -->
                <!--<mat-input-container class="full-width">
                    <input matInput [matDatepicker]="picker_last_seen" placeholder="Last Seen" [(ngModel)]="intrusionSet.attributes.last_seen">
                    <button matSuffix [matDatepickerToggle]="picker_last_seen"></button>
                </mat-input-container>
                <mat-datepicker #picker_last_seen></mat-datepicker>-->
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker_last_seen" placeholder="Last Seen" [(ngModel)]="intrusionSet.attributes.last_seen">
                    <mat-datepicker-toggle matSuffix [for]="picker_last_seen"></mat-datepicker-toggle>
                    <mat-datepicker #picker_last_seen></mat-datepicker>
                </mat-form-field>
    </div>
</div>

<div class="row selectRow">
    <div class="col-md-12">
           <form>
            <mat-input-container class="full-width">
                <input matInput placeholder="Primary Motivation" aria-label="Primary Motivation" [matAutocomplete]="auto"
                [formControl]="motivationCtrl" [(ngModel)]="intrusionSet.attributes.primary_motivation">
            </mat-input-container>
        </form>
        <mat-autocomplete name="auto" #auto="matAutocomplete" >
            <mat-option *ngFor="let motivation of motivations" [value]="motivation">

                <span>{{ motivation }}</span>
            </mat-option>
        </mat-autocomplete>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <mat-input-container class="full-width">
        <input matInput placeholder="Goals"  [(ngModel)]="intrusionSet.attributes.goals" value="">
        </mat-input-container>
    </div>
</div>
<div class="row selectRow">
    <div class="col-md-12">
         <form>
            <mat-input-container class="full-width">
                <input matInput placeholder="Resource Level" aria-label="Resource Level" [matAutocomplete]="autores"
                [formControl]="resourceLevelCtrl" [(ngModel)]="intrusionSet.attributes.resource_level">
            </mat-input-container>
        </form>
        <mat-autocomplete name="autores" #autores="matAutocomplete">
            <mat-option *ngFor="let resourceLevel of resourceLevels" [value]="resourceLevel">
                <span>{{ resourceLevel }}</span>
            </mat-option>
        </mat-autocomplete>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/identity-b.svg"> Identities</p>
       <select-search-field [placeholder]="'identities'" [searchUrl]="'identities'"></select-search-field>
    </div>

    <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/threat-actor-b.svg"> Threat Actors</p>
       <select-search-field [placeholder]="'Threat Actors'" [searchUrl]="'threat-actors'"></select-search-field>
    </div>

    <!-- <div class="col-md-4">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/attack-pattern-b.svg"> Attack Patterns</p>
       <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'"></select-search-field>
    </div> -->
</div>
<div class="row">
    <div class="col-md-12">
        <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'" (optionChanged)="add($event)"></select-search-field>
        <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let attackPattern of attackPatterns">
                {{attackPattern.attributes.name}}
               <span class="cursor-pointer" (click)="remove(attackPattern)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>




<!--<external-reference [(model)]="intrusionSet"></external-reference>-->
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <textarea matInput placeholder="Description" [(ngModel)]="intrusionSet.attributes.description" value=""></textarea>
        </mat-input-container>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</a>
                <a class=" " mat-raised-button (click)="saveButtonClicked()" [disabled]="!intrusionSet.attributes.name"><i class="material-icons">save</i> SAVE & CLOSE</a>
        </div>
    </div>
</div>