<div id="articleReportPaneWrapper">
  <mat-card class="uf-mat-card">
    <mat-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ducimus, illum explicabo architecto officia impedit quaerat aut iste dolore eius amet porro, qui recusandae voluptate in quo cumque repellendus minima.
      <br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae animi non consequuntur facilis voluptatum odit sed impedit tempora assumenda, aliquid itaque cumque repellendus commodi excepturi voluptatem necessitatibus nesciunt facere quaerat.A necessitatibus vero dolore aliquid ipsam voluptate explicabo, ea aperiam consectetur sunt deleniti vel enim tempore pariatur, voluptatem temporibus totam ex corporis doloribus numquam rem atque. Eligendi, beatae. A, corrupti!
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quam dicta doloribus quod, corporis et. Tempore accusamus expedita minima officiis illum quod deserunt sint placeat velit hic! Tempora, consequatur dolor.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis impedit vitae cumque omnis corporis! Dolorum, maiores? Aliquid, voluptas nam ipsa alias obcaecati exercitationem blanditiis recusandae quam aperiam quo beatae est!
      Amet distinctio, fugit aut, esse saepe perferendis nisi molestias sint voluptate optio excepturi laborum natus pariatur iste cum quo enim provident nam quod culpa nesciunt voluptatibus perspiciatis totam. Est, totam!
      Dicta officia, id at molestiae provident adipisci ut minus soluta? Incidunt culpa reprehenderit nesciunt ad reiciendis, repellat consequatur atque earum non quam dicta, aliquid sed veniam enim maxime. Quibusdam, quasi?
    </mat-card-content>
  </mat-card>
</div>
