<div id="approveUsers" class="row">
    <div class="col-xs-12">

        <div class="uf-well" *ngIf="message">{{message}}</div>

        <div *ngIf="users && users.length">
            <h5>Approve / Deny Users</h5>
            <table class="table table-striped">
                <thead>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registration Note</th>
                    <th>Requested Orgs</th>
                    <th>Join Orgs</th>
                    <th class="text-right" id="actionHeader">Approve / Deny User</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.userName }}</td>
                        <td>{{ user.lastName }}, {{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <span *ngIf="user.registrationInformation && user.registrationInformation.applicationNote">
                                {{ user.registrationInformation.applicationNote }}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="user.registrationInformation && user.registrationInformation.requestedOrganization">
                                {{ user.registrationInformation.requestedOrganization }}
                            </span>
                        </td>
                        <td>
                            <mat-form-field class="full-width">
                                <mat-select [formControl]="orgCtrl" multiple="true">
                                    <mat-option *ngFor="let org of orgs$ | async" [value]="org.id">{{ org.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td class="text-right">
                            <button mat-button class="mat-24" (click)="userAction(user, 'APPROVE_USER')">
                                <i class="material-icons">check_circle</i>
                            </button>
                            <button mat-button class="mat-24" (click)="userAction(user, 'DENY_USER')">
                                <i class="material-icons">remove_circle</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="!(users && users.length)" class="uf-well">
            There are no users pending approval.
        </div>

    </div>
</div>
