@import '../../../../styles/_variables.scss';
@import '../../_assess.common.scss';

.noUnderline {
    text-decoration: none;
}

#tabWrapper {
    background-color: $assessments-nav-background;
    height: 128px;
    padding-right: 16px;
    // padding-left: 16px;
  }

#publishButton {
    background-color: $assessments-primary;
    color: $light-text-default;
    font-weight: normal;
    margin-right: 24px;
    margin-bottom: 7px;
}

.publishText {
    font-weight: normal;
    margin-right: 24px;
    margin-bottom: 7px;
}

.indent {
    margin-left: 56px;
}

.flexColumn {
    flex-direction: column;
}

.banner-wrapper {
    background-color: $assessments-primary-lightest;
    color: $dark-text-default;
}