<div class="carousel-div" (resize)="onResize($event)">
    <unf-carousel #carousel [value]="phases" [options]="options" (onPage)="onInitialPageLoad($event)">
        <ng-template let-phase primes="phase">
            <div class="tactics-phase" *ngIf="!filters.columns || (count(phase.tactics) !== 0)">
                <div class="tactics-phase-header theme-bg-primary-lightest">
                    <div class="phase-info flex">
                        <span class="flex1 flexNowrap">{{phase.name | capitalize}}</span>
                        <small class="badge theme-color-primary theme-bg-primary-lighter">
                            {{count(phase.tactics)}}/{{phase.tactics.length}}
                        </small>
                    </div>
                </div>
                <div class="tactics-block">
                    <div class="tactics-wrapper">
                        <div class="tactics-list">
                            <div class="tactic-row" *ngFor="let tactic of phase.tactics">
                                <div class="tactic-info" *ngIf="canShowTactic(tactic)"
                                        [style.color]="getTacticForeground(tactic)"
                                        [style.background]="getTacticBackground(tactic)">
                                    <div class="flexCenter tactic-clicker"
                                            (mouseenter)="onHover({data: tactic, source: $event})"
                                            (mouseleave)="onHover({data: null, source: $event})"
                                            (click)="onClick({data: tactic, source: $event})">
                                        {{tactic.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </unf-carousel>
</div>
