@import '../../../../../styles/_variables.scss';

:host ::ng-deep {
    .mat-toolbar {
        width: auto;
        height: 48px;
        margin-top: -4px;
        margin-right: 0px;
        justify-content: flex-end;
        border-radius: 2px;
        background: transparent !important;

        .carousel-widgets{
            display: block;
            position: relative;
            float: right;
            padding: .063em;
            background: transparent;
            font-family: inherit;
            font-size: 1em;

            .carousel-button {
                display: inline-block;
                position: relative;
                top: 4px;
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 50%;
                // background-color: #fff;
                font-size: 30px;
                cursor: pointer;
            }

            .carousel-button:before {
                position: relative;
                font-family: "Material Icons";
                top: -3px;
            }

            .carousel-button.carousel-prev-button:before {
                right: 3px;
                content: "keyboard_arrow_left";
            }

            .carousel-button.carousel-next-button:before {
                right: 1px;
                content: "keyboard_arrow_right";
            }

            .carousel-button.disabled {
                background-color: #ccc;
                cursor: default;
            }
    
            .carousel-page-dropdown {
                position: absolute;
                max-width: 70px;
                right: 70px;
                border: 1px solid #d6d6d6;
                border-radius: 3px 5px 5px 3px;
                background: #fff;
                color: #555;
                font-size: 14px;
                align-items: center;
                text-align: start;
                text-indent: 0px;
                text-shadow: none;

                .mat-select-value-text {
                    display: inline-block;
                    width: 100%;
                    height: 24px;
                    text-align: center;
                }
            }
        }

        .mat-button-toggle-group {
            margin-left: 16px;
        }
    }

}
