<div #layout class="layout" *ngIf="(failedToLoad|async) === false; else failedToLoadBlock">
  <div class="titleWrapper">
    <div class="banner-wrapper">
      <div class="flex">
        <uf-info-bar shouldCenter="true" isWarningMsg="true" message="Currently in beta. Some functionality does not work."></uf-info-bar>
      </div>
    </div>
    <span class="title mat-title">
      <span *ngIf="showBackButton|async">
        <button mat-icon-button class="mat-24" (click)="onBack($event)">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </span>
      <span *ngIf="title | async" [@fadeInOut]>
        {{(title | async)}}
      </span>
    </span>
  </div>
  <div class="fadeIn flex contentWrapper">
    <div class="center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #failedToLoadBlock>
  <div class="center">
    <div class="flex-cols center">
      <span class="center empty">
        <mat-icon>sync_problem</mat-icon>
      </span>
      <span class="center mat-body-2">
        Error!
      </span>
      <span class="center pad-24 faded-text">
        Failed to load data for the page, please try again
      </span>
    </div>
  </div>
</ng-template>
