<div id="assessmentsGroup" class="container">
    <div class="row">
        <br>
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a routerLink="/assessments">Assessments</a></li>
                <li><a routerLink="/assessments/dashboard/{{id}}">Dashboard</a></li>
                <li class="active">Group</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <h4>
                <img class="stix-icon" src="assets/icon/stix-icons/svg/report-b.svg"> &nbsp;Assessment: {{ assessment.attributes.name}}
            </h4>
        </div>
        <div class="col-xs-4 text-right">
            <p class="headingMarginMatch text-muted">Published &bull; {{ assessment.attributes.created | date:'medium' }}</p>
        </div>
    </div>


    <div class="row" *ngIf="riskByAttackPattern && riskByAttackPattern.phases && riskByAttackPattern.phases.length" id="phaseListWrapper">

        <div class="col-sm-3">
            <h4>Kill Chain Phases</h4><br>
            <div *ngFor="let phase of riskByAttackPattern.phases">
                <p>
                    <!--Get avg risk per phase-->
                    <a (click)="setPhase(phase._id)">{{ phase._id | capitalize }}</a> &bull; <span>{{ getRiskByPhase(phase._id) | percent:'2.1-1' }}</span>
                </p>
                <p class="text-muted">Attack Patterns &bull; {{ phase.attackPatterns.length }} / {{ getNumAttackPatterns(phase._id) }}</p>
            </div>

            <div *ngIf="unassessedPhases && unassessedPhases.length > 0">
                <hr>
                <h5 class="text-muted">
                    <small>Unassessed Kill Chain Phases</small>
                </h5>
                <div class="attackPatternListItem" *ngFor="let unassessedPhase of unassessedPhases">
                    <small><a (click)="setPhase(unassessedPhase)">{{unassessedPhase | capitalize }}</a></small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <h4>Attack Patterns</h4>
            <h4 class="text-muted">Phase:&nbsp;{{ activePhase | capitalize }}</h4>
            <div *ngIf="attackPatternsByPhase && attackPatternsByPhase.length">
                <div *ngFor="let ap of attackPatternsByPhase" class="attackPatternListItem">
                    <risk-icon [risk]="getRiskByAttackPatternId(ap.attackPatternId)" [showTooltip]="true"></risk-icon>&nbsp;
                    <a (click)="setAttackPattern(ap.attackPatternId)">{{ ap.attackPatternName }}</a>
                </div>
            </div>
            
            <div *ngIf="unassessedAttackPatterns && unassessedAttackPatterns.length > 0">
                <hr>
                <h5 class="text-muted">Unassessed Attack Patterns</h5>
                <div *ngFor="let unassessedAttackPattern of unassessedAttackPatterns" class="attackPatternListItem">
                    <a (click)="setAttackPattern(unassessedAttackPattern.id)">{{ unassessedAttackPattern.attributes.name }}</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div *ngIf="currentAttackPattern">
                <h4>{{ currentAttackPattern.name }}</h4><br>

                <div *ngIf=" currentAttackPattern.kill_chain_phases && currentAttackPattern.kill_chain_phases.length> 0">
                    <p><strong>Kill Chain Phases</strong></p>
                    <p *ngFor="let killchain of currentAttackPattern.kill_chain_phases">{{ killchain.kill_chain_name }} &bull; <span class="text-muted">{{ killchain.phase_name }}</span></p>
                </div>

                <div *ngIf="currentAttackPattern.x_unfetter_sophistication_level !== undefined && currentAttackPattern.x_unfetter_sophistication_level
                !== null">
                    <p><strong>Sophistication Level</strong></p>
                    <p>{{ currentAttackPattern.x_unfetter_sophistication_level | sophistication }}</p>
                </div>

                <div *ngIf="currentAttackPattern.description">
                    <p><strong>Description</strong></p>
                    <p>{{ currentAttackPattern.description }}</p>
                </div>

                <div *ngIf="currentAttackPattern.external_references">
                    <p><strong>External References</strong></p>
                    <p *ngFor="let ref of currentAttackPattern.external_references">
                        <a href="{{ ref.url }}" target="_blank">{{ ref.source_name }} <span *ngIf="ref.external_id">&bull; {{ ref.external_id }}</span></a>
                    </p>
                </div>

                <div id="assessedObjectsWrapper">
                    <hr>
                    <md-card>
                        <md-card-title class="pull-left">Assessed Objects</md-card-title>
                        <md-card-title class="pull-right">
                            <button md-fab (click)="!addAssessedObject ? addAssessedObject = true : ''"><i class="material-icons">add</i></button>
                        </md-card-title>
                        <br class="altClearFix">
                    </md-card>
                    <br>

                    <div *ngIf="addAssessedObject">
                        <md-card>
                            <md-card-title>Add Assessed Object</md-card-title>
                            <md-card-content>
                                <br>
                                <md-select placeholder="Choose Type" [(ngModel)]=addAssessedType class="full-width">
                                    <md-option value="indicator">Indicator</md-option>
                                    <md-option value="course-of-action">Course of Action</md-option>
                                    <md-option value="x-unfetter-sensor">Sensor</md-option>
                                </md-select>
                            </md-card-content>
                            <md-card-content *ngIf="addAssessedType !== undefined">
                                <br>
                                <div [ngSwitch]="addAssessedType">

                                    <div *ngSwitchCase="'indicator'">
                                        <div class="row">
                                            <div *ngFor="let measurement of indicator.questions" class="col-xs-12">
                                                <label class="mat-label">{{measurement.name | capitalize}}</label>
                                                <md-select [(ngModel)]="measurement.risk" class="full-width mdSelectBotMargin">
                                                    <md-option *ngFor="let option of measurement.options" [value]="option.risk">
                                                        {{ option.name }}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <input mdInput placeholder="Name" required [(ngModel)]="indicator.name" value="{{indicator.name}}" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <textarea mdInput placeholder="Description" [(ngModel)]="indicator.description" value="{{indicator.description}}"></textarea>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <input mdInput placeholder="Pattern" [(ngModel)]="indicator.pattern" value="{{indicator.pattern}}" />
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <p class="text-right">
                                                <button md-button (click)="addAssessedObject ? addAssessedObject = false : ''">Cancel</button>
                                                <button md-button [disabled]="!indicator.name" (click)="indicator.name ? createAssessedObject(indicator, currentAttackPattern) : ''">Save</button>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End indicator-->

                                    <div *ngSwitchCase="'course-of-action'">
                                        <div class="row">
                                            <div *ngFor="let measurement of courseOfAction.questions" class="col-xs-12">
                                                <label class="mat-label">{{measurement.name | capitalize}}</label>
                                                <md-select [(ngModel)]="measurement.risk" class="full-width mdSelectBotMargin">
                                                    <md-option *ngFor="let option of measurement.options" [value]="option.risk">
                                                        {{ option.name }}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <input mdInput placeholder="Name" required [(ngModel)]="courseOfAction.name" value="{{courseOfAction.name}}">
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <input mdInput placeholder="Description" [(ngModel)]="courseOfAction.description" value="{{courseOfAction.description}}">
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <p class="text-right">
                                                <button md-button (click)="addAssessedObject ? addAssessedObject = false : ''">Cancel</button>
                                                <button md-button [disabled]="!courseOfAction.name" (click)="courseOfAction.name ? createAssessedObject(courseOfAction, currentAttackPattern) : ''">Save</button>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End COA -->

                                    <div *ngSwitchCase="'x-unfetter-sensor'">
                                        <div class="row">
                                            <div *ngFor="let measurement of xUnfetterSensor.questions" class="col-xs-12">
                                                <label class="mat-label">{{measurement.name | capitalize}}</label>
                                                <md-select [(ngModel)]="measurement.risk" class="full-width mdSelectBotMargin">
                                                    <md-option *ngFor="let option of measurement.options" [value]="option.risk">
                                                        {{ option.name }}
                                                    </md-option>
                                                </md-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <input mdInput placeholder="Name" required [(ngModel)]="xUnfetterSensor.name" value="{{xUnfetterSensor.name}}" />
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="full-width">
                                                    <textarea mdInput placeholder="Description" [(ngModel)]="xUnfetterSensor.description" value="{{xUnfetterSensor.description}}"></textarea>
                                                </md-input-container>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p class="text-right">
                                                <button md-button (click)="addAssessedObject ? addAssessedObject = false : ''">Cancel</button>
                                                <button md-button [disabled]="!xUnfetterSensor.name" (click)="xUnfetterSensor.name ? createAssessedObject(xUnfetterSensor, currentAttackPattern) : ''">Save</button>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- End sensor -->

                                </div>
                            </md-card-content>
                        </md-card>
                        <br>
                    </div>

                    <div *ngIf="displayedAssessedObjects && displayedAssessedObjects.length">
                        <div *ngFor="let assessedObj of displayedAssessedObjects | sortByField: 'risk'">
                            <md-card>
                                <md-card-title><img src="{{ getStixIcon(assessedObj.stix.type) }}" alt=""> {{ assessedObj.stix.name }}</md-card-title>
                                <md-card-content>
                                    <!--<span class="text-muted">Risk Accepted &bull;</span>&nbsp;{{ getRisk(assessedObj.stix.id)
                                | percent:'2.1-1'}}-->
                                    <span class="text-muted">Risk Accepted &bull;</span>&nbsp;{{ assessedObj.risk | percent:'2.1-1'}}
                                </md-card-content>
                                <md-card-content>
                                    {{ assessedObj.stix.description }}
                                </md-card-content>

                                <md-card-content>
                                    <div *ngIf="assessedObj.editActive">
                                        <div *ngFor="let measurement of assessedObj.questions">
                                            <label class="mat-label">{{measurement.name | capitalize}}</label>
                                            <md-select [(ngModel)]="measurement.risk" class="full-width mdSelectBotMargin">
                                                <md-option *ngFor="let option of measurement.options" [value]="option.risk">
                                                    {{ option.name }}
                                                </md-option>
                                            </md-select>
                                        </div>
                                    </div>

                                    <p class="text-right" *ngIf="assessedObj.editActive">
                                        <button md-button (click)="assessedObj.editActive = false">Cancel</button>
                                        <button md-button (click)="editAssessedObject(assessedObj)">Save</button>
                                    </p>

                                    <p class="text-right" *ngIf="!assessedObj.editActive">
                                        <button md-button (click)="assessedObj.editActive = true">Edit</button>
                                    </p>

                                </md-card-content>
                            </md-card>
                            <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>