<div class="row">
        <div class="col-md-12">

            <div class="button-row">
                <a md-raised-button routerLink="./new">NEW</a>
                <a md-raised-button (click)="download()">DOWNLOAD</a>            
            </div>
            <div class="pull-right">
                <span class="right-align">Results: {{sightings.length}}</span>            
            </div>
        </div>
    </div>
   <div class="row" >
        <div class="col-md-12" *ngFor="let sighting of sightings">
           <md-card>
                <md-card-header>
                    <md-card-title>                             
                       
                    </md-card-title>  
                    <div class="row full-width" >
                        <div class="col-md-9">
                            <div class="pull-left">
                                <a href (click)="showDetails($event, sighting)">{{sighting.attributes.sighting_of_ref}}</a>
                            </div>
                        </div> 
                         <div class="col-md-3">
                            <a md-raised-button (click)="editButtonClicked(sighting)"><i class="fa fa-pencil"></i></a>
                             <a md-raised-button (click)="deleteButtonClicked(sighting)"><i class="fa fa-trash"></i></a> 
                        </div>
                    </div>
                                  
                </md-card-header>
                <!--<md-card-content>
                    
                </md-card-content>-->
                <!--<md-card-actions>
                <a md-raised-button (click)="editButtonClicked(sighting)"><i class="fa fa-pencil"></i></a>
                                <a md-raised-button (click)="deleteButtonClicked(sighting)"><i class="fa fa-trash"></i></a>         
                </md-card-actions>-->
            </md-card>
        </div>
    </div>