<div id="indicatorSharingFilters" *ngIf="searchForm">

  <div class="p-24">
    <form [formGroup]="searchForm" novalidate>
      <mat-form-field class="full-width mb-9">
        <mat-select placeholder="Labels" [multiple]="true" formControlName="labels">
          <mat-option value="{{label}}" *ngFor="let label of labels$ | async">{{ label | capitalize }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width mb-9">
        <mat-select placeholder="Organizations" [multiple]="true" formControlName="organizations">
          <mat-option value="{{org.id}}" *ngFor="let org of organizations$| async">{{ org.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width mb-9">
        <mat-select placeholder="Tactics" [multiple]="true" formControlName="killChainPhases" id="killChainPhasesSelect">
          <mat-option value="{{phase}}" *ngFor="let phase of killChainPhases$ | async">{{ phase | capitalize }}</mat-option>
        </mat-select>
      </mat-form-field>      
      <mat-form-field class="full-width mb-9">
        <mat-select placeholder="Sensors" [multiple]="true" formControlName="sensors">
          <mat-option value="{{sensor.id}}" *ngFor="let sensor of sensors$ | async">{{ sensor.name | capitalize }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width mb-9">
        <mat-select placeholder="Data Sources" [multiple]="true" formControlName="dataSources">
          <mat-option *ngFor="let dataSource of dataSources$ | async" [value]="dataSource">
            {{ dataSource }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width mb-9">
        <mat-select placeholder="Intrusion Sets" [multiple]="true" formControlName="intrusionSets">
          <mat-option *ngFor="let intrusionSet of intrusionSets$ | async" [value]="intrusionSet.id">
            {{ intrusionSet.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width mb-12">
        <mat-select placeholder="Publish Status" [multiple]="true" formControlName="published">
          <mat-option value="false">Draft</mat-option>
          <mat-option value="true">Published</mat-option>
        </mat-select>
      </mat-form-field>      
      <div class="flex" id="attackPatternWrapper">
        <mat-form-field class="full-width mb-12">
          <mat-select placeholder="Indicated Techniques" [multiple]="true" formControlName="attackPatterns">
            <mat-option value="{{ap.id}}" *ngFor="let ap of attackPatterns$ | async">{{ ap.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button id="heatmapToggle" [class.open]="heatmapVisible" matTooltip="Show Heat Map" (click)="toggleHeatMapDialog()">
          <i class="material-icons mat-24 labelColor">view_comfy</i>
        </button>
      </div>
      <div class="mb-9">
        <mat-checkbox formControlName="validStixPattern">STIX Pattern</mat-checkbox>
      </div>
      <div class="mb-12">
        <mat-checkbox formControlName="validSigma">Sigma</mat-checkbox>
      </div>
      <div class="mb-9" id="obsDataWrapper">
        <button mat-button (click)="toggleObservedDataDialog()">
          <a>Observed Data&nbsp;</a>
          <span *ngIf="searchForm.get('observedData').value.length">({{ searchForm.get('observedData').value.length }})</span>
        </button>
      </div>
    </form>
  </div>

  <hr class="mt-0 mb-0">

  <p class="text-right p-24">
    <button mat-button color="primary" (click)="clearSearchParameters()">CLEAR FILTERS</button>
  </p>

</div>
