
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name" required [(ngModel)]="intrusionSet.attributes.name" value="{{intrusionSet.attributes.name}}">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
                 <p-calendar [(ngModel)]="intrusionSet.attributes.first_seen"  dateFormat="MM-dd-yy"  showIcon="true"></p-calendar>

       
    </div>
    <div class="col-md-6">
                 <p-calendar [(ngModel)]="intrusionSet.attributes.last_seen"  dateFormat="MM-dd-yy" showIcon="true"></p-calendar>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Primary Motivation"  [(ngModel)]="intrusionSet.attributes.primary_motivation" value="{{intrusionSet.attributes.primary_motivation}}">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Goals"  [(ngModel)]="intrusionSet.attributes.goals" value="{{intrusionSet.attributes.goals}}">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <md-input-container class="full-width">
        <input mdInput placeholder="Resource Level"  [(ngModel)]="intrusionSet.attributes.resource_level" value="{{intrusionSet.attributes.resource_level}}">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <select-search-field></select-search-field>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <select-search-field></select-search-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><img class='stix-icon'  src="assets/icon/stix-icons/svg/attack-pattern-b.svg"> Attack Patterns</p>
       <select-search-field></select-search-field>
    </div>
</div>




<!--<external-reference [(model)]="intrusionSet"></external-reference>-->
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
            <input mdInput placeholder="Decsription" [(ngModel)]="intrusionSet.attributes.description" value="{{intrusionSet.attributes.description}}">
        </md-input-container>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a> 
                <a class=" " md-raised-button (click)="saveIdentity()" [disabled]="!intrusionSet.attributes.name"><i class="fa fa-floppy-o "></i> SAVE</a>              
        </div>
    </div>
</div>