<div *ngIf="treeData">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let data of treeData.children">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    The following Critical Security Controls address the Attack Patterns in {{data.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card class="margin-top" *ngFor="let csc of getCriticalSecurityControls(data)">
                <div><b>{{csc.name}}</b> - <span>{{csc.description}}</span></div>
                <div><span>&#x27f6; Mitigates {{csc.attackPatterns.size}} Attack Pattern(s):</span></div>
                <div class="csc-attack-patterns">
                    <ol>
                        <li *ngFor="let attackPattern of csc.attackPatterns">{{attackPattern}}</li>
                    </ol>
                </div>
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</div>
