<div class="container" *ngIf="!loading; loadingBlock">
    <div class="row first-line">
        <div class="col-sm-6 title-border">
            <h2>
                Your Work Product(s)
            </h2>
            <span class="subtitle">
                View your recent work products or create a new one.  Work products contain scope, in terms of query boundries in addition to reporting references.  Work products are not shareable at this time.
            </span>
        </div>
        <div class="col-sm-4 top-right-panel">
            <h2>
                Create New Product
            </h2>
            <span>
                <button color="primary" md-raised-button (click)="routeCreateNew($event)">NEW</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="mat-title col-md-6 mt-15">Recent Work Products</div>
        <div class="col-md-6">
            <md-form-field floatPlaceholder="never">
                <input mdInput #filter placeholder="Filter Recent work products" color="primary">
                <md-icon mdSuffix color="primary">search</md-icon>
            </md-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-table class="mat-elevation-z3" #table [dataSource]="dataSource">

                <ng-container mdColumnDef="name">
                    <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
                    <md-cell *mdCellDef="let row"> 
                        <a routerLink="./modify/{{row.id}}"> {{row.name}} </a>
                    </md-cell>
                </ng-container>
            
                <ng-container mdColumnDef="date">
                    <md-header-cell *mdHeaderCellDef> Modified </md-header-cell>
                    <md-cell *mdCellDef="let row"> {{ row.date | date:'medium' }} </md-cell>
                </ng-container>

                <ng-container mdColumnDef="author">
                    <md-header-cell *mdHeaderCellDef> Author </md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.author}} </md-cell>
                </ng-container>

                <!-- <ng-container mdColumnDef='actions'>
                    <md-header-cell *mdHeaderCellDef> </md-header-cell>
                    <md-cell *mdCellDef="let row">
                        <button color="primary" md-button routerLink="./modify/{{row.id}}">open</button>
                    </md-cell>
                </ng-container> -->
            
                <md-header-row *mdHeaderRowDef="displayCols"></md-header-row>
                <md-row *mdRowDef="let row; columns: displayCols;"></md-row>
            </md-table>
        </div>
    </div>
</div>

<ng-template #loadingBlock>
    <loading-spinner></loading-spinner>
</ng-template>