.container {
    padding-top: 24px;
}

.title-border {
    border-right: 4px solid rgba(0,0,0,0.2);
    min-height: 15vh;
}

.top-right-panel {
    padding-left: 16px;
}

.first-line { 
    min-height: 15vh;
}

.subtitle {
    font-size: 14px;
    color: rgba(1,1,1, .87);    
}

md-form-field {
    width: 100%;
}

h2 {
    margin-top: 0px;
    color: rgba(1,1,1, .54);
}
