<div class="container">
    <div class="row first-line">
        <div class="col-sm-6 mat-headline title-border">
            <div>
                Threat Reports Overview
            </div>
            <span class="mat-subheading-1">
                View your recent workproducts or create a new one
            </span>
        </div>
        <div class="col-sm-4 top-right-panel">
            <div class="mat-headline">
                Create New Product
            </div>
            <span class="mat-subheading-1">
                Loreum ipsum dorat
            </span>
            <span>
                <button color="primary" md-raised-button routerLink="./create/">NEW</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="mat-title col-md-6 mt-15">Recent Work Products</div>
        <div class="col-md-6">
            <md-form-field floatPlaceholder="never">
                <input mdInput #filter placeholder="Filter Recent work products" color="primary">
                <md-icon mdSuffix color="primary">search</md-icon>
            </md-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-table class="mat-elevation-z3" #table [dataSource]="dataSource">

                <ng-container mdColumnDef="id">
                    <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
                    <md-cell *mdCellDef="let row">  <button color="primary" md-button routerLink="./modify/{{row.id}}">{{row.id}}</button> </md-cell>
                </ng-container>

                <ng-container mdColumnDef="name">
                    <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
                </ng-container>
            
                <ng-container mdColumnDef="date">
                    <md-header-cell *mdHeaderCellDef> Modified </md-header-cell>
                    <md-cell *mdCellDef="let row"> {{ row.date | date:'medium' }} </md-cell>
                </ng-container>
            
                <ng-container mdColumnDef="author">
                    <md-header-cell *mdHeaderCellDef> Author </md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.author}} </md-cell>
                </ng-container>

                <!-- <ng-container mdColumnDef='actions'>
                    <md-header-cell *mdHeaderCellDef> </md-header-cell>
                    <md-cell *mdCellDef="let row">
                        <button color="primary" md-button routerLink="./modify/{{row.id}}">open</button>
                    </md-cell>
                </ng-container> -->
            
                <md-header-row *mdHeaderRowDef="displayCols"></md-header-row>
                <md-row *mdRowDef="let row; columns: displayCols;"></md-row>
            </md-table>
        </div>
    </div>
</div>