<div class="container">

<h4>
  <i class="material-icons">group</i>
  Our Partners
</h4>

<div class="row">
    <div class="col s12 m6">
        <div class="card large">
        <div class="card-image" >
            <a href="http://www.oasis-open.org"> <img src="http://www.oasis-open.org/images/oasis_sponsor2006.jpg" border="0" alt="www.oasis-open.org" title="www.oasis-open.org"> </a>
            
        </div>
        <div class="card-content">
            <br><br>
              <p>OASIS is a nonprofit consortium that drives the development, convergenc and adoption of open starndards for the global information society.  OASIS <a href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=cti" target="_blank">Cyber Threat Intelligence (CTI)</a> subcommittee oversee's the STIX&trade; standard as well as TAXII&trade; and CyBox&trade;.</p>
                 
        </div>
        <div class="card-action">
           <a href="http://www.oasis-open.org" target="_blank">Visit OASIS&reg;</a>
        </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card large">
        <div class="card-image" >
            <img src="/cti-stix-ui/iad.png">
            
        </div>
        <div class="card-content">
            <Br><br>
              <p>CTI-STIX-SERVICES is sponsored by the <a href="https://www.nsa.gov" target="_blank">National Security Agency's</a> <a href="https://www.iad.gov" target="_blank">Information Assurance</a> Mission.
              The software is managed by the Unfetter open source development team.  You can read more about the <a href="iadgov.github.io/unfetter" target="_blank">Unfetter</a> project and learn how to participate.</p>  
              <br>
        </div>
        <div class="card-action">
           <a href="https://www.iad.gov" target="_blank">Visit IA</a> <span> | </span> <a class="text-align right" href="https://iadgov.github.io/unfetter" target="_blank">Visit Unfetter</a>
        </div>
        </div>
    </div>

</div>


</div>