@import '../../../../styles/_variables.scss';

:host {
    display: flex;
    flex-direction: row;
    width: 1282px;
}

.top-row {
    width: 900px;
}

.main-row {
    width: 800px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

// PDR selector

.mat-table {
    overflow: auto;
  }

.element-row {
    position: relative;
    max-height: 50px;
  }
  
.table-container {
    display: block;
    min-width: 300px;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.mat-select:focus {
  font-weight: bold;
}

.mat-cell.hoverable {
  flex: 1;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 0px;
}

.inTable .mat-select-trigger {
  height: 48px;
  padding: 0px;
  margin: 0px;
}

.inTable .mat-select-value {
  vertical-align: middle;
}


.mat-header-cell {
  padding-left: 10px;
}

.mat-cell {
  justify-content: space-between;
  padding: 10px;
}

.mat-tooltip {
  background-color: white;
  padding: 8px;
  font-size: 12px;
  color: black !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.mat-column-capability {
  flex:3;
  font-weight: bold;
  min-width: 270px;
}

.mat-column-protect {
  flex: 1;
  margin-right: 50px
}

.mat-column-detect {
  flex: 1;
  margin-right: 50px
}

.mat-column-respond {
  flex: 1;
}

mat-row:nth-child(even){
  background-color: #0066ff0f;
  }

.filter-header {
  min-height: 50px;
  /* padding: 8px 24px 0; */
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.add-remove-ap-container {
  display: block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
