@import '../styles/_variables.scss';

#topBanner {
  position: fixed;
}

.banner {
  background-color: #777;
  text-align: center;
  width: 100%;
  z-index: 1031;
  font-size: 12px;
}

.banner-text {
  color: #effa1a;
}

#footerMain {
  padding-left: 15px;
  padding-right: 15px;
  p {
    margin-bottom: 5px;
  }
}

// Compensate header/footer padding
#routerWrapper {
  padding-top: $navbar-height + px;
}

#showBannerSpacer {
  height: 17px;
}

@media screen and (max-width: 600px) {
  #routerWrapper {
    padding-top: 56px;
  }
}

#appComponent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #routerWrapper {
    flex: 1;
  }
}

