
  <header-navigation></header-navigation>


   <div class="container">
      <!-- <div class="height-100-percent jumbotron"> -->
      <div class="row" style="margin-top: 60px;">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
      </div>
 </div>





  <footer class="footer">
      <div class="container">
        <p> Made by <a class="white text-lighten-3" target="_blank" href="http://www.iad.gov">NSA Information Assurance</a></p>
      </div>
    </footer>