.footer {
    a {
        color: #2faee1;
    }
    p {
        color: rgba(255, 255, 255, 0.85);
    }
}

.banner {
    background-color: #fcf8e3;
    border-color: #faebcc;
    // padding: 5px;
    border: 1px solid transparent;
    text-align: center;
}

.banner-text {
    color: #8a6d3b;
}
