
<div class="row">
    <div class="col-md-6">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name"  [(ngModel)]="campaign.attributes.name">
        </md-input-container>
    </div>
    <div class="col-md-6">
        <md-input-container class="full-width">
        <input mdInput placeholder="First Seen"  [(ngModel)]="campaign.attributes.first_seen">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Objective"  [(ngModel)]="campaign.attributes.objective">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <form>
            <md-select placeholder="Identities" [(ngModel)]="selectedValue5" name="food5" class="full-width">
                <md-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
                </md-option>
            </md-select>
            </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
                <md-select placeholder="Intrusion Sets" [(ngModel)]="selectedValue4" name="food4" class="full-width">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </md-option>
                </md-select>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
                <md-select placeholder="Attack Patterns" [(ngModel)]="selectedValue1" name="food1" class="full-width">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </md-option>
            </md-select>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form>
            <md-select placeholder="Indicator Object Type" [(ngModel)]="selectedValue2" name="food2" class="full-width">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </md-option>
            </md-select>
        </form>
    </div>
    <div class="col-md-4">
            <form>
            <md-select placeholder="Indicator Object Property" [(ngModel)]="selectedValue3" name="food3" class="full-width">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </md-option>
            </md-select>
            </form>
    </div>
    <div class="col-md-4">
        <md-input-container  class="full-width">
            <input mdInput placeholder="Indicator Object Value"  value="">
        </md-input-container>
    </div>
</div>
<div class="row">
<div class="col-md-12">
        
    <md-input-container class="full-width">
        <input mdInput placeholder="Decsription"  [(ngModel)]="campaign.attributes.description" >
        </md-input-container>
    
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a> 
                <a class=" " md-raised-button (click)="saveCampaign()"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>            
    
        </div>
    </div>
</div>
