
<div class="row">
    <div class="col-md-6">
        <md-input-container class="full-width">
        <input mdInput placeholder="Name"  [(ngModel)]="campaign.attributes.name">
        </md-input-container>
    </div>
    <div class="col-md-6">
        <md-input-container class="full-width">
        <input mdInput placeholder="First Seen"  [(ngModel)]="campaign.attributes.first_seen">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <md-input-container class="full-width">
        <input mdInput placeholder="Objective"  [(ngModel)]="campaign.attributes.objective">
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
       <select-search-field [placeholder]="'identities'" [searchUrl]="'identities'" (optionChanged)="add($event)"></select-search-field>
      <md-chip-list class="pull-left">
            <md-chip selected="true" color="accent" *ngFor="let identity of identities">
                {{identity.attributes.name}}
                <a md-mini-fab (click)="remove(identity)"><md-icon>delete</md-icon></a>
            </md-chip>
        </md-chip-list>
    </div>

    <div class="col-md-4">
       <select-search-field [placeholder]="'Intrusion Sets'" [searchUrl]="'intrusion-sets'" (optionChanged)="add($event)"></select-search-field>
       <md-chip-list class="pull-left">
            <md-chip selected="true" color="accent" *ngFor="let intrusionSet of intrusionSets">
                {{intrusionSet.attributes.name}}
                <a md-mini-fab (click)="remove(intrusionSet)"><md-icon>delete</md-icon></a>
            </md-chip>
        </md-chip-list>
    </div>

    <div class="col-md-4">
       <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'" (optionChanged)="add($event)"></select-search-field>
        <md-chip-list class="pull-left">
            <md-chip selected="true" color="accent" *ngFor="let attackPattern of attackPatterns">
                {{attackPattern.attributes.name}}
                <a md-mini-fab (click)="remove(attackPattern)"><md-icon>delete</md-icon></a>
            </md-chip>
        </md-chip-list>
       
    </div>
</div>

<indicator-pattern-field></indicator-pattern-field>

<div class="row">
    <div class="col-md-12">
        
        <md-input-container class="full-width">
            <input mdInput placeholder="Decsription"  [(ngModel)]="campaign.attributes.description" >
        </md-input-container>
    
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a> 
                <a class=" " md-raised-button (click)="saveCampaign()"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>            
    
        </div>
    </div>
</div>
