
    <div class="row" *ngIf="attackPattern">
       <div class="col-md-12">
    
                <div class="button-row">
                    <a class="btn btn-large" md-raised-button (click)="editButtonClicked(attackPattern)"><i class="fa fa-pencil"></i> EDIT</a>
                    <a class="btn btn-large" md-raised-button (click)="deleteButtonClicked(attackPattern)"><i class="fa fa-trash"></i> DELETE</a>            
                </div>
            
        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="attackPattern">
        <div class="col-md-12">
            <md-card>
            
                <md-card-content>
                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                                <h6>{{attackPattern.attributes.name}}</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Description</label>
                                <h6>{{attackPattern.attributes.description}}</h6>
                            </div>
                        </div>
                          <kill-chain-phases [(model)]="attackPattern"></kill-chain-phases>
                        <external-reference [(model)]="attackPattern"></external-reference>
   
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div class="pull-right grey-text">{{attackPattern.id}}</div>

