
    <div class="row" *ngIf="attackPattern">
       <div class="col-md-12">
    
                <div class="button-row">
                    <a class="btn btn-large" md-raised-button (click)="editDetail(attackPattern)"><i class="fa fa-pencil"></i>EDIT</a>
                    <a class="red btn btn-large" md-raised-button (click)="openDialog(attackPattern)"><i class="fa fa-trash"></i>DELETE</a>            
                </div>
            
        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="attackPattern">
        <div class="col-md-12">
            <md-card>
                <!--<md-card-header>
                    <md-card-subtitle>Name</md-card-subtitle>  
                    <md-card-title>{{attackPattern.name}}</md-card-title>                       
                </md-card-header>-->
                <md-card-content>
                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                                <p>{{attackPattern.name}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Description</label>
                                <p>{{attackPattern.description}}</p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col">
                                <label>Kill Chain Phases</label>
                                <div> 
                                    <md-chip-list>
                                        <md-chip color="primary" *ngFor="let killChainPhase of attackPattern.killChainPhases">{{killChainPhase}}</md-chip>
                                    </md-chip-list>
                                </div>
                            </div>
                        </div>
   
                </md-card-content>
                <!--<md-card-actions>
                
                </md-card-actions>-->
            </md-card>
        </div>
    </div>

