
    <div class="row" *ngIf="attackPattern">
       <div class="col-md-12">
    
                <div class="button-row">
                    <a class="btn btn-large" md-raised-button (click)="editButtonClicked(attackPattern)"><i class="fa fa-pencil"></i>EDIT</a>
                    <a class="red btn btn-large" md-raised-button (click)="deleteButtonClicked(attackPattern)"><i class="fa fa-trash"></i>DELETE</a>            
                </div>
            
        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="attackPattern">
        <div class="col-md-12">
            <md-card>
            
                <md-card-content>
                        <div class="row">
                            <div class="col">
                                <label>Name</label>
                                <p>{{attackPattern.attributes.name}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label>Description</label>
                                <p>{{attackPattern.attributes.description}}</p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col">
                                <label>Kill Chain Phases</label>
                                <div> 
                                    <md-chip-list>
                                        <md-chip color="primary" *ngFor="let kill_chain_phase of attackPattern.attributes.kill_chain_phases">{{kill_chain_phase.phase_name}}</md-chip>
                                    </md-chip-list>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Kill Chain Phases</label>
                                <div> 
                                    <md-chip-list>
                                        <md-chip color="primary" *ngFor="let external_reference of attackPattern.attributes.external_references">{{external_reference.source_name}}</md-chip>
                                    </md-chip-list>
                                </div>
                            </div>
                        </div>
   
                </md-card-content>
                <!--<md-card-actions>
                
                </md-card-actions>-->
            </md-card>
        </div>
    </div>

