@import '../../../styles/_variables.scss';
#event-content {
  margin-left: 24px;
  margin-right: 24px;
}

.flexColumn {
  flex-direction: column;
}

.matchHeight {
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

$min-card-width: 135;
$padding-between-cards: 10;

$left-column-width: .63;
$right-column-width: 1 - $left-column-width;
$right-column-min-width: 175;
$left-column-min-width: 3 * $right-column-min-width;

.left-column {
  width: percentage($left-column-width);
  min-width: $left-column-min-width + px;

}

.right-column {
  width: percentage($right-column-width);
  min-width: $right-column-min-width + px;
}


$top-half-height: 40;
$bottom-half-height: $top-half-height + 4;

#top-half, #bottom-half {
  width: 100%;
}

#top-half {
  min-height: $top-half-height + vh;
  margin-bottom: 20px;
}

$bottom-half-min-width: $right-column-min-width + $left-column-min-width;
#bottom-half {
  max-height: $bottom-half-height + vh;
  min-width: $bottom-half-min-width + px;
  min-height: 400px;
}

$traffic-detail-title-height: 31;
$traffic-detail-title-bottom-margin: 16;
.traffic-detail-title {
  height: $traffic-detail-title-height + px;
  margin-bottom: $traffic-detail-title-bottom-margin + px;
}

.mat-card-scroll-content .mat-card-content {
  overflow-y: auto;
  max-height: 35vh;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}

.card {
  margin-bottom: 20px;
  min-width: $min-card-width + px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 18px;
  padding-bottom: 6px;
  .mat-card-subtitle {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
  }
}

.left-card {
  flex-grow: .5;
  margin-right: $padding-between-cards + px;
  height: 100%;
}

.right-card {
  flex-grow: .5;
  margin-left: $padding-between-cards + px;
  height: 100%
}

.bottom-card {
  margin-bottom: 0px;
}

.mat-header-row, .mat-row {
  min-height: 0;
  padding: 0;
}

.mat-column-date {
  flex: 0 0 32%;
}

.mat-column-ip {
  flex: 0 0 14%;
}

.mat-column-city {
  flex: 0 0 10%;
}

.mat-column-country {
  flex: 0 0 8%;
}

.mat-column-attack-pattern {
  flex: 0 0 19%;
}

.mat-column-potential-actor {
  flex: 0 0 17%;
}