@import '../../../styles/_variables.scss';
#event-content {
  margin-left: 24px;
  margin-right: 24px;
}

.flexColumn {
  flex-direction: column;
}

.matchHeight {
  align-items: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

$min-card-width: 330;
$padding-between-cards: 10;
$min-card-fullwidth: ($min-card-width * 2 + $padding-between-cards + $padding-between-cards);
//   #assessmentCard {
//     min-width: $min-card-fullwidth + px;
//   }
$left-column-width: .63;
$right-column-width: 1 - $left-column-width;
.left-column {
  width: percentage($left-column-width);
}

.right-column {
  width: percentage($right-column-width);
}

$half-height-margin-bottom: 20px;
.half-height {
  height: calc(50% - #{$half-height-margin-bottom});
  margin-bottom: $half-height-margin-bottom;
}

$traffic-detail-title-height: 31;
$traffic-detail-title-bottom-margin: 16;
.traffic-detail-title {
  height: $traffic-detail-title-height + px;
  margin-bottom: $traffic-detail-title-bottom-margin + px;
}

.mat-card-scroll-content .mat-card-content {
  overflow-y: auto;
  max-height: calc(100% - (#{$traffic-detail-title-height + px} + #{$traffic-detail-title-bottom-margin + px}));
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}

.card {
  min-height: 200px;
  margin-bottom: 20px;
  min-width: $min-card-width + px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 18px;
  padding-bottom: 6px;
  .mat-card-subtitle {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
  }
}

.left-card {
  flex-grow: .5;
  margin-right: $padding-between-cards + px;
  height: 100%;
  max-height: 400px;
}

.right-card {
  flex-grow: .5;
  margin-left: $padding-between-cards + px;
}

.mat-header-row, .mat-row {
  min-height: 0;
  padding: 0;
}

.mat-column-date {
  flex: 0 0 20%;
}

.mat-column-ip {
  flex: 0 0 20%;
}

.mat-column-city {
  flex: 0 0 10%;
}

.mat-column-country {
  flex: 0 0 10%;
}

.mat-column-attack-pattern {
  flex: 0 0 20%;
}

.mat-column-potential-actor {
  flex: 0 0 20%;
}