<div id="event-content">
  <div class="container-fluid">
    <div class="row">
      <div class="flex matchHeight">
        <div class="flexColumn left-column">
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content">
              <mat-card-title>Daily Total</mat-card-title>
              <mat-card-subtitle>"10 days" picker</mat-card-subtitle>
              <mat-card-content>
                <p>Bar chart here</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content">
              <mat-card-title>Traffic Detail</mat-card-title>
              <mat-card-content>
                <mat-table #table [dataSource]="recentSightings">
                  <ng-container matColumnDef="{{columnIds[0]}}">
                    <mat-header-cell *matHeaderCellDef>Date/Time</mat-header-cell>
                    <mat-cell *matCellDef="let sighting">20NOV2016 0420</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="{{columnIds[1]}}">
                    <mat-header-cell *matHeaderCellDef>IP Address</mat-header-cell>
                    <mat-cell *matCellDef="let sighting">193.106.31.90
                      <ng-template #noObjects>
                        No assessed vulnerabilities found
                      </ng-template>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="{{columnIds[2]}}">
                    <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                    <mat-cell *matCellDef="let sighting">
                      <span>Kyiv</span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="{{columnIds[3]}}">
                    <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
                    <mat-cell *matCellDef="let sighting">
                      <span>UA</span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="{{columnIds[4]}}">
                    <mat-header-cell *matHeaderCellDef>Attack Pattern</mat-header-cell>
                    <mat-cell *matCellDef="let sighting">
                      <span>Bypass User</span>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="{{columnIds[5]}}">
                    <mat-header-cell *matHeaderCellDef>Potential Actor</mat-header-cell>
                    <mat-cell *matCellDef="let sighting">
                      <span>UNK</span>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row class="table-header-row" *matHeaderRowDef="columnIds"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: columnIds;"></mat-row>
                </mat-table>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="flexColumn right-column">
          <mat-card class="uf-mat-card card right-card" id="vulnerabilityCard">
            <mat-card-title>Metrics</mat-card-title>
            <mat-card-content>
              <mat-card class="uf-mat-card card">
                <mat-card-title>
                  INDICATES
                </mat-card-title>
                <mat-card-content>Indicators Chart</mat-card-content>
              </mat-card>
              <mat-card class="uf-mat-card card">
                <mat-card-title>
                  POTENTIAL ACTOR
                </mat-card-title>
                <mat-card-content>Potential Actor Chart</mat-card-content>
              </mat-card>
              <mat-card class="uf-mat-card card">
                <mat-card-title>
                  LOCATION
                </mat-card-title>
                <mat-card-content>Location Chart</mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="flex" id="sophisticationTitle">
          <span>Mitigation Sophistication Threshold</span>
        </div>
        <div class="flex flexItemsCenter">
          <div class="flex flexItemsCenter" id="sliderContainer">
            <mat-icon color="primary" class="mat-24 icon-people-1" aria-hidden="false" aria-label="Least sophisticated mitigation"></mat-icon>
            <mat-slider min="0" max="1" invert="true" step=".25" tick-interval="1" id="sophisticationSlider" color="primary" [(ngModel)]="summaryCalculationService.selectedRisk">
            </mat-slider>
            <mat-icon color="primary" class="mat-24 icon-people" aria-hidden="false" aria-label="Most sophisticated mitigation"></mat-icon>
          </div>
          <div class="flex1">&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="flex matchHeight">
          <mat-card class="uf-mat-card card chart left-card" id="sophisticationCard">
            <mat-card-title>Sophistication Breakdown</mat-card-title>
            <mat-card-content>
              <div *ngIf="summaryCalculationService.isSummaryAggregationValid(); else noSophisticationData">
                <sophistication-breakdown [assessedAttackPatterns]="summaryCalculationService.summaryAggregation.assessedAttackPatternCountBySophisicationLevel"
                  [allAttackPatterns]="summaryCalculationService.summaryAggregation.totalAttackPatternCountBySophisicationLevel"></sophistication-breakdown>
              </div>
              <ng-template #noSophisticationData>No data to load chart!</ng-template>
            </mat-card-content>
          </mat-card>
          <mat-card class="uf-mat-card card chart right-card">
            <mat-card-title>% Techniques Detected by Skill</mat-card-title>
            <mat-card-content>
              <div *ngIf="summaryCalculationService.techniqueBreakdown;else noTechniquesData">
                <techniques-chart #techniquesChart [riskThreshold]="summaryCalculationService.selectedRisk">
                </techniques-chart>
              </div>
              <ng-template #noTechniquesData>No data to load chart!</ng-template>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="flex flexItemsCenter">
          <mat-card class="uf-mat-card card chart flex1" id="assessmentCard">
            <mat-card-title>% of Assessments Better than Mitigation Threshold</mat-card-title>
            <mat-card-content>
              <div *ngIf="summaryCalculationService.assessmentsGroupingTotal;else noAssessmentsChartData">
                <assessment-chart></assessment-chart>
              </div>
              <ng-template #noAssessmentsChartData>No data to load chart!</ng-template>
            </mat-card-content>
          </mat-card>
        </div> -->
  </div>
</div>
