<div id="event-content">
  <div class="container-fluid">
    <div class="row">
      <div class="flex matchHeight">
        <div class="flexColumn column">
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
              <mat-card-title>Daily Total</mat-card-title>
              <mat-card-subtitle>"10 days" picker</mat-card-subtitle>
              <mat-card-content>
                <p>Bar chart here</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="flexRow half-height">
            <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
              <mat-card-title>Traffic Detail</mat-card-title>
              <mat-card-content>
                <p>Detail Table here</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="flexColumn column">
          <mat-card class="uf-mat-card card right-card" id="vulnerabilityCard">
            <mat-card-title>Metrics</mat-card-title>
            <mat-card-content>
              <mat-card class="uf-mat-card card">
                <mat-card-title>
                  INDICATES
                </mat-card-title>
                <mat-card-content>Indicators Chart</mat-card-content>
              </mat-card>
              <mat-card class="uf-mat-card card">
                <mat-card-title>
                  POTENTIAL ACTOR
                </mat-card-title>
                <mat-card-content>Potential Actor Chart</mat-card-content>
              </mat-card>
              <mat-card class="uf-mat-card card">
                <mat-card-title>
                  LOCATION
                </mat-card-title>
                <mat-card-content>Location Chart</mat-card-content>
              </mat-card>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="flex" id="sophisticationTitle">
          <span>Mitigation Sophistication Threshold</span>
        </div>
        <div class="flex flexItemsCenter">
          <div class="flex flexItemsCenter" id="sliderContainer">
            <mat-icon color="primary" class="mat-24 icon-people-1" aria-hidden="false" aria-label="Least sophisticated mitigation"></mat-icon>
            <mat-slider min="0" max="1" invert="true" step=".25" tick-interval="1" id="sophisticationSlider" color="primary" [(ngModel)]="summaryCalculationService.selectedRisk">
            </mat-slider>
            <mat-icon color="primary" class="mat-24 icon-people" aria-hidden="false" aria-label="Most sophisticated mitigation"></mat-icon>
          </div>
          <div class="flex1">&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="flex matchHeight">
          <mat-card class="uf-mat-card card chart left-card" id="sophisticationCard">
            <mat-card-title>Sophistication Breakdown</mat-card-title>
            <mat-card-content>
              <div *ngIf="summaryCalculationService.isSummaryAggregationValid(); else noSophisticationData">
                <sophistication-breakdown [assessedAttackPatterns]="summaryCalculationService.summaryAggregation.assessedAttackPatternCountBySophisicationLevel"
                  [allAttackPatterns]="summaryCalculationService.summaryAggregation.totalAttackPatternCountBySophisicationLevel"></sophistication-breakdown>
              </div>
              <ng-template #noSophisticationData>No data to load chart!</ng-template>
            </mat-card-content>
          </mat-card>
          <mat-card class="uf-mat-card card chart right-card">
            <mat-card-title>% Techniques Detected by Skill</mat-card-title>
            <mat-card-content>
              <div *ngIf="summaryCalculationService.techniqueBreakdown;else noTechniquesData">
                <techniques-chart #techniquesChart [riskThreshold]="summaryCalculationService.selectedRisk">
                </techniques-chart>
              </div>
              <ng-template #noTechniquesData>No data to load chart!</ng-template>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="flex flexItemsCenter">
          <mat-card class="uf-mat-card card chart flex1" id="assessmentCard">
            <mat-card-title>% of Assessments Better than Mitigation Threshold</mat-card-title>
            <mat-card-content>
              <div *ngIf="summaryCalculationService.assessmentsGroupingTotal;else noAssessmentsChartData">
                <assessment-chart></assessment-chart>
              </div>
              <ng-template #noAssessmentsChartData>No data to load chart!</ng-template>
            </mat-card-content>
          </mat-card>
        </div> -->
  </div>
</div>
