<div class="row">
        <div class="col-md-12">

            <div class="button-row">
                <a md-raised-button routerLink="new">NEW</a>
                <a md-raised-button (click)="download()">DOWNLOAD</a>            
            </div>
            <div class="pull-right">
                <span class="right-align">Results: {{intrusionSets.length}}</span>            
            </div>
        </div>
    </div>
    <hr *ngIf="intrusionSets.length === 0" />

    <list-stix-objects [model]="intrusionSets" [showLabels]="showLabels" [showExternalReferences]="showExternalReferences"></list-stix-objects>
   