<div class="row">
    <div class="col-md-12">
        <label>Source Type</label>
        <mat-form-field class="full-width">
        <mat-select required placeholder="Please Choose..." [(ngModel)]="sighting.attributes.sighting_of_ref" name="sourceTypes" class="full-width">
                <mat-option *ngFor="let sourceType of sourceTypes" [value]="sourceType">
                     {{sourceType}}
                </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-checkbox #summary_field name="summary-field" class="example-margin"  [checked]="sighting.attributes.summary" (click)="summaryClicked(summary_field)">Summary</mat-checkbox>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
         <mat-input-container class="full-width">
                <input type="number" matInput placeholder="Count"  [(ngModel)]="sighting.attributes.count" value="{{sighting.attributes.count}}">
                </mat-input-container>
    </div>
     <div class="col-md-4">


                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="First Seen" [(ngModel)]="sighting.attributes.first_seen">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    </div>
     <div class="col-md-4">


                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker_last_seen" placeholder="Last Seen" [(ngModel)]="sighting.attributes.last_seen">
                    <mat-datepicker-toggle matSuffix [for]="picker_last_seen"></mat-datepicker-toggle>
                    <mat-datepicker #picker_last_seen></mat-datepicker>
                </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
         <div class="button-row pull-right">
                    <a class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</a>
                    <a class=" " mat-raised-button (click)="saveButtonClicked()" [disabled]="!sighting.attributes.sighting_of_ref"><i class="material-icons">save</i> SAVE & CLOSE</a>

            </div>
    </div>
</div>