<!--<div class="row">
        <div class="col-md-12">

            <div class="button-row">
                <button mat-raised-button routerLink="./new">NEW</button>
                <button mat-raised-button (click)="download()">DOWNLOAD</button>
            </div>
            <div class="pull-right">
                <filter-search-box  [items]="threatActors" (filterItemsChange)="onFilterItemsChange($event)"></filter-search-box>
                <span *ngIf="filteredItems" class="right-align">Results: {{filteredItems.length}}</span>
            </div>
        </div>
    </div>-->
        <buttons-filter [model]="threatActors" [filteredItems]="filteredItems" (filterItemsChange)="onFilterItemsChange($event)"></buttons-filter>

    <list-stix-objects [model]="filteredItems" [url]="url" [showLabels]="'true'" [showExternalReferences]="'true'" (deletButtonClicked)="deletButtonClicked($event)"></list-stix-objects>
