<div class="row">
    <div class="col-md-6">
        <form>
            <mat-form-field>
                <mat-select placeholder="Source Type" [(ngModel)]="selectedSource" name="sourceRef" class="full-width" (change)="onSelectedSourceChange()">
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{type.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div class="col-md-6" *ngIf="selectedSources">
        <form>
            <mat-form-field>
                <mat-select placeholder="Source" [(ngModel)]="relationship.attributes.source_ref" name="sourceRef" class="full-width">
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{type.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <input matInput placeholder="Relationship Type" [(ngModel)]="relationship.attributes.relationship_type">
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form>
            <mat-form-field>
                <mat-select placeholder="Target Type" [(ngModel)]="selectedTargetType" name="targetRef" class="full-width" (change)="onSelectedSourceChange()">
                    <mat-option *ngFor="let type of types" [value]="type.id">
                        {{type.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>            
        </form>
    </div>
    <div class="col-md-6" *ngIf="selectedTargetTypes">
        <form>
            <mat-form-field>
                <mat-select placeholder="Target" [(ngModel)]="relationship.attributes.target_ref" name="targetRef" class="full-width">
                    <mat-option *ngFor="let type of selectedTargetTypes" [value]="type.id">
                        {{type.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>            
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <input matInput placeholder="Description" [(ngModel)]="relationship.attributes.description">
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
            <a class=" " mat-raised-button (click)="saveButtonClicked()">
                <i class="material-icons">save</i> SAVE</a>
        </div>
    </div>
</div>