@import '../../../styles/_variables.scss';

#threatReportEditor {
    .edit-title-row {
        align-items: center;
    }

    .edit-title {
        font-size: 34px;
        color: $dark-text-default;
    }

    .edit-title-buttons {
        margin-right: 15px;
    }

    .edit-close-button {
        margin-left: -35px;
        margin-right: 10px;
    }

    .boundaries-fieldsets {
        padding: 10px 15px 0px 15px;
    }

    .target-fieldset {
        flex-direction: column;
        align-items: stretch;
        padding-right: 10px;
    }

    .malware-fieldset {
        padding-right: 10px;
    }

    .malware-fieldset, .intrusions-fieldset {
        ::ng-deep {
            mat-chip {
                display: inline-block;
                margin: 0px 8px 8px 0px;
            }
        }
    }

    .reports-title-row {
        align-items: center;
    }

    .reports-table {
        background: transparent;

        mat-header-row {
            min-height: 0;


        }

        mat-header-cell {
            font-size: 14px;
            font-weight: normal;
            color: $dark-text-default;
        }

        .mat-column-name {
            flex: 1;
        }

        mat-row {
            .mat-column-name {
                border-right: 1px solid rgba(0,0,0, 0.12);
            }
        }

        .mat-column-actions {
            flex: 0 0 auto;

            .mat-button {
                min-width: 24px;
            }
        }
    }

    mat-form-field {
        width: 100%;
    }

    mat-select {
        width: 100%;
    }

    mat-chip {
        max-width: 200px;
    }

    .mat-chip-list-stacked {
        margin-top: 24px;
    }

    h2 {
        color: rgba(1,1,1, .54);
    }

    .error {
        color: get-color($orange, 500);
    }

}
