<div class="container" id="threatReportEditor" *ngIf="!loading; else loadingBlock">
        <div class="col-xs-10 col-sm-10 col-md-8 mt-10 flex edit-title-row">
            <button mat-icon-button class="mat-24 edit-close-button" matTooltip="Cancel" aria-label="Cancel"
                    (click)="onCancel($event)"><mat-icon>close</mat-icon></button>
            <div class="flex1 edit-title">{{title}} Work Product</div>
            <div class="edit-title-buttons">
                <button mat-button class="edit-cancel-button" matTooltip="Cancel" aria-label="Cancel"
                        (click)="onCancel($event)">CANCEL</button>
                <button mat-raised-button class="edit-save-button" [disabled]="!isValid()" color="primary"
                        matTooltip="Save Changes" aria-label="Save Changes"
                        (click)="onSave($event)">SAVE</button>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 mt-18">
            <div>
                <mat-form-field>
                    <input matInput #filter [(ngModel)]="threatReport.name"
                    color="primary" placeholder="Work Product Name"
                    matTooltip="Enter the work product's name" aria-label="enter work product name"
                    autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="col-xs-6 col-sm-6 mt-18 boundaries-title"> Boundaries </div>
        <div class="col-xs-12 col-sm-12 col-lg-10 flex boundaries-fieldsets">

            <div class="flex flex1 target-fieldset">

                <div class="">
                    <mat-form-field floatPlaceholder="always">
                        <input matInput #targetSelected class="target-input" [(ngModel)]="target"
                                color="primary" placeholder="Target" floatPlaceholder="always" spellcheck="false"
                                matTooltip="Enter the name of the target of the threat"
                                aria-label="Enter the name of the target of the threat"
                                autocomplete="off">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field floatPlaceholder="always">
                        <input #startDateInput matInput
                        [(ngModel)]="threatReport.boundaries.startDate" [(ngModel)]="startDate"
                        [max]="maxStartDate" [matDatepicker]="startDatePicker"
                        color="primary" placeholder="Date From" floatPlaceholder="always"
                        matTooltip="Enter the date the threat situation began"
                        aria-label="Enter the date the threat situation began (m/d/y format)"
                        (dateChange)="startDateChanged(startDateInput.value)"
                        autocomplete="off"/>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <small *ngIf="dateError.startDate.isError" class="error">{{ dateError.errorMessage }}</small>
                </div>
                <div>
                    <mat-form-field floatPlaceholder="always">
                            <input #endDateInput matInput
                            [(ngModel)]="threatReport.boundaries.endDate"
                            [min]="minEndDate" [matDatepicker]="endDatePicker"
                            color="primary" placeholder="Date To" floatPlaceholder="always"
                            matTooltip="Enter the date the threat situation ended"
                            aria-label="Enter the date the threat situation ended (m/d/y format)"
                            (dateChange)="endDateChanged(endDateInput.value)"
                            autocomplete="off"/>
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    <small *ngIf="dateError.endDate.isError" class="error">{{ dateError.errorMessage }}</small>
                    <small *ngIf="dateError.endDate.isSameOrBefore"
                            class="error">{{ dateError.endDate.isSameOrBeforeMessage }}</small>
                </div>
            </div>
            <div class="flex1 malware-fieldset">
                <mat-form-field floatPlaceholder="always" >
                    <mat-select #malwareSelected color="primary" placeholder="Malware"
                            matTooltip="Select all the malware that was used"
                            aria-label="Select all the malware that was used"
                            (selectionChange)="addChip($event.source.selected.value, 'malware')">
                        <mat-option *ngFor="let curMalware of malware" [value]="curMalware">
                            {{ curMalware.displayValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-chip-list class="mat-chip-list-stacked" selectable="true">
                    <mat-chip *ngFor="let malware of threatReport.boundaries.malware" removable="true">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ malware.displayValue }}</span>
                            <mat-icon matChipRemove aria-label="Click here to remove this malware from the work product"
                                    (click)="removeChip(malware, 'malware')">cancel</mat-icon>
                        </div>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div class="flex1 intrusions-fieldset">
                <mat-form-field floatPlaceholder="always" >
                    <mat-select color="primary" placeholder="Intrusion Set"
                            matTooltip="Select the intrusion sets attempted during the attack"
                            aria-label="Select the intrusion sets attempted during the attack"
                            (selectionChange)="addChip($event.source.selected.value, 'intrusion-set')">
                        <mat-option *ngFor="let intrusion of intrusions" [value]="intrusion">
                            {{ intrusion.displayValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-chip-list class="mat-chip-list-stacked" selectable="true">
                    <mat-chip *ngFor="let selectedIntrusion of threatReport.boundaries.intrusions"
                            removable="true" selectable="true">
                        <div class="flex">
                            <span class="flex1 flexNowrap">{{ selectedIntrusion.displayValue }}</span>
                            <mat-icon matChipRemove
                                    aria-label="Click here to remove this intrusion set from the work product"
                                    (click)="removeChip(selectedIntrusion, 'intrusion-set')">cancel</mat-icon>
                        </div>
                    </mat-chip>
                </mat-chip-list>
            </div>

        </div>

        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 mt-25 flex reports-title-row">
            <div class="flex1 reports-title">External Reports</div>
            <div class="reports-title-buttons">
                <button mat-button class="create-report-button" color="primary"
                        matTooltip="Click to create a new report to be included in this work product"
                        aria-label="Click to create a new report to be included in this work product"
                        (click)="onCreateReport($event)">CREATE</button>
                <button mat-button class="import-report-button"
                        matTooltip="Click to select an existing report to include in this work product"
                        aria-label="Click to select an existing report to include in this work product"
                        (click)="onImportReport($event)">ADD</button>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-12 col-md-8 mt-6">
            <mat-table class="reports-table" #table [dataSource]="reportsDataSource">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let report"> {{report.attributes.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let report">
                        <div class="buttonGrp text-right">
                            <button mat-button disabled
                                    matTooltip="Convert this personal report into a shared report"
                                    aria-label="Convert this personal report into a shared report"
                                    (click)="onShareReport(report, $event)">
                                <mat-icon>share</mat-icon>
                            </button>
                            <button mat-button
                                    matTooltip="Edit the information about this report"
                                    aria-label="Edit the information about this report"
                                    (click)="onModifyReport(report, $event)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-button
                                    matTooltip="Remove this report from this work product"
                                    aria-label="Remove this report from this work product"
                                    (click)="onRemoveReport(report, $event)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                <mat-row *matRowDef="let report; columns: displayColumns;"></mat-row>
            </mat-table>
        </div> 

</div>

<ng-template #loadingBlock>
    <loading-spinner></loading-spinner>
</ng-template>
