<p mat-dialog-title class="lead mb-6">Modify Threat Report</p>

<mat-dialog-content id="modify-report-dialog">
    <mat-vertical-stepper linear="false">
        <mat-step *ngIf="showReportByUrlStep">
            <ng-template matStepLabel>Load Report By URL</ng-template>
            <form novalidate>
                <mat-form-field class="wide">
                    <input #urlInput matInput placeholder="Enter Report URL" (keyup.enter)="onLoadReportByUrl(urlInput.value);">
                </mat-form-field>
                <button #nextToReportFormBtn mat-raised-button matStepperNext color="primary" (click)="onLoadReportByUrl(urlInput.value);">CONTINUE</button>
                <button mat-button mat-dialog-close (click)="closeDialog($event);">CANCEL</button>
            </form>
            <mat-error *ngIf="urlTranslationError">
                {{urlTranslationError}}
            </mat-error>
        </mat-step>
        <mat-step *ngIf="showReportStep">
            <ng-template matStepLabel>Manually Add Report</ng-template>
            <unf-add-external-report #reportForm [attackPatterns]="attackPatterns" (onFormSubmit)="closeDialog($event)">
            </unf-add-external-report>
        </mat-step>
        <mat-step *ngIf="showMalwareStep">
            <ng-template matStepLabel>Modify Intrusions</ng-template>
            <unf-modify-intrusions [threatReport]="threatReport" (onFormSubmit)="closeDialog($event)"></unf-modify-intrusions>
        </mat-step>
        <mat-step *ngIf="showIntrusionStep">
            <ng-template matStepLabel>Modify Malwares</ng-template>
            <unf-modify-malwares [threatReport]="threatReport" (onFormSubmit)="closeDialog($event)"></unf-modify-malwares>
        </mat-step>
    </mat-vertical-stepper>
</mat-dialog-content>