<div mat-dialog-title>
    <div class="first-line">
        <div class="col-md-4 title-border">
            <h2 class="lead"> {{data.title}} </h2>
        </div>
        <div class="col-md-4">
            <mat-tab-group (focusChange)="onFilterChange($event)" class="uf-tabs-borderless">
                <mat-tab label="YOURS"></mat-tab>
                <mat-tab label="SHARED" disabled></mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-4 master-list-search">
            <mat-form-field floatLabel="never">
                <input matInput #filter placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>

<mat-dialog-content id="master-list">

    <div class="container col-md-12" *ngIf="!loading; loadingBlock">

        <div *ngIf="!hasError; else errorBlock">

            <div class="col-md-12 master-list-table">

                <mat-table #table [dataSource]="data.dataSource" *ngIf="data.columns as cdefs">

                    <ng-container *ngIf="cdefs.id as id" matColumnDef='{{id.ref}}'>
                        <mat-header-cell *matHeaderCellDef
                                class="master-list-item-header"> {{id.header}} </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="master-list-item {{cdefs.rowClass(row, id)}}"
                                (click)="cdefs.canSelect(row, id) && onSelect(row, id.ref, $event)">
                            <span class="master-list-item-name"> {{$any(id).format(row[id.ref])}} </span>
                            <mat-icon class="master-list-item-arrow">chevron_right</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngIf="cdefs.edition as ed" matColumnDef='{{ed.ref}}'>
                        <mat-header-cell *matHeaderCellDef
                                class="master-list-edition-header"> {{ed.header}} </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="master-list-edition {{cdefs.rowClass(row, ed)}}"
                                (click)="cdefs.canSelect(row, ed) && onSelect(row, ed.ref, $event)">
                            <span> {{ $any(ed).format(row[ed.ref]) }} </span>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let extra of data.columns.extra" matColumnDef='{{extra.ref}}'>
                        <mat-header-cell *matHeaderCellDef> {{extra.header}} </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="{{cdefs.rowClass(row, extra)}}"
                                (click)="cdefs.canSelect(row, extra) && onSelect(row, extra.ref, $event)">
                            <span> {{ $any(extra).format(row[extra.ref]) }} </span>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngIf="cdefs.actions as acts" matColumnDef='{{acts.ref}}'>
                        <mat-header-cell *matHeaderCellDef
                                class="master-list-actions-header"> {{acts.header}} </mat-header-cell>
                        <!-- Note that these actions are hard-wired at this time -->
                        <mat-cell *matCellDef="let row" class="master-list-actions {{cdefs.rowClass(row, acts)}}">
                            <div class="buttonGrp">
                                <button mat-button (click)="onEdit(row, $event)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-button (click)="onDelete(row, $event)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="data.columns.getColumns()"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: data.columns.getColumns();"></mat-row>

                </mat-table>

            </div>

        </div>

    </div>

    <ng-template #loadingBlock>
        <loading-spinner></loading-spinner>
    </ng-template>

    <ng-template #errorBlock>
        <p>Error loading page: {{errorMsg}}</p>
    </ng-template>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="onCreate($event)">CREATE</button>
</mat-dialog-actions>
