<div class="feed-item-carousel" (resize)="calculateWindow()">

    <div id="feed-item-label">
        <h4>{{ label }}</h4>
        <div class="carousel-pager" *ngIf="pages > 1">
            <button mat-icon-button class="pager-bullet" *ngFor="let pg of pages | times" (click)="scrollToPage(pg)">
                <mat-icon [ngClass]="{'active-page-bullet' : (page === pg)}">lens</mat-icon>
            </button>
        </div>
    </div>

    <div *ngIf="loaded; else loadingBlock" (mouseenter)="hovering = true" (mouseleave)="hovering = false">

        <div class="carousel-glass" [style.height]="itemHeight + 'px'" *ngIf="hovering && (pages > 1)">
            <button mat-icon-button mat-mini-fab class="carousel-button carousel-left"
                    [disabled]="isFirstPage()" (click)="scrollLeft()">
                <mat-icon aria-label="scroll left">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button mat-mini-fab class="carousel-button carousel-right"
                    [disabled]="isLastPage()" (click)="scrollRight()">
                <mat-icon aria-label="scroll right">keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <div #view class="item-list" [style.margin]="'-11px 0 0 ' + offset + 'px'">
            <ng-content select="[carousel-items]"></ng-content>
        </div>

    </div>

</div>

<ng-template #loadingBlock>
    <loading-spinner [style.height]="itemHeight"></loading-spinner>
</ng-template>
