<feed-carousel #carousel [itemCount]="boards.length" [loaded]="loaded" [label]="'Related Boards'" [itemHeight]="254">
    <ng-container carousel-items>
        <div *ngFor="let board of boards; index as idx" id="{{ board.id }}"
                class="related-board" [style.background]="getBoardBackground(board)">
            <div class='board-title'>{{ board.name }}</div>
            <div class='board-owner'>{{ getUserName(board) }}</div>
            <div class='board-options'>
                <button mat-button disabled (click)="followBoard(board.id)">FOLLOW</button>
            </div>
        </div>
    </ng-container>
</feed-carousel>
