.board-report {
    width: 210px;
    min-width: 210px;
    height: 210px;
    margin-right: 7px;
    border-radius: 4px;

    .report-image {
        height: 105px;
        background-size: 210px 105px !important;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        .report-fabs {
            text-align: center;

            .fab-row {
                padding-top: 10px;

                button[mat-mini-fab] {
                    color: black;
                    background: white;
                }

                button[mat-mini-fab][disabled] {
                    color: white;
                    background: gray;
                }
            }
        }
    }

    .report-info {
        width: 210px;
        height: 105px;
        padding: 16px;
    }

    .report-title {
        overflow: hidden;
        max-height: 73px;
        font-size: 18px;
        color: white;
    }

    .report-badge {
        position: absolute;
        top: 44px;
        height: 26px;
        background: transparent;
        font-size: 20px;
        color:  blue;
    }
}

:host ::ng-deep .mat-badge-small.mat-badge-overlap.mat-badge-before {
    .mat-badge-content {
        left: 8px;
    }
}
