<h2 mat-dialog-title>
    <div class="flex">
        <span>Choose VPN Related Attack Patterns</span>
        <span class="flex1"></span>
        <button mat-button (click)="clearSelections()">CLEAR</button>
        <button mat-button [mat-dialog-close]="false">CANCEL</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="onClose()">SUBMIT</button>
    </div>
</h2>
<mat-dialog-content>
    <div id="attack-pattern-filter">
        <attack-patterns-heatmap #heatmapView [attackPatterns]="attackPatterns" [heatMapOptions]="heatmapOptions"
                (click)="toggleAttackPattern($event)"></attack-patterns-heatmap>
    </div>
</mat-dialog-content>
