@import '../../../../../../../styles/_variables';

#addAssessedObjectCard {
    position: fixed;
    bottom: 26px;
    right: 100px;
    width: 400px;
    z-index: 500;
}

.errMsg {
    color: $warn-color;
}

.add-assessed-object-fab {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 120;
    width: 52px;
    height: 52px;

    button {
        height: 100%;
        width: 100%;
    }
}
