<div class="row" *ngIf="intrusionSet">
       <div class="col-md-12">
            <div class="row">
            <div class="col-md-12">
                    <div class="button-row">
                        <a class="" md-raised-button (click)="editButtonClicked()"><i class="fa fa-pencil"></i>EDIT</a>
                        <a class="" md-raised-button (click)="deleteButtonClicked()"><i class="fa fa-trash"></i>DELETE</a>     
                         <button md-raised-button routerLink="/mitigates/{{intrusionSet.id}}">Intrusion Set</button>  
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                   
                </div>
            </div>
       </div>
</div>

 <md-card>

    <md-card-content>
            <div class="row">
                <div class="col-md-12">
                    <label>Name</label>
                    <p>{{intrusionSet.attributes.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>First Seen</label>
                    <h5>{{intrusionSet.attributes.first_seen}}</h5>
                </div>
                 <div class="col-md-6">
                    <label>Last Seen</label>
                    <h5>{{intrusionSet.attributes.last_seen}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Primary Motivation</label>
                    <h5>{{intrusionSet.attributes.primary_motivation}}</h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6">
                    <label>Goals</label>
                    <h5>{{intrusionSet.attributes.goals}}</h5>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6">
                    <label>Resource Level</label>
                    <h5>{{intrusionSet.attributes.resource_level}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Description</label>
                    <h5>{{intrusionSet.attributes.description}}</h5>
                </div>
            </div>
                    
            
    </md-card-content>

</md-card>
     <div class="pull-right grey-text">{{intrusionSet.id}}</div>
    <relationship-list *ngIf="intrusionSet.id" [model]="intrusionSet"></relationship-list>
