<div class="row" *ngIf="intrusionSet">
       <div class="col-md-12">
            <div class="row">
            <div class="col-md-12">
                    <div class="button-row">
                        <a class="" md-raised-button (click)="editButtonClicked()"><i class="fa fa-pencil"></i>EDIT</a>
                        <a class="" md-raised-button (click)="deleteButtonClicked()"><i class="fa fa-trash"></i>DELETE</a>            
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                   
                </div>
            </div>
       </div>
</div>

 <md-card>

    <md-card-content>
            <div class="row">
                <div class="col-md-12">
                    <label>Name</label>
                    <p>{{intrusionSet.attributes.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>First Seen</label>
                    <p>{{intrusionSet.attributes.first_seen}}</p>
                </div>
                 <div class="col-md-6">
                    <label>Last Seen</label>
                    <p>{{intrusionSet.attributes.last_seen}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Primary Motivation</label>
                    <p>{{intrusionSet.attributes.primary_motivation}}</p>
                </div>
            </div>
             <div class="row">Primary Motivation
                <div class="col-md-6">
                    <label>Goals</label>
                    <p>{{intrusionSet.attributes.goals}}</p>
                </div>
            </div>
             <div class="row">Primary Motivation
                <div class="col-md-6">
                    <label>Resource Level</label>
                    <p>{{intrusionSet.attributes.resource_level}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Description</label>
                    <p>{{intrusionSet.attributes.description}}</p>
                </div>
            </div>
                    
            
    </md-card-content>

</md-card>
 <p><label>Relationships</label></p>
<div class="row">
    <div class="col-md-12">
        <label>External References</label>
        <md-chip-list>
            <md-chip *ngFor="let externalReferences of intrusionSet.attributes.external_references"
                selected="true">
                {{externalReferences.sourceName}}
            </md-chip>
        </md-chip-list>
    </div>
</div>
<div class="pull-right grey-text">{{intrusionSet.id}}</div>
