<div class="container" id="indicatorFormComponent">
  <form [formGroup]="form" novalidate>
    <br>
    <p class="lead mb-6" style="padding-left: 21px;">
        <span *ngIf="!editMode">Add</span>
        <span *ngIf="editMode">Edit</span>
        <span> Analytic</span>
    </p>
    <div class="flex" id="formHeader">
      <button mat-icon-button class="mat-24 edit-close-button" style="margin-left: -18px;" (click)="location.back()" type="button">
        <mat-icon>close</mat-icon>
      </button>
      <span class="flex1">
        <mat-form-field class="full-width">
          <input matInput required placeholder="Analytic Name" formControlName="name">
          <mat-error *ngIf="form.get('name').hasError('required')">
            Analytic name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </span>
      <span>&nbsp;&nbsp;</span>
      <span formGroupName="metaProperties">
        <mat-checkbox formControlName="published">Publish To All Unfetter Users</mat-checkbox>
      </span>
    </div>
    <div id="formWrapper">

      <mat-horizontal-stepper (selectionChange)="stepperChanged($event)" #stepper>

        <mat-step label="Base Data" #baseDataStep>

          <help-window [helpHtml]="patternHelpHtml"></help-window>

          <h4>Description</h4>
          <simplemde formControlName="description"></simplemde>

          <h4 class="inlineBlock"><span [class.textWarn]="form.get('pattern').dirty && form.get('pattern').hasError('required')">Pseudocode<sup>*</sup></span></h4>
          <small class="text-muted">(Optional: Use STIX patterns to get automated translations)</small>
          <simplemde formControlName="pattern" (keyup)="patternChange(form.get('pattern'))" [class.mdeError]="form.get('pattern').dirty && form.get('pattern').hasError('required')"></simplemde>
          <mat-error [class.showUfMatError]="form.get('pattern').dirty && form.get('pattern').hasError('required')" class="ufMatError">
              Pseudocode is <strong>required</strong>
          </mat-error>

          <p id="patternSuccess" [style.opacity]="form.get('metaProperties').get('validStixPattern').value && form.get('pattern').dirty && form.get('pattern').value.length > 0 ? 1 : 0"
            [style.marginTop]="!form.get('pattern').hasError('required') ? '-15px' : '-5px'" [style.marginBottom]="!form.get('pattern').hasError('required') ? '15px' : '0px'">
            <i class="material-icons">check</i> Valid STIX Pattern</p>

          <pii-check-message [formCtrl]="form.get('pattern')"></pii-check-message>

          <div class="mb-6" *ngIf="firstShowPatternTranslations">
            <div class="uf-collapsible-control mb-10" (click)="showPatternTranslations = !showPatternTranslations">
              <i class="material-icons mat-24 transition02" [ngClass]="{'rotate90': showPatternTranslations}">chevron_right</i>
              <span class="h5">&nbsp;Automatic Pattern Translations</span>
            </div>
            <div class="uf-well queriesContainer" *ngIf="showPatternTranslations" @heightCollapse>
              <div formGroupName="metaProperties">
                <div formGroupName="queries">
                  <div formGroupName="carElastic" class="mb-6">
                    <div class="mb-5">
                      <label>Elastic Search (Cyber Analytic Repository)</label>
                      <br>
                      <code>{{ form.get('metaProperties').get('queries').get('carElastic').get('query').value }}&nbsp;</code>
                    </div>
                    <div>
                      <mat-checkbox formControlName="include">Include</mat-checkbox>
                    </div>
                  </div>
                  <div formGroupName="carSplunk" class="mb-6">
                    <div class="mb-5">
                      <label>Splunk (Cyber Analytic Repository)</label>
                      <br>
                      <code>{{ form.get('metaProperties').get('queries').get('carSplunk').get('query').value }}&nbsp;</code>
                    </div>
                    <div>
                      <mat-checkbox formControlName="include">Include</mat-checkbox>
                    </div>
                  </div>
                  <div formGroupName="cimSplunk" class="mb-6">
                    <div class="mb-5">
                      <label>Splunk (Common Information Model)</label>
                      <br>
                      <code>{{ form.get('metaProperties').get('queries').get('cimSplunk').get('query').value }}&nbsp;</code>
                    </div>
                    <div>
                      <mat-checkbox formControlName="include">Include</mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h4>Implementations</h4>
          <div class="mb-6" formGroupName="metaProperties">
            <additional-queries [parentForm]="form"></additional-queries>
            <implementations-list [form]="form"></implementations-list>
          </div>

          <div *ngIf="!editMode">
            <h4>Submitter Organization<sup>*</sup></h4>
            <mat-form-field class="full-width mb-6">
              <mat-select required placeholder="Submitter Organization" formControlName="created_by_ref">
                <mat-option *ngFor="let org of organizations" [value]="org.id">{{org.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <h4>Marking Definitions</h4>
          <div class="mb-6">
            <mat-form-field class="full-width">
              <mat-select multiple placeholder="Marking Definitions" formControlName="object_marking_refs">
                <mat-option *ngFor="let marking of marking$ | async" [value]="marking.id">
                  {{getMarkingLabel(marking)}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <markings-chips [model]="form.value" disableTooltips="true"></markings-chips>
          </div>

          <ng-template #baseDataButtons>
            <button mat-button [disabled]="form.status !== 'VALID'" type="submit" (click)="submitIndicator()">SAVE</button>
            <span>&nbsp;</span>
            <button mat-raised-button matStepperNext type="button" color="primary" [disabled]="stepOneInvalid()">CONTINUE</button>
          </ng-template>
        </mat-step>

        <mat-step label="Associated Data" #associatedDataStep>
          <br>

          <div formGroupName="metaProperties" *ngIf="attackPatterns && attackPatterns.length">
            <h4>Indicated Techniques</h4>
            <unf-selection-list [stix]="attackPatterns" [formCtrl]="form.get('metaProperties').get('relationships')"></unf-selection-list>
          </div>
          <div *ngIf="form.get('kill_chain_phases').value.length">
            <h4>Derived Tactics</h4>
            <mat-chip-list class="chipListPadding">
              <mat-chip *ngFor="let kcp of form.get('kill_chain_phases').value" class="cursor-pointer chipListChip">
                {{ kcp.phase_name | capitalize }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <br>

          <div>
            <h4>Reference Links</h4>
            <external-references-reactive [parentForm]="form"></external-references-reactive>
            <external-references-list [form]="form"></external-references-list>
          </div>

          <h4>Add Labels</h4>
          <add-label-alt [parentForm]="form" stixType="indicator"></add-label-alt>

          <div *ngIf="!blockAttachments">
            <h4>Attachments</h4>
            <file-list [existingFiles]="editData && editData.metaProperties && editData.metaProperties.attachments" (filesChange)="filesChange($event)"></file-list>
            <br>
          </div>

          <ng-template #associatedDataButtons>
            <button mat-button [disabled]="form.status !== 'VALID'" type="submit" (click)="submitIndicator()">SAVE</button>
            <span>&nbsp;</span>
            <button mat-raised-button matStepperNext type="button" color="primary">CONTINUE</button>
            <span>&nbsp;</span>
            <button mat-button matStepperPrevious type="button">BACK</button>
          </ng-template>          
        </mat-step>

        <mat-step label="Input Data">
          <help-window [helpHtml]="observableDataHelpHtml"></help-window>
          <h4>Observed Data</h4>
          <div class="mt-10">
            <observable-data-tree [parentForm]="form" [patternObjSubject]="patternObjSubject"></observable-data-tree>
          </div>
          <h4>Data Sources</h4>
          <div class="mt-15">
            <data-sources [formCtrl]="form.get('x_mitre_data_sources')"></data-sources>
          </div>
          <ng-template #inputDataButtons>
            <button mat-raised-button color="primary" [disabled]="form.status !== 'VALID'" type="submit" (click)="submitIndicator()">SAVE</button>
            <span>&nbsp;</span>
            <button mat-button matStepperPrevious type="button">BACK</button>
          </ng-template>
        </mat-step>

      </mat-horizontal-stepper>

      <div *ngIf="uploadProgress > 0">
        <label>Uploading Files...</label>
        <mat-progress-bar mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress < 100"></mat-progress-bar>
        <mat-progress-bar mode="indeterminate" *ngIf="uploadProgress === 100"></mat-progress-bar>
      </div>
      <div *ngIf="submitErrorMsg" class="uf-well-warn">
        <h4>An Error Occured</h4>
        <p>{{ submitErrorMsg }}</p>
      </div>

    </div>

    <div class="stepperControlWrapper mat-elevation-z8">
      <div class="container flex flexItemsCenter" [ngSwitch]="currentStepperIndex">
        <span *ngSwitchCase="0" class="flex1">
          <ng-container *ngTemplateOutlet="baseDataButtons"></ng-container>
        </span>
        <span *ngSwitchCase="1" class="flex1">
          <ng-container *ngTemplateOutlet="associatedDataButtons"></ng-container>
        </span>
        <span *ngSwitchCase="2" class="flex1">
          <ng-container *ngTemplateOutlet="inputDataButtons"></ng-container>
        </span>
        <span>
          <div id="stepperMiniControl" class="flex">
            <span class="dot" *ngFor="let number of [0,1,2]" 
              [class.theme-bg-primary]="number === currentStepperIndex"
              [class.cursor-pointer]="number !== currentStepperIndex"
              (click)="changeStepperIndex(number)"></span>
          </div>
        </span>
      </div>
    </div>
  </form>
</div>
