<div id="assessedObjectsWrapper">
<hr>
<mat-card>
    <mat-card-title class="pull-left">Assessed Objects</mat-card-title>
    <mat-card-title class="pull-right">
        <button mat-fab (click)="addAssessedObject = !addAssessedObject">
            <i class="material-icons mat-24">add</i>
        </button>
    </mat-card-title>
    <br class="altClearFix">
</mat-card>
<br>

<div *ngIf="addAssessedObject">
    <mat-card>
        <mat-card-title>Add Assessed Object</mat-card-title>
        <mat-card-content>

            <mat-form-field class="full-width">
                    <mat-select placeholder="Choose Type" [(ngModel)]="addAssessedType" class="full-width">
                            <mat-option value="indicator">Indicator</mat-option>
                            <mat-option value="course-of-action">Course of Action</mat-option>
                            <mat-option value="x-unfetter-sensor">Sensor</mat-option>
                        </mat-select>
            </mat-form-field>

        </mat-card-content>
        <mat-card-content *ngIf="addAssessedType">

            <div [ngSwitch]="addAssessedType">

                <div *ngSwitchCase="'indicator'">
                    <div class="row">
                        <div *ngFor="let measurement of indicator.questions" class="col-xs-12">
                            <label class="mat-label">{{measurement.name | capitalize}}</label>
                            <mat-form-field class="full-width">

                            <mat-select [(ngModel)]="measurement.risk" class="full-width matSelectBotMargin">
                                <mat-option *ngFor="let option of measurement.options" [value]="option.risk">
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <input matInput placeholder="Name" required [(ngModel)]="indicator.name" value="{{indicator.name}}" />
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <textarea matInput placeholder="Description" [(ngModel)]="indicator.description" value="{{indicator.description}}"></textarea>
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <input matInput placeholder="Pattern" [(ngModel)]="indicator.pattern" value="{{indicator.pattern}}" />
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <p class="text-right">
                            <button mat-button (click)="addAssessedObject = !addAssessedObject" color="accent">
                                <mat-icon class="mat-24">cancel</mat-icon>
                            </button>
                            <button mat-button [disabled]="!indicator.name" (click)="indicator.name ? createAssessedObject(indicator, currentAttackPattern) : ''" color="primary">
                                <mat-icon class="mat-24">save</mat-icon>
                            </button>
                        </p>
                    </div>
                </div>
                <!-- End indicator-->

                <div *ngSwitchCase="'course-of-action'">
                    <div class="row">
                        <div *ngFor="let measurement of courseOfAction.questions" class="col-xs-12">
                            <label class="mat-label">{{measurement.name | capitalize}}</label>
                            <mat-form-field class="full-width">

                            <mat-select [(ngModel)]="measurement.risk" class="full-width matSelectBotMargin">
                                <mat-option *ngFor="let option of measurement.options" [value]="option.risk">
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <input matInput placeholder="Name" required [(ngModel)]="courseOfAction.name" value="{{courseOfAction.name}}">
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <textarea matInput placeholder="Description" [(ngModel)]="courseOfAction.description" value="{{courseOfAction.description}}"></textarea>
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <p class="text-right">
                            <button color="accent"  mat-button (click)="addAssessedObject = !addAssessedObject">
                                    <mat-icon class="mat-24">cancel</mat-icon>
                            </button>
                            <button color="primary"  mat-button [disabled]="!courseOfAction.name" (click)="courseOfAction.name ? createAssessedObject(courseOfAction, currentAttackPattern) : ''">
                                    <mat-icon class="mat-24">save</mat-icon>

                            </button>
                        </p>
                    </div>
                </div>
                <!-- End COA -->

                <div *ngSwitchCase="'x-unfetter-sensor'">
                    <div class="row">
                        <div *ngFor="let measurement of xUnfetterSensor.questions" class="col-xs-12">
                            <label class="mat-label">{{measurement.name | capitalize}}</label>
                            <mat-form-field class="full-width">

                            <mat-select [(ngModel)]="measurement.risk" class="full-width matSelectBotMargin">
                                <mat-option *ngFor="let option of measurement.options" [value]="option.risk">
                                    {{ option.name }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <input matInput placeholder="Name" required [(ngModel)]="xUnfetterSensor.name" value="{{xUnfetterSensor.name}}" />
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-input-container class="full-width">
                                <textarea matInput placeholder="Description" [(ngModel)]="xUnfetterSensor.description" value="{{xUnfetterSensor.description}}"></textarea>
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-right">
                            <button color="accent"  mat-button (click)="addAssessedObject = !addAssessedObject">
                                    <mat-icon class="mat-24">cancel</mat-icon>
                            </button>
                            <button color="primary"  mat-button [disabled]="!xUnfetterSensor.name" (click)="xUnfetterSensor.name ? createAssessedObject(xUnfetterSensor, currentAttackPattern) : ''">

                                    <mat-icon class="mat-24">save</mat-icon>
                            </button>
                        </p>
                    </div>
                </div>
                <!-- End sensor -->

            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>