<div *ngIf="finishedLoading; else loadingBlock" class="sidenav fadeIn">
  <div @heightCollapse class="flex-col mt-18 mb-12">
  </div>
  <mat-accordion displayMode="flat" multi="false">
    <mat-expansion-panel hideToggle="true" (opened)="onOpenSidePanel('category')">
      <mat-expansion-panel-header [expandedHeight]="sidePanelExpandedHeight" [collapsedHeight]="sidePanelCollapseHeight">
        <mat-panel-title>
          GROUP SETUP
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <div *ngIf="baselineGroups.length > 0">
      <mat-expansion-panel *ngFor="let group of baselineGroups" hideToggle="true" [expanded]="currentBaselineGroup && group.name === currentBaselineGroup.name"
        (opened)="onOpenSidePanel('capability-selector', group, $event)" class="stepper-vertical">
        <mat-expansion-panel-header [expandedHeight]="sidePanelExpandedHeight" [collapsedHeight]="sidePanelCollapseHeight">
          <mat-panel-title >
            {{group.name | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul *ngIf="baselineCapabilities.length > 0" class="stepper stepper-vertical">
          <li *ngFor="let capability of getCapabilities(group)" [class.active]="capability === currentCapability">
            <a href (click)="navigationClicked(capability.id, $event)">
              <span class="circle">&nbsp;</span>
              <span class="label">{{capability.name}}</span>
            </a>
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
    <mat-expansion-panel hideToggle="true" [expanded]="openedSidePanel === 'summary'" (opened)="onOpenSidePanel('summary')">
      <mat-expansion-panel-header [expandedHeight]="sidePanelExpandedHeight" [collapsedHeight]="sidePanelCollapseHeight">
        <mat-panel-title>
          SUMMARY
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="stepper stepper-vertical">
        <li class="active">
          <a (click)="showSummarySavePage()">
            <span class="circle">&nbsp;</span>
            <span class="label">Summary</span>
          </a>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
  </div>

  <div class="card flex1">
  <mat-card>
    <!-- List of cards containing each panel in the baselines wizard -->
    <div [ngSwitch]="openedSidePanel">
      <unf-baseline-wizard-group *ngSwitchCase="'categories'"></unf-baseline-wizard-group>
      <unf-baseline-wizard-capability-selector *ngSwitchCase="'capability-selector'"></unf-baseline-wizard-capability-selector>
      <unf-baseline-wizard-capability #capabilityPane
          *ngSwitchCase="'capabilities'" (onToggleHeatMap)="toggleHeatMap($event)"></unf-baseline-wizard-capability>
      <div *ngSwitchCase="'capability'">
        <p>This is the attack pattern selection and capability scoring panel.</p>
      </div>
      <div *ngSwitchCase="'summary'">
        <mat-card-content>
          <div class="row margin-bottom flex-sm flexItemsCenter">
            <div class="col-sm-9">
              <mat-card-title>
              Baseline Summary
              </mat-card-title>
            </div>
          </div>
          <div class="row mat-card-padding">
            <div class="col-xs-8">
              <mat-form-field class="full-width">
                <input matInput placeholder="Assessment Name" name="assessment-name" [(ngModel)]="meta.title">
                <mat-error *ngIf="isTitleEmpty()">
                  Title is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mat-card-padding">
            <div class="col-xs-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Assessment Description" [(ngModel)]="meta.description"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row mat-card-padding">
            <div class="col-xs-12">
              <created-by-ref [assessmentMeta]="meta"></created-by-ref>
            </div>
          </div>
          <div class="row mat-card-padding">
            <div class="col-xs-12 flex">
              <mat-form-field class="flex1 full-width">
                <mat-select multiple placeholder="Marking References" [(ngModel)]="currentBaseline.object_marking_refs"
                    (selectionChange)="onMarkingChange($event)">
                  <mat-option *ngFor="let marking of marking$ | async" [value]="marking.id">
                    {{getMarkingLabel(marking)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <markings-chips #markingsChips class="flex1" [model]="currentBaseline"></markings-chips>
            </div>
          </div>
        </mat-card-content>
      </div>
      <div *ngSwitchDefault>
        <loading-spinner></loading-spinner>
      </div>
    </div>

    <mat-card-actions class="text-right">
      <button mat-button color="primary" *ngIf="!isFirstPage()" (click)="onBack($event)"> Back</button>
      <button mat-button color="primary" (click)="onBackGroup($event)" *ngIf="hasBackGroup()">Previous Group</button>
      <button mat-button color="primary" (click)="onNextGroup($event)" *ngIf="hasNextGroup()">Next Group</button>
      <button focus="true" mat-raised-button color="primary" (click)="onSave($event)" *ngIf="buttonLabel === 'SAVE'" [disabled]="isTitleEmpty()">{{buttonLabel}}</button>
            <button focus="true" mat-raised-button color="primary" (click)="onNext($event)" *ngIf="buttonLabel !== 'SAVE'" [disabled]="(isGroupsNone() && page === 1) || (isCapabilitiesNone() && page === 2)" >{{buttonLabel}}</button>
    </mat-card-actions>

  </mat-card>
</div>

<ng-template #loadingBlock>
  <loading-spinner></loading-spinner>
</ng-template>

<ng-template #notFound>
  <div class="container">
    <div class="row mt-15">
      <div class="col-xs-10 col-xs-offset-1">
        <error-card errorTitle="Unable to load baseline wizard" errorBody="404: The request URL was not found in the application."></error-card>
      </div>
    </div>
  </div>
</ng-template>
