<div class="sidenav">
  <div @heightCollapse class="flex-col mt-18 mb-12">
  </div>
  <mat-accordion displayMode="flat" multi="false">
    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header [expandedHeight]="sidePanelExpandedHeight" [collapsedHeight]="sidePanelCollapseHeight">
        <mat-panel-title>
          GROUP SETUP
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <div *ngIf="baselineGroups.length > 0">
      <mat-expansion-panel *ngFor="let group of baselineGroups" hideToggle="true" [expanded]="currentBaselineGroup && group.name === currentBaselineGroup.name"
        (opened)="onOpenSidePanel('capability-selector', group)" class="stepper-vertical">
        <mat-expansion-panel-header [expandedHeight]="sidePanelExpandedHeight" [collapsedHeight]="sidePanelCollapseHeight">
          <mat-panel-title >
            {{group.name | uppercase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul *ngIf="baselineCapabilities.length > 0" class="stepper stepper-vertical">
          <li *ngFor="let capability of getCapabilities(group)" [class.active]="capability === currentCapability">
            <a href (click)="navigationClicked(capability.id, $event)">
              <span class="circle">&nbsp;</span>
              <span class="label">{{capability.name}}</span>
            </a>
          </li>
        </ul>
      </mat-expansion-panel>
    </div>
    <mat-expansion-panel hideToggle="true" [expanded]="openedSidePanel === 'summary'" (opened)="onOpenSidePanel('summary'); showSummarySavePage()">
      <mat-expansion-panel-header [expandedHeight]="sidePanelExpandedHeight" [collapsedHeight]="sidePanelCollapseHeight">
        <mat-panel-title>
          SUMMARY
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="stepper stepper-vertical">
        <li class="active">
          <a (click)="showSummarySavePage()">
            <span class="circle">&nbsp;</span>
            <span class="label">Summary</span>
          </a>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="card flex1">
  <mat-card>
    <!-- List of cards containing each panel in the baselines wizard -->
    <div [ngSwitch]="openedSidePanel">
      <unf-baseline-wizard-group *ngSwitchCase="'categories'"></unf-baseline-wizard-group>
      <unf-baseline-wizard-capability-selector *ngSwitchCase="'capability-selector'"></unf-baseline-wizard-capability-selector>
      <unf-baseline-wizard-capability *ngSwitchCase="'capabilities'" (onToggleHeatMap)="toggleHeatMap()"></unf-baseline-wizard-capability>
      <div *ngSwitchCase="'capability'">
        <p>This is the attack pattern selection and capability scoring panel.</p>
      </div>
      <div *ngSwitchDefault>
        <mat-card-header>
          <mat-card-title>Assessment Report</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row mat-card-padding">
            <div class="col-xs-8">
              <mat-form-field class="full-width">
                <input matInput placeholder="Assessment Name" name="assessment-name" [(ngModel)]="meta.title">
                <mat-error *ngIf="isTitleEmpty()">
                  Title is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mat-card-padding">
            <div class="col-xs-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Assessment Description" [(ngModel)]="meta.description"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row mat-card-padding">
            <div class="col-xs-12">
              <created-by-ref [assessmentMeta]="meta"></created-by-ref>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>

    <mat-card-actions class="text-right">
      <button mat-button color="primary" *ngIf="!isFirstPage()" (click)="onBack($event)"> Back</button>
      <button mat-button color="primary" (click)="onBackGroup($event)" *ngIf="hasBackGroup()">Previous Group</button>
      <button mat-button color="primary" (click)="onNextGroup($event)" *ngIf="hasNextGroup(1)">Next Group</button>
      <button mat-button color="primary" (click)="onSave($event)" *ngIf="buttonLabel === 'SAVE'" [disabled]="isTitleEmpty()">{{buttonLabel}}</button>
      <button focus="true" mat-raised-button color="primary" (click)="onNext($event)" *ngIf="buttonLabel !== 'SAVE'">{{buttonLabel}}</button>
    </mat-card-actions>

  </mat-card>
</div>
