<div id="related">
  <div class="container-fluid">
    <div class="row">
      <div class="flex matchHeight">
        <mat-card color="primary" class="uf-mat-card card left-card mat-card-scroll-content" id="riskCard">
          <mat-card-title>Attack Pattern</mat-card-title>
          <mat-card-content>
            <span>FUTURE: List of Attack Patterns</span><br>
            <span> for use in filtering events.</span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
