.intrusion-set-dashboard-side-panel {
    padding-top: 27px;    
    padding-bottom: 30px;
}

.intrusion-set-dashboard-main-panel {
    padding-top: 15px;
}

@media only screen and (min-width: 992px) {
    .intrusion-set-dashboard-side-panel {
        padding-top: 91px;
        padding-bottom: 100px;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow-y: auto;
    }
    .intrusion-set-dashboard-main-panel {
        margin-left: 25%;
    }
}

#graphWrapper {
 padding: 0 0.4rem;
}

#carouselCard {
    padding: 0;
}

#treeSpinner {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-flow: column;
    margin-left: -15px;
    min-height: 70vh;
    z-index: 100;
}
#tabGroup {
    transition: opacity 0.3s ease-in-out;
}