.intrusion-set-dashboard-side-panel {
    padding-top: 27px;    
    padding-bottom: 30px;
}

.intrusion-set-dashboard-main-panel {
    padding-top: 15px;
}

@media only screen and (min-width: 992px) {
    .intrusion-set-dashboard-side-panel {
        padding-top: 91px;
        padding-bottom: 100px;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow-y: auto;
    }
    .intrusion-set-dashboard-main-panel {
        margin-left: 25%;
    }
}

#graphWrapper {
 padding: 0 0.4rem;
}

#carouselCard {
    padding: 0;
}

.titleWrapper {
    background: url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1.jpg);
    background-position: bottom;
    background-size: cover;
    height: 110px;
    font-size: 40px;
    color: white;
    font-weight: 300;
    margin-top: -14px;
}