<div id="intrusion-set-dashboard">

    <div class="container-fluid fadeIn">

        <div class="row">

            <intrusion-sets-panel (onChange)="onIntrusionSetsChange($event)"></intrusion-sets-panel>

            <div class="col-md-9 intrusion-set-dashboard-main-panel">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="intro">
                            <img class='stix-icon height-30' src='assets/icon/stix-icons/svg/threat-actor-b.svg'>
                        </div>
                        <div style="float:left">
                            <h4>Intrusion Sets
                                <i *ngIf="intrusionSets" class="material-icons">keyboard_arrow_right</i>
                                <a><strong *ngFor="let i of intrusionSets; let last = last">
                                    {{i.name}} <i *ngIf="!last"> / </i>
                                </strong></a>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12">

                        <p id="treeSpinner" class="flex flexItemsCenter"
                                [style.display]="treeSpinner ? 'flex' : 'none'">
                            <mat-spinner></mat-spinner>
                        </p>

                        <mat-tab-group [style.opacity]="treeSpinner ? 0 : 1" id="tabGroup">

                            <mat-tab label="Attack Patterns Used">

                                <div id="graphWrapper">

                                    <attack-patterns-legend [total]="totalAttackPatterns"
                                            [intrusionSets]="intrusionSets"></attack-patterns-legend>

                                    <mat-card id="tactics-view" class="margin-top cardHoverShadow">

                                        <mat-card-title>Tactics Used</mat-card-title>

                                        <div #toolboxBtn class="toolbox-btn">
                                            <button mat-icon-button (click)="toggleShowToolbox($event)">
                                                <mat-icon class="mat-24" aria-hidden="true"
                                                        aria-label="change view">zoom_out_map</mat-icon>
                                            </button>
                                        </div>

                                        <div #toolbox class="toolbox mat-elevation-z5" [@topRightSlide]
                                                [style.display]="showToolbox ? 'flex' : 'none'">
                                            <button mat-icon-button matTooltip="HeatMap Chart View"
                                                    (click)="showHeatMap = true">
                                                <mat-icon class="mat-24" aria-hidden="true"
                                                        aria-label="view heat map">view_comfy</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Carousel View"
                                                    (click)="showHeatMap = false">
                                                <mat-icon class="mat-24" aria-hidden="true"
                                                        aria-label="view carousel">view_week</mat-icon>
                                            </button>
                                        </div>

                                        <attack-patterns-heatmap [hidden]="!showHeatMap"
                                                [killChainPhases]="killChainPhases"></attack-patterns-heatmap>

                                        <attack-patterns-carousel [hidden]="showHeatMap"
                                                [killChainPhases]="killChainPhases"></attack-patterns-carousel>

                                    </mat-card>

                                    <intrusion-sets-tree
                                            [treeData]="treeData" (onRender)="treeComplete()"></intrusion-sets-tree>

                                </div>
                                <br />

                            </mat-tab>

                            <mat-tab label="Critical Security Controls (CSC)">
                                <critical-security-controls (treeData)="treeData"></critical-security-controls>
                            </mat-tab>

                        </mat-tab-group>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
