 <md-card>
                        <!--<md-card-header>
                            <md-card-subtitle>Name</md-card-subtitle>  
                            <md-card-title>{{model.name}}</md-card-title>                       
                        </md-card-header>-->
                        <md-card-content>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Name</label>
                                        <p>{{model.attributes.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Description</label>
                                        <p>{{model.attributes.description}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Labels</label>


                                        <md-chip-list>
                                            <md-chip *ngFor="let label of model.attributes.labels"
                                                selected="true"
                                                color="accent">
                                                {{label}}
                                            </md-chip>
                                        </md-chip-list>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>External References</label>
                                        <md-chip-list>
                                            <md-chip *ngFor="let externalReferences of model.attributes.external_references"
                                                selected="true">
                                                {{externalReferences.source_name}}
                                            </md-chip>
                                        </md-chip-list>
                                    </div>
                                </div>
                                
                        </md-card-content>
                    
                    </md-card>