 <mat-card>
                        <!--<mat-card-header>
                            <mat-card-subtitle>Name</mat-card-subtitle>
                            <mat-card-title>{{model.name}}</mat-card-title>
                        </mat-card-header>-->
                        <mat-card-content>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Name</label>
                                        <p>{{model.attributes.name}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Description</label>
                                        <p>{{model.attributes.description}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Labels</label>


                                        <mat-chip-list>
                                            <mat-chip *ngFor="let label of model.attributes.labels"
                                                selected="true"
                                                color="accent">
                                                {{label}}
                                            </mat-chip>
                                        </mat-chip-list>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>External References</label>
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let externalReferences of model.attributes.external_references"
                                                selected="true">
                                                {{externalReferences.source_name}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </div>

                        </mat-card-content>

                    </mat-card>