<div class="top">
  <div class="flex flex-row">
    <div class="header-text">
      Activity
    </div>
    <div class="flex1"></div>
    <global-activity-sort></global-activity-sort>
  </div>
  <ng-container *ngFor="let board of board$ | async">
<!-- TODO 
    <ng-container *ngIf="item.type === 'x-unfetter-article'">
        <ng-container *ngTemplateOutlet="articleTemplate;context:{article:item}"></ng-container>
    </ng-container> -->
    <div *ngFor="let c of board.metaProperties.comments">
      <display-comment [comment]="c" [parent]=null [board_article]="board" [user]="user"></display-comment>
    </div>
</ng-container>
</div>
