<div class="top">
  <div class="flex flex-row">
    <div class="header-text">
      Activity
    </div>
    <div class="flex1"></div>
    <global-activity-sort></global-activity-sort>
  </div>
  <ng-container *ngFor="let item of activity">
    <ng-container *ngIf="item.type === 'x-unfetter-article'">
        <!-- TODO <ng-container *ngTemplateOutlet="articleTemplate;context:{article:item}"></ng-container> -->
    </ng-container>
    <ng-container *ngIf="item.comment">
        <display-comment [comment]="item" [parent]=null [board_article]="boards[item.id]" (newComment)="addAComment($event)"></display-comment>
    </ng-container>
</ng-container>
</div>
