    <div class="row">
       <div class="col-md-12">
            <div class="button-row">
                <button class="mat-primary" mat-raised-button (click)="editButtonClicked()"><i class="material-icons">create</i> EDIT</button>
                <button class="mat-primary" mat-raised-button (click)="deleteButtonClicked()"><i class="material-icons">delete</i> DELETE</button>
            </div>
        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="sensor">
        <div class="col-md-12">
            <mat-card>

                <mat-card-content>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Name</label>
                                <h6>{{sensor.attributes.name}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                    <label>Kill Chain Name:</label>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let kill_chain_phase of sensor.attributes.kill_chain_phases"
                                            selected="true">
                                            {{kill_chain_phase.phase_name}}
                                        </mat-chip>
                                    </mat-chip-list>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12">
                                    <label>Aliases:</label>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let aliase of sensor.attributes.aliases"
                                            selected="true">
                                            {{aliase}}
                                        </mat-chip>
                                    </mat-chip-list>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Description</label>
                                <h6>{{sensor.attributes.description}}</h6>
                            </div>
                        </div>
                </mat-card-content>

            </mat-card>
        </div>
    </div>
    <div *ngIf="sensor" class="pull-right grey-text">{{sensor.id}}</div>