<!--<div class="row">
        <div class="col-md-12">

            <div class="button-row">
                <a md-raised-button routerLink="./new">NEW</a>
                <a md-raised-button (click)="download()">DOWNLOAD</a>            
            </div>
            <div class="pull-right">
                <span class="right-align">Results: {{identities.length}}</span>            
            </div>
        </div>
    </div>-->
    <buttons-filter [model]="identities" [filteredItems]="filteredItems" (filterItemsChange)="onFilterItemsChange($event)"></buttons-filter>

    <list-stix-objects [model]="filteredItems"  [showSectors]="showSectors" [showExternalReferences]="showExternalReferences" (deletButtonClicked)="deletButtonClicked($event)"></list-stix-objects>
   