@import '../../../../../styles/_variables.scss';

.side-panel {
    width: 320px;
    background-color: white;
}

.main-panel {
    min-height: calc(100vh - #{$navbar-height}px);
    background-color: #F1F1F1;
}