
<div class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
        <input matInput placeholder="Name"  required [(ngModel)]="threatActor.attributes.name" value="{{threatActor.attributes.name}}">
        </mat-input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <mat-input-container class="full-width">
        <textarea matInput placeholder="Description" [(ngModel)]="threatActor.attributes.description" value="{{threatActor.attributes.description}}"></textarea>
        </mat-input-container>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
         <label>Sectors</label>
        <div class="row">
            <div class="col-md-4"  *ngFor="let item of labels">
                    <mat-checkbox class="example-margin"  (click)="addLabel(item.label)">{{item.label}}</mat-checkbox>
            </div>
        </div>
    </div>

</div>

<aliases [(model)]="threatActor"></aliases>

<external-reference [(model)]="threatActor"></external-reference>

<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <a class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</a>
                <a class=" " mat-raised-button (click)="saveThreatActor()" [disabled]="!threatActor.attributes.name"><i class="material-icons">save</i> SAVE & CLOSE</a>

        </div>
    </div>
</div>