<div class="row" *ngIf="indicator">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <created-by-ref [model]="indicator"></created-by-ref>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                <input matInput placeholder="Name" required [(ngModel)]="indicator.attributes.name" value="{{indicator.attributes.name}}" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <markdown-editor [editing]="true" [inputLabel]="'Description (Markdown Editor)'"
                    [value]="indicator.attributes.description"
                    (changed)="indicator.attributes.description = $event"></markdown-editor>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Pattern"  [(ngModel)]="indicator.attributes.pattern" value="{{indicator.attributes.pattern}}" required />
                </mat-form-field>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Valid From" [(ngModel)]="indicator.attributes.valid_from">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="picker_to" placeholder="Valid Until" [(ngModel)]="indicator.attributes.valid_until">
                        <mat-datepicker-toggle matSuffix [for]="picker_to"></mat-datepicker-toggle>
                        <mat-datepicker #picker_to></mat-datepicker>
                    </mat-form-field>
            </div>
        </div>
        <stix-text-array [(model)]="indicator" [propertyName]="'labels'"></stix-text-array>
         <kill-chain-phases [(model)]="indicator"></kill-chain-phases>

        <external-reference [(model)]="indicator"></external-reference>
        <published-checkbox [model]="indicator"></published-checkbox>

        <div>
            <label class="mb-5">Observable Data Path</label>
            <observable-data-tree [observedDataPath]="indicator.attributes.metaProperties.observedData"></observable-data-tree>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                        <button mat-button (click)="cancelButtonClicked()">CANCEL</button>
                        <button mat-raised-button (click)="saveIndicator()" [disabled]="invalidate(indicator)" color="primary">SAVE</button>
                </div>
            </div>
        </div>

        <validation-errors [validationErrorMessages]="validationErrorMessages"></validation-errors>
    </div>
</div>
