<div class="stixTableComponent">
    <mat-table #table [dataSource]="dataSource" class="unfetterAngularMaterialTable hideHeader" [class.fix-height-table]="stixData.length > 10">

        <ng-container matColumnDef="stix">
            <mat-header-cell *matHeaderCellDef>STIX</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div class="flex flexItemsCenter">
                    <span class="flex1">
                        <a routerLink="{{element.id}}">{{element.name}}</a>
                        <mat-chip-list *ngIf="element.external_references" class="inlineFlex">
                            <mat-chip *ngFor="let external_reference of element.external_references.slice(0,3)" class="chipListChip">
                                <a target="_blank" *ngIf="external_reference.url"> {{external_reference.source_name}}</a>
                                <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                            </mat-chip>
                         </mat-chip-list>
                        <small *ngIf="element.external_references && element.external_references.length > 3"
                            class="text-muted"
                            matTooltip="{{ externalReferencesToolTipGen(element.external_references.slice(3)) }}"
                            matTooltipPosition="after">
                            + {{ element.external_references.length - 3 }} more
                        </small>
                    </span>
                    <span class="buttonGrp text-right">
                        <button class="mat-primary" mat-button routerLink="edit/{{element.id}}">
                            <i class="material-icons">create</i>
                        </button>
                            <button class="mat-warn" mat-button (click)="deletButtonClicked(element)">
                            <i class="material-icons">delete</i>
                        </button>
                    </span>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="stixData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>