<div class="container">
    <page-header [pageTitle]="pageTitle"  [pageIcon]="pageIcon" [description]="description"></page-header>
    <div class="row">
        <div class="col-md-12">
            <a md-raised-button routerLink="assessments/new?assessmentType=indicator&page=1&step=selection"> ASSESS INDICATORS</a>
            <a md-raised-button routerLink="assessments/new?assessmentType=course-of-action&page=1&step=selection"> ASSESS MITIGATIONS</a> 
            <a md-raised-button routerLink="assessments/relationships/mitigates/course-of-actions/attack-pattern">ASSESS SENSORS</a>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <md-card class="margin-top" *ngFor="let report of reports">
                <div class="row">                                                
                    <div class="col-xs-7"> 
                        <a routerLink="dashboard/{{report.id}}">{{report.attributes.name}}</a>
                    </div>
                    <div class="col-xs-5"> 
                        <button md-raised-button (click)="edit(report)"><i class="fa fa-hand-spock-o"></i></button>
                        <button md-raised-button (click)="edit(report)"><i class="fa fa-pencil"></i></button>
                        <button md-raised-button (click)="delete(report)"><i class="fa fa-trash"></i></button>  
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>