<div class="row" *ngIf="courseOfAction">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <mat-input-container class="full-width">
                <input matInput placeholder="Name" required [(ngModel)]="courseOfAction.attributes.name" value="{{courseOfAction.attributes.name}}">
                </mat-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <mat-input-container class="full-width">
                <textarea matInput placeholder="Description" [(ngModel)]="courseOfAction.attributes.description" value="{{courseOfAction.attributes.description}}"></textarea>
                </mat-input-container>
            </div>
        </div>

        <labels [(model)]="courseOfAction"></labels>
        <external-reference [(model)]="courseOfAction"></external-reference>

        <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                        <a class="" mat-raised-button (click)="cancelButtonClicked()"><i class="material-icons">keyboard_arrow_left</i> CANCEL</a>
                        <a class=" " mat-raised-button (click)="saveCourceOfAction()" [disabled]="!courseOfAction.attributes.name"><i class="material-icons">save</i> SAVE & CLOSE</a>

                </div>
            </div>
        </div>
    </div>
</div>
