<div class="row" *ngIf="courseOfAction">

    <div class="row">
        <div class="col-xs-12">
            <created-by-ref [model]="courseOfAction"></created-by-ref>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                <input matInput placeholder="Name" required [(ngModel)]="courseOfAction.attributes.name" value="{{courseOfAction.attributes.name}}">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Description" [(ngModel)]="courseOfAction.attributes.description" value="{{courseOfAction.attributes.description}}"></textarea>
                </mat-form-field>
            </div>
        </div>

        <stix-text-array [(model)]="courseOfAction" [propertyName]="'labels'"></stix-text-array>
        <external-reference [(model)]="courseOfAction"></external-reference>
        <published-checkbox [model]="courseOfAction"></published-checkbox>

        <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                        <button mat-button (click)="cancelButtonClicked()">CANCEL</button>
                        <button mat-raised-button (click)="saveCourseOfAction()" [disabled]="invalidate(courseOfAction)" color="primary">SAVE</button>

                </div>
            </div>
        </div>
        <validation-errors [validationErrorMessages]="validationErrorMessages"></validation-errors>
    </div>
</div>
