<div class="row" *ngIf="courseOfAction">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <md-input-container class="full-width">
                <input mdInput placeholder="Name" required [(ngModel)]="courseOfAction.attributes.name" value="{{courseOfAction.attributes.name}}">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <md-input-container class="full-width">
                <input mdInput placeholder="Decsription" [(ngModel)]="courseOfAction.attributes.description" value="{{courseOfAction.attributes.description}}">
                </md-input-container>
            </div>
        </div>

        <labels [(model)]="courseOfAction"></labels>
        <external-reference [(model)]="courseOfAction"></external-reference>

        <div class="row">
            <div class="col-md-12">
                <div class="button-row pull-right">
                        <a class="" md-raised-button (click)="cancelButtonClicked()"><i class="fa fa-arrow-left"></i> CANCEL</a>
                        <a class=" " md-raised-button (click)="saveCourceOfAction()" [disabled]="!courseOfAction.attributes.name"><i class="fa fa-floppy-o "></i> SAVE & CLOSE</a>

                </div>
            </div>
        </div>
    </div>
</div>
