<form [formGroup]="form" novalidate (ngSubmit)="submit()">
    <span>
        Modify intrusion sets
    </span>
    <mat-form-field>
        <mat-select color="primary" placeholder="Intrusion Sets" [formControl]="form" multiple>
            <mat-select-trigger>
                {{form.value ? form.value[0].displayValue : ''}}
                <span *ngIf="form.value?.length > 1" class="additionalSelection">
                    (+{{form.value.length - 1}} others)
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let intrusion of intrusions; trackBy: trackByFn" [value]="intrusion">{{intrusion.displayValue}}</mat-option>
        </mat-select>
    </mat-form-field>
    <p class="text-right">
        <button mat-button mat-dialog-close (click)="resetFormAndClose($event);">CANCEL</button>
        <button mat-raised-button color="primary" type="submit">SAVE</button>
    </p>
</form>