<div class="row">
    <div class="col-xs-12">
        <created-by-ref [model]="sensor"></created-by-ref>
    </div>
</div>

<div  *ngIf="sensor" class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
        <input matInput placeholder="Name" required [(ngModel)]="sensor.attributes.name" value="{{sensor.attributes.name}}">
        </mat-input-container>
    </div>
</div>
<div  *ngIf="sensor" class="row">
    <div class="col-md-12">
        <mat-input-container class="full-width">
            <input matInput placeholder="Decsription" [(ngModel)]="sensor.attributes.description" value="{{sensor.attributes.description}}">
        </mat-input-container>
    </div>
</div>


<kill-chain-phases  *ngIf="sensor" [(model)]="sensor"></kill-chain-phases>

<aliases  *ngIf="sensor" [(model)]="sensor"></aliases>
<published-checkbox [model]="sensor"></published-checkbox>

<relatationship-generator [(model)]="sensor"></relatationship-generator>


<div>
    <label class="mb-5">Observable Data Path</label>
    <observable-data-tree [observedDataPath]="sensor.attributes.metaProperties.observedData"></observable-data-tree>
</div>

<div  *ngIf="sensor" class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <button mat-button (click)="cancelButtonClicked()">CANCEL</button>
                <button class=" " mat-raised-button (click)="saveNewSensor()" [disabled]="invalidate(sensor)" color="primary">SAVE</button>
        </div>
    </div>
</div>

<validation-errors [validationErrorMessages]="validationErrorMessages"></validation-errors>