<div id="landingPageComponent" class="container-fluid">
  <div class="row mt-20" *ngIf="authService.pendingApproval()">
    <div class="col-xs-12">
      <div class="uf-well">
        <a (click)="authService.logOut()" class="close" data-dismiss="alert">&times;</a>
        Thank you for registrating to Unfetter. You are pending approval.
      </div>
    </div>
  </div>
  <div class="row">
    <div id="logoWrapper" class="text-center col-xs-12">
      <img src="assets/icon/unfetter_black_lg.png" alt="Unfetter Logo" id="logoImg">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <p class="landingPageText">Discover and analyze gaps in your security posture.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">      
      <div id="heroElement" class="text-center">
        <img src="assets/images/backgrounds/unfetter_header3_sm_lt.png" alt="Unfetter Screenshot">
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 id="descHeading">Discover Gaps. Analytics in Practice. Leverage the Community.</h1>
    </div>
  </div>
  <!-- <div class="row mb-5">
    <div class="col-xs-6 col-xs-offset-3">
      <p class="landingPageText">
        When the threat hits, cybersecurity professionals working at the tactical, operational, and strategic levels need to work
        together quickly and effectively to enable a common cybersecurity strategy that protects against the adversary. To
        do this in a repeatable, scalable way depends on an organization’s ability to discover and mitigate gaps in their
        posture, understand adversary tradecraft, and implement and communicate defensive courses of action. Visit
        <a href="https://iadgov.github.io/unfetter/" target="_blank">unfetter.io</a> for more information.
      </p>
    </div>
  </div> -->
  <div class="row mb-5">
    <div class="col-xs-12">
      <p class="landingPageText text-center">
        Visit <a href="https://iadgov.github.io/unfetter/" target="_blank">unfetter.io</a> for more information.
      </p>
    </div>
  </div>
</div>
