<div class="commentSectionComponent">
  <h4>Comment</h4>
  <div class="mb-6">
    <simplemde-mentions ngDefaultControl [(ngModel)]="commentText" [options]="{ autofocus: true }" class="mdeComment"></simplemde-mentions>
  </div>
  <div class="text-right">
    <button mat-button (click)="commentText = ''; cancelled.emit(null)">CANCEL</button>
    <button mat-raised-button color="primary" [disabled]="commentText === ''" (click)="submitted.emit(commentText)">SAVE</button>
  </div>
  <div label="Comments" *ngIf="stix && stix.metaProperties && stix.metaProperties.comments && stix.metaProperties.comments.length > 0">
    <hr>
    <div *ngFor="let comment of stix.metaProperties.comments | sortByField: 'submitted'; let i = index" class="comment">
      <comment [comment]="comment"></comment>
      <!-- <div class="flex flexItemsCenter mb-12">
                <span *ngIf="comment.user.avatar_url">
                  <img src="{{ comment.user.avatar_url }}" alt="{{ comment.user.userName }} avatar" class="smallAvatar">&nbsp;
                </span>
                <span>&nbsp;
                  <a routerLink="/users/profile/{{comment.user.id}}">{{ comment.user.userName }}</a>
                  <small class="text-muted" title="{{ comment.submitted | date:'medium' }}"> &bull; {{ comment.submitted | timeAgo }}</small>
                </span>
              </div>
              <markdown-mentions [markDown]="comment.comment"></markdown-mentions> -->
      <hr>
    </div>
  </div>
</div>
