<div class="info-bar-component" [style.height]="applyHeightOnOpen && shouldShow ? '48px' : '0px'">
  <div class="info-bar-wrapper" [style.display]="shouldShow === true ? 'block': 'none'">
    <div class="flex">
      <div class="info-bar flex" [class.centered]="shouldCenter" [class.left-aligned]="!shouldCenter">
        <span *ngIf="isWarningMsg">
          <mat-icon class="mat-24" color="warn">warning</mat-icon>
          <span class="cdk-visually-hidden">Warning</span>
        </span>
        <span>
          {{message}}
        </span>
        <span *ngIf="completeBtnMsg && completeActionUrl">
          <a mat-button [routerLink]="completeActionUrl">
            {{completeBtnMsg}}
          </a>
        </span>
        <span>
          <a mat-button (click)="onDismissClick($event)">{{dismissBtnMsg}}</a>
        </span>
      </div>
    </div>
  </div>
</div>
