<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="margin-top: 70px; font-weight: 300;">Attack Patterns <sup>
                        <small class="whiteText">
                            <i class="material-icons">info_outline</i>
                        </small>
                    </sup>
                </h1>
            </div>
        </div>
    </div>
</div>

<div id="fabWrapper">
    <button mat-fab color="primary">
        <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
    <button mat-fab color="warn">
        <mat-icon class="mat-24" aria-label="Example icon-button with a heart icon">file_download</mat-icon>
    </button>
</div>



<!-- <div class="row">
    <div class="col-md-12">

        <div class="button-row">
            <a mat-raised-button routerLink="./new" class="mat-primary">NEW</a>
            <a mat-raised-button (click)="download()" class="mat-primary">DOWNLOAD</a>
        </div>
        <div class="pull-right">
            <span class="right-align">Results: {{attackPatterns.length}}</span>
        </div>

    </div>
</div> -->
<div class="container">
    <div class="row height-100-percent">

        <div class="col-md-12 scroll-area" style="margin-top: -64px;">
            <mat-accordion class="unfetterAngularMaterialAccordion">
                <mat-expansion-panel *ngFor="let key of phaseNameGroupKeys">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{key | capitalize }}&nbsp;
                            <span *ngIf="attackPatternByPhaseMap[key] !== undefined" class="mat-badge">{{attackPatternByPhaseMap[key].length}}</span>
                            <span *ngIf="attackPatternByPhaseMap[key] === undefined || !attackPatternByPhaseMap[key].length" class="mat-badge">0</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="example-container" *ngIf="attackPatternByPhaseMap !== undefined && attackPatternByPhaseMap[key] !== undefined">
                        <stix-table [stixData]="attackPatternByPhaseMap[key]" (delete)="deletButtonClicked($event, key)"></stix-table>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

            <br>
            <!-- <p-accordion (onOpen)="onTabShow($event)">
            <p-accordionTab header="{{key | capitalize }}" *ngFor="let key of phaseNameGroupKeys">
                <p-dataList *ngIf="filterAttackPattern[key]" [value]="filterAttackPattern[key]" [paginator]="true" [rows]="numOfRows" [lazy]="true"
                    (onLazyLoad)="loadData($event, key)" [totalRecords]="totalRecords(key)">
                    <ng-template let-attackPattern pTemplate="item">
                        <div class="row  collection-item grey.lighten-5">
                            <div class="col-md-9">
                                <a class="pull-left list-item--name" routerLink="{{attackPattern.id}}">{{attackPattern.attributes.name}}</a>

                                <mat-chip-list *ngIf="attackPattern.attributes.external_references">
                                    <mat-chip *ngFor="let external_reference of attackPattern.attributes.external_references" style="margin-left: 5px;">
                                        <a target="_blank" *ngIf="external_reference.url"> {{external_reference.source_name}}</a>
                                        <span *ngIf="!external_reference.url"> {{external_reference.source_name}}</span>
                                    </mat-chip>
                                </mat-chip-list>


                            </div>
                            <div class="col-md-3">

                                <button class="pull-right" mat-raised-button (click)="deletButtonClicked(attackPattern, key)"><i class="material-icons">delete</i></button>

                                <button class="pull-right" mat-raised-button (click)="edit(attackPattern)"><i class="material-icons">create</i></button>

                            </div>


                        </div>
                    </ng-template>
                </p-dataList>

            </p-accordionTab>

        </p-accordion> -->

        </div>
    </div>
</div>