<div class="row">
    <div class="col-md-12">

        <div class="button-row">
            <a mat-raised-button routerLink="./new" class="mat-primary">NEW</a>
            <a mat-raised-button (click)="download()" class="mat-primary">DOWNLOAD</a>
        </div>
        <div class="pull-right">
            <span class="right-align">Results: {{attackPatterns.length}}</span>
        </div>

    </div>
</div>
<div class="row height-100-percent">

    <div class="col-md-12 scroll-area">
        <mat-accordion class="unfetterAngularMaterialAccordion">
            <mat-expansion-panel *ngFor="let key of phaseNameGroupKeys">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{key | capitalize }}&nbsp;
                        <span *ngIf="attackPatternByPhaseMap[key] !== undefined" class="mat-badge">{{attackPatternByPhaseMap[key].length}}</span>
                        <span *ngIf="attackPatternByPhaseMap[key] === undefined || !attackPatternByPhaseMap[key].length" class="mat-badge">0</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="example-container" *ngIf="attackPatternByPhaseMap !== undefined && attackPatternByPhaseMap[key] !== undefined">
                    <stix-table [stixData]="attackPatternByPhaseMap[key]" (delete)="deletButtonClicked($event, key)"></stix-table>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <br>

    </div>
</div>