<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">



    <style>
       @keyframes fadeIn { 
                    from {  
                      opacity: .5; 
                      transform: translateY(-20px);
                    } 
                    to { 
                      opacity: 1; 
                      transform: translateY(5px);
                    }  
                  }
      html {
        background: #fafafa;
      }
    </style>
</head>

<body>

  <app>
    <div style="animation: 1.2s ease-in fadeIn;">
      <img align="middle" 
            style="width: 375px; height: 100vh; margin: auto; display:block" 
            src="<%= htmlWebpackPlugin.options.metadata.baseUrl === '/' ? './' : htmlWebpackPlugin.options.metadata.baseUrl %>assets/icon/unfetter-shield.svg">
    </div>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
