<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


<!--<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>-->

    <style>
       @keyframes fadeIn { 
                    from {  
                      opacity: .2; 
                      transform: translateY(-40px) scale(.8);
                    } 
                    to { 
                      opacity: 1; 
                      transform: translateY(5px) scale(1);
                    }  
                  }
    </style>
</head>

<body>

  <app>
    <div style="animation: 1.2s ease-in fadeIn; background-color: #fafafa;">
      <img align="middle" 
            style="width: 375px; height: 100vh; margin: auto; display:block" 
            src="<%= htmlWebpackPlugin.options.metadata.baseUrl === '/' ? './' : htmlWebpackPlugin.options.metadata.baseUrl %>assets/icon/unfetter-shield.svg">
    </div>
  </app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
