<div class="row">
        <div class="col-md-12">

            <div class="button-row">
                <a md-raised-button routerLink="./new">NEW</a>
                <a md-raised-button routerLink="./new">MITIGATES GRID</a>
                <a md-raised-button routerLink="./new">INTRUSION SET</a>
                <a md-raised-button (click)="download()">DOWNLOAD</a>            
            </div>
            <div class="pull-right">
                <span class="right-align">Results: {{relationships.length}}</span>            
            </div>
        </div>
    </div>
   <div class="row" >
        <div class="col-md-12" *ngFor="let relationship of relationships">
           <md-card>
                <md-card-header>
                    <md-card-title>                             
                       
                    </md-card-title>  
                    <div class="row full-width" >
                        <div class="col-md-2">
                            <div >
                                <span>{{relationship.attributes.source_ref | identifierType}}</span>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div >
                                <span>{{relationship.attributes.source_ref | identifierSummarized}}</span>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div >
                                <a href (click)="showDetails($event, relationship)">{{relationship.attributes.relationship_type}}</a>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div >
                                <span>{{relationship.attributes.target_ref | identifierType}}</span>
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <div >
                                <span>{{relationship.attributes.target_ref | identifierSummarized}}</span>
                            </div>
                        </div> 
                         <div class="col-md-2">
                             <a md-raised-button (click)="deleteButtonClicked(relationship)"><i class="fa fa-trash"></i></a> 
                        </div>
                    </div>
                                  
                </md-card-header>
            </md-card>
        </div>
    </div>