@import '../../../styles/_variables.scss';

.flex-cols {
    flex-direction: column;
}

.mb-18 {
    margin-bottom: 18px;
}

.assess-create-card {
    width: 835px;
}

.full-width {
    width: 100%;
}

.center {
    margin: 0 auto;
}