<div class="container">

  <div class="row mt-20" *ngIf="authService.pendingApproval()">
    <div class="col-xs-12">
      <div class="alert alert-info">
        <a (click)="authService.logOut()" class="close" data-dismiss="alert">&times;</a>
        Thank you for registrating to Unfetter. You are pending approval.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1 class="header center indigo-text">Unfetter</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span>A community-driven suite of open source tools to help cyber security professionals 
            explore and analyze gaps in their security posture.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span>When the threat hits, cyber security professionals working at the tactical, operational, and 
            strategic levels need to work together quickly and effectively to enable a common cyber security 
            strategy and protect against the adversary. The ability to do this in a repeatable and scalable 
            way depends on an organization's agility to discover gaps in their security posture, 
            understand adversary tradecraft, and communicate defensive courses of action.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p align="middle"><img align="middle" height="400" class="brand-logo" src="assets/icon/unfetter-shield.svg"></p>
    </div>
  </div>

  <!--   Icon Section   -->
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Leveraging The Community</h5>

        <span class="light">
              The vision for Unfetter is to create a community-driven suite of open source tools that leverage models like MITRE's 
              <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&#8482;</a> to help cyber security professionals explore and analyze gaps 
              in their security posture.  This suite of tools provides a way for users to build on insights and make informed decisions based on data driven trade space analysis.
            </span>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">security</i></h2>
        <h5 class="center">Analytics in Context</h5>
        <span class="light">Our initial prototype, 
              <a href="https://www.github.com/iadgov/unfetter-analytic/wiki" target="_blank">Unfetter|Analytic</a>, 
              is a reference implementation of a platform designed to help analytic developers experiment and gain familiarity with the
              <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&#8482;</a>
              framework as a means of measuring the effectiveness of analytics.
            </span>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
        <h5 class="center">Discover Gaps</h5>

        <span class="light">Our second prototype, <a href="https://www.github.com/iadgov/unfetter-discover/" target="_blank">Unfetter|Discover</a> is aimed at helping the user explore additional gaps across their security posture and experiment with next steps.  The initial focus is on mapping mitigations and security controls to <a href="https://attack.mitre.org" target="_blank">ATT&amp;CK&#8482;</a> and demonstrating how to explore, learn, and communicate between tactical, operational, and strategic levels of operation.
            </span>
      </div>
    </div>
  </div>
</div>