  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center indigo-text">CTI-STIX-SERVICES</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <div class="col s12">
      <br><br>
<p>The Structured Threat Information Expression (STIX) is a standardized language for representing structured cyber threat information.  <a href="<https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=cti-stix" target="_blank">STIX</a>
is a part of the <a href="https://www.oasis-open.org/" target="_blank">OASIS</a> Open Standards consortium.  </p>
<p>This NodeJS based application demonstrates the cti-stix-store capabilities, storing STIX 2.0 data for updating and deleting.</p>
    </div>
    </div>
    </div>
  </div>
