
<div class="row">
    <div class="col-xs-12">
        <created-by-ref [model]="tool"></created-by-ref>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-form-field class="full-width">
        <input matInput placeholder="Name" required [(ngModel)]="tool.attributes.name" value="{{tool.attributes.name}}">
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" [(ngModel)]="tool.attributes.description" value="{{tool.attributes.description}}"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <select-search-field [placeholder]="'Attack Patterns'" [searchUrl]="'attack-patterns'" (optionChanged)="add($event)"></select-search-field>
        <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let attackPattern of attackPatterns">
                {{attackPattern.attributes.name}}
               <span class="cursor-pointer" (click)="remove(attackPattern)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <select-search-field [placeholder]="'Course Of Actions'" [searchUrl]="'course-of-actions'" (optionChanged)="add($event)"></select-search-field>
       <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let courseOfAction of courseOfActions">
                {{courseOfAction.attributes.name}}
                <span class="cursor-pointer" (click)="remove(courseOfAction)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
          <select-search-field [placeholder]="'indicators'" [searchUrl]="'indicators'" (optionChanged)="add($event)"></select-search-field>
       <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let indicator of indicators">
                {{indicator.attributes.name}}
                <span class="cursor-pointer" (click)="remove(indicator)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
          <select-search-field [placeholder]="'Intrusion Sets'" [searchUrl]="'intrusion-sets'" (optionChanged)="add($event)"></select-search-field>
       <mat-chip-list class="pull-left">
            <mat-chip selected="true" color="accent" *ngFor="let intrusionSet of intrusionSets">
                {{intrusionSet.attributes.name}}
                <span class="cursor-pointer" (click)="remove(intrusionSet)"><i class="material-icons">delete</i></span>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>


<stix-text-array [(model)]="tool" [propertyName]="'labels'"></stix-text-array>
<kill-chain-phases [(model)]="tool"></kill-chain-phases>

<external-reference [(model)]="tool"></external-reference>

<published-checkbox [model]="tool"></published-checkbox>


<div class="row">
    <div class="col-md-12">
        <div class="button-row pull-right">
                <button mat-button (click)="cancelButtonClicked()">CANCEL</button>
                <button class=" " mat-raised-button (click)="saveNewTool()" [disabled]="invalidate(tool)" color="primary">SAVE</button>
        </div>
    </div>
</div>

<validation-errors [validationErrorMessages]="validationErrorMessages"></validation-errors>