@import '../../../../styles/_variables.scss';

.noUnderline {
    text-decoration: none;
}

#tabWrapper {
    background-color: $assessments-nav-background;
    height: 128px;
    padding-right: 16px;
    // padding-left: 16px;
  }

#publishButton {
    background-color: $assessments-primary;
    color: $light-text-default;
    font-weight: normal;
    margin-right: 24px;
    margin-bottom: 7px;
}

.publishText {
    font-weight: normal;
    margin-right: 24px;
    margin-bottom: 7px;
}

.indent {
    margin-left: 56px;
}

.flexColumn {
    flex-direction: column;
}

.banner-wrapper {
    position: absolute;
    background-color: #4F5B62;
    height: 48px;
    width: 100%;
    color: $dark-text-default;
    font-size: 14px;

    .flex {
        height: 100%;
        width: 100%;
        .banner {
            margin: auto auto;
        }
    }
}