@import '../../../../styles/_variables.scss';

$notification-row-height: 106;

@media screen and (max-width: 768px) {
    #navbar {
        overflow: auto !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 825px) {
    .nav>li>a {
        padding: 10px 12px;
    }
}

#notificationWindowComponent {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

#avatar {
    margin: -5px auto;
}

#notificationBadge {
    position: absolute;
    top: 13px;
    right: 10px;
}

#notificationBellWrapper {
    user-select: none;
    // padding: 19px 15px 14px;
    // line-height: 20px;
    color: #ffffff;
    position: relative;
    display: block;
    // >.material-icons {
    //     font-size: 26px;
    // }
}

#notificationLi {
    position: relative;
}

#notificationBoxWrapper {
    position: absolute;
    top: $navbar-height - 10px;
    right: 0;
    display: block;
    width: 500px;
    background: $app-background-color;
    transform-origin: right;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    #notificationBoxWrapper {
        top: $navbar-mobile-height - 10px;
    }
}

.notificationBody {
    width: 430px;
    margin-bottom: 0;
}

.readNotication {
    p,
    small,
    .text-muted {
        color: rgba(0, 0, 0, 0.57) !important;
    }
}

#notificiationRowWrapper {
    max-height: ($notification-row-height * 4) + px;
    overflow-y: auto;
}

#notificiationRowWrapper .notificationRow:not(:last-child) {
    border-bottom: 2px solid #eee;
}

.notificationRow {
    height: $notification-row-height + px;
}

.notificationHeader {
    .title {
        font-size: 20px;
        font-weight: 300;
    }
}

.notificationFooter {
    margin-bottom: 0;
}

#markAllAsRead,
.notificationHeader {
    background-color: #eee;
    padding: 10px;
    p {
        margin: 0;
    }
}

.notificationRow {
    padding: 10px;
    .lead {
        margin-bottom: 2px;
    }
}

.dropdown-toggle .caret {
    margin-left: 4px;
}

.dropdown-menu .material-icons {
    font-size: 20px;
}

.navbar {
    min-height: 64px;
}
