@import '../../../../styles/_variables.scss';
@import '../../../../styles/modules/_mixins.scss';

$notification-row-height: 106;

@media screen and (max-width: 768px) {
    #navbar {
        overflow: auto !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 825px) {
    .nav>li>a {
        padding: 10px 12px;
    }
}

#notificationWindowComponent {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

#avatar {
    margin: -5px auto;
}

#notificationBadge {
    position: absolute;
    top: 2px;
    right: 2px;
}

#notificationBellWrapper {
    user-select: none;
    color: #ffffff;
    position: relative;
    display: block;
}

#notificationLi {
    position: relative;
}

#notificationBoxWrapper {
    position: absolute;
    top: $navbar-window-offset + px;
    right: -58px;
    display: block;
    width: 500px;
    background: $app-background-color;
    transform-origin: right;
    z-index: -1;
}

.notificationTitle {
    width: 430px;
    font-size: 18px;

    span {
        display: inline-block;
        transform: translateY(4px);
    }
}

.notificationBody {
    width: 430px;
    margin-bottom: 0;
}

.readNotication {
    p,
    small,
    .text-muted {
        color: $dark-text-dimmed !important;
    }
}

#notificationBoxTriangle {
    @include makeTriangle(#eee);
    left: 11px;
    top: $navbar-triangle-offset+px;
}

#notificiationRowWrapper {
    max-height: ($notification-row-height * 4) + px;
    overflow-y: auto;
}

#notificiationRowWrapper .notificationRow:not(:last-child) {
    border-bottom: 2px solid #eee;
}

.notificationHeader {
    border-top-left-radius: $nav-popup-radius+px;
    border-top-right-radius: $nav-popup-radius+px;

    .title {
        font-size: 20px;
        font-weight: 300;
    }
}

.notificationFooter {
    margin-bottom: 0;
}

#markAllAsRead {
    border-bottom-left-radius: $nav-popup-radius+px;
    border-bottom-right-radius: $nav-popup-radius+px;
}

#markAllAsRead,
.notificationHeader {
    background-color: #eee;
    padding: 10px;

    p {
        margin: 0;
    }
}

.notificationRow {
    padding: 10px;
    height: $notification-row-height+px;

    .lead {
        margin-bottom: 2px;
    }
}

.dropdown-toggle .caret {
    margin-left: 4px;
}

.dropdown-menu .material-icons {
    font-size: 20px;
}

.navbar {
    min-height: 64px;
}

#settingsIcon {
    color: $dark-text-default !important;
}
