<span id="notificationWindowComponent">

  <span id="notificationBellWrapper">
    <button mat-icon-button (click)="showNotificationBar = !showNotificationBar">
      <mat-icon class="mat-24">notifications_none</mat-icon>
    </button>
    <span class="badge bg-accent" id="notificationBadge" *ngIf="getNumUnreadNotifications((notifications$ | async).notifications)">{{ getNumUnreadNotifications((notifications$ | async).notifications) }}</span>
  </span>

  <div id="notificationBoxWrapper" *ngIf="showNotificationBar" class="mat-elevation-z8" @topRightSlide>
    <div *ngIf="(notifications$ | async).notifications.length">
      <div class="notificationHeader">
        <div class="flex flexItemsCenter">
          <span>
            <p class="title">Notifications</p>
            <p>
              <small class="text-muted">
                You have {{ getNumUnreadNotifications((notifications$ | async).notifications) }} new notifications.
              </small>
            </p>
          </span>
          <span class="flex1">&nbsp;</span>
          <span class="mat-24 lh-24">
            <i class="material-icons">settings</i>
          </span>
        </div>
      </div>
      <div id="notificiationRowWrapper">
        <div *ngFor="let notification of (notifications$ | async).notifications | sortByField:'submitted'; let i = index" class="notificationRow flex flexItemsCenter"
          [ngClass]="{'readNotication': notification.read}" (mouseenter)="!notification.read ? markAsRead(notification) : ''">
          <span>
            <p class="lead">
              <span *ngIf="notification.link">
                <a routerLink="{{notification.link}}"><i class="material-icons">exit_to_app</i></a>
              </span>{{ notification.heading }}
            </p>
            <p class="notificationBody flexNowrap">{{ notification.body }}</p>
            <p class="notificationFooter">
              <small class="text-muted">{{ notification.submitted | timeAgo }}</small>
            </p>
          </span>
          <span class="flex1"></span>
          <span (click)="deleteNotification(notification._id, $event)">
            <i class="material-icons mat-24 cursor-pointer">close</i>
          </span>
        </div>
      </div>
      <div id="markAllAsRead" class="text-center">
        <p>
          <span class="cursor-pointer" (click)="markAllAsRead()">Mark all as read</span>
          &nbsp;&bull;&nbsp;
          <span class="cursor-pointer" (click)="deleteAll($event)">Delete all</span>
        </p>
      </div>
    </div>

    <div *ngIf="!(notifications$ | async).notifications.length">
      <div class="notificationHeader">
        <div class="flex flexItemsCenter">
          <span>
            <p class="title">Notifications</p>
            <p>
              <small class="text-muted">
                You have no notifications.
              </small>
            </p>
          </span>
          <span class="flex1">&nbsp;</span>
          <span class="mat-24 lh-24">
            <i class="material-icons">settings</i>
          </span>
        </div>
      </div>
    </div>

  </div>

</span>
