<div class="row">
    <div class="col-md-12">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let target of targets ; trackBy: trackByFn">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{target.attributes.name}} -  {{target.index}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mitigate-list *ngIf="target && source && target.index === 1"
                        [model]="target" [source]="source" [title]="title" [description]="description"></mitigate-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
