
    <div class="row" *ngIf="attackPattern">
       <div class="col-md-12">

                <div class="button-row">
                    <button  class="mat-primary" md-raised-button (click)="editButtonClicked(attackPattern)"><i class="material-icons">create</i> EDIT</button>
                    <button class="mat-primary" md-raised-button (click)="deleteButtonClicked(attackPattern)"><i class="material-icons">delete</i> DELETE</button>
                </div>

        </div>
    </div>
      <div class="row" style="margin-top: 15px;" *ngIf="attackPattern">
        <div class="col-md-12">
            <md-card>

                <md-card-content>
                        <div class="row">
                           <div class="col-md-12">
                                <label>Name</label>
                                <h6>{{attackPattern.attributes.name}}</h6>
                            </div>
                        </div>

                        <div class="row">
                           <div class="col-md-12">
                                <label>Description</label>
                                <h6 [innerHTML]="cleanWhitespace(attackPattern.attributes.description)"></h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Sophistication</label>
                                <h6>{{getSophisticationLevel(attackPattern.attributes.x_unfetter_sophistication_level)}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Kill Chain Name:</label>
                                <md-chip-list>
                                    <md-chip *ngFor="let kill_chain_phase of attackPattern.attributes.kill_chain_phases"
                                        selected="true">
                                        {{kill_chain_phase.phase_name}}
                                    </md-chip>
                                </md-chip-list>
                            </div>
                        </div>
                           <div class="row">
                                <div class="col-md-12">
                                    <label>External References</label>
                                    <md-chip-list>
                                        <md-chip *ngFor="let externalReferences of attackPattern.attributes.external_references"
                                            selected="true">
                                            {{externalReferences.source_name}}
                                        </md-chip>
                                    </md-chip-list>
                                </div>
                            </div>

                </md-card-content>
            </md-card>
        </div>
    </div>

    <relationship-list *ngIf="attackPattern.id" [model]="attackPattern"></relationship-list>
      <div class="pull-right grey-text">{{attackPattern.id}}</div>

