<div id="stixHome" class="container">
    <br>
    <div class="flex-header">
        <span *ngFor="let navigation of navigations">
            <a mat-button [routerLinkActive]="['active']" [routerLink]="[navigation.url]" [routerLinkActiveOptions]="{exact:false}">{{navigation.label}}</a>
        </span>
    </div>
    <!-- NOTE commented this out due to stacking tabs -->
    <!-- <div>
        <nav mat-tab-nav-bar>
            <span mat-tab-link *ngFor="let navigation of navigations" [routerLink]="[navigation.url]" routerLinkActive="mat-tab-link-active"
                #rla="routerLinkActive" [active]="rla.isActive">
                {{navigation.label}}
            </span>
        </nav>
    </div> -->
    <br>

    <router-outlet></router-outlet>
</div>